openapi: 3.2.0
info:
  title: Loadsmart Quotes API
  x-logo:
    altText: Loadsmart API
    url: https://developer.loadsmart.com/logo.svg
  description: "Loadsmart API provides endpoints to quote, book and track shipments autonomously.\n\n# Authentication\n\nLoadsmart API supports JWT tokens for authentication, signed using\npublic/private key pairs (RSA 4096).\n\n## What is JWT?\n\nJSON Web Token (JWT) is an [open standard](https://tools.ietf.org/html/rfc7519) used to\ncreate access tokens that contain some number of claims and is cryptographically signed by\nthe issuer, so its integrity can be verified without an auth server.\n\n## Token algorithm\n\nWe support JWT tokens signed using RS256 algorithm:\n\n```\n{\n  \"alg\": \"RS256\",\n  \"typ\": \"JWT\"\n}\n```\n\n## Required Claims\n\nFor the token payload, we require at least the following claims:\n\n- `sub`: Identifies the subject of the API call. This could be\n  either `sys` (without any user or client context) or `usr:UUID`,\n  where `UUID` is the uuid of the user that will provide the\n  context for the API call.\n- `iss`: Identifies who issued the token. This will be provided by\n  Loadsmart when setting up the integration.\n- `iat`: Standard \"issued at\" claim; should be an unix timestamp.\n- `exp`: Standard \"expires at\" claim; should be an unix timestamp.\n  We recomend to keep the token as short-lived as possible - ideally\n  it should not be valid for more than 1 minute. In the future,\n  Loadsmart could reject tokens with high expiration times.\n\n## Using the token\n\nThe token must be present in the `Authorization` header on all\nrequests, following the format:\n\n```\nAuthorization: JWT <token>\n```\n\nEach part of the token is encoded in base64 and joined with a dot separating each encoded part -\nif you use a library to generate it (which is recommended), you don't need to worry about it.\n\n**Important: Authorization header value must have the prefix `JWT`**.\n\nSee an example:\n\n```\nAuthorization: JWT eyJhbGciOiJSUzI1NiIsInR5cCI6IkpXVCJ9.eyJzdWIiOiIxMjM0NTY3ODkwIiwibmFtZSI6IkpvaG4gRG9lIiwiYWRtaW4iOnRydWUsImlhdCI6MTUxNjIzOTAyMn0.TCYt5XsITJX1CxPCT8yAV-TVkIEq_PbChOMqsLfRoPsnsgw5WEuts01mq-pQy7UJiN5mgRxD-WUcX16dUEMGlv50aqzpqh4Qktb3rk-BuQy72IFLOqV0G_zS245-kronKb78cPN25DGlcTwLtjPAYuNzVBAh4vGHSrQyHUdBBPM\n```\n\n## Available contexts\n\nEach token has an implicit context associated with it (usually depending on the value of `sub`\nclaim). This context identifies to the API if the entity doing an action is an user or a system.\n\nLoadsmart API has different token contexts depending on the endpoint being called. Each endpoint\nwill specify the supported contexts (and required scopes) in `AUTHORIZATIONS` section.\n\n<!-- ReDoc-Inject: <security-definitions> -->\n\n## API Access\n\nTo start using Loadsmart API, please get in touch through your\npoint of contact. They will direct you through the proper flow.\n\n### Creating a public/private key pair\n\nFor JWT tokens, you should provide your *public key*. To generate a\npublic and private key pair, you can use OpenSSL:\n\n```bash\n$ openssl genpkey -algorithm RSA -out private_key.pem -pkeyopt rsa_keygen_bits:4096\n$ openssl rsa -in private_key.pem -pubout -out public_key.pem\n```\n\n*Never* reuse keys between multiple systems.\n\nFor more information, checkout the [official JWT website](https://jwt.io/).\n"
  version: 1.0.0
servers:
- url: https://api.loadsmart.com
  description: Production server
- url: https://api.sandbox.loadsmart.com
  description: Sandbox environment
tags:
- name: Quotes
  description: 'Quotes provide the price and conditions for a future shipment.

    To create a shipment, you need first to request a valid quote.

    '
paths:
  /api/v2/quotes-request:
    post:
      summary: Create quote request
      description: 'Request quotes for a future shipment.


        Returns a unique identifier (`id`) for the quote request. After creating the quote request, the

        [Retrieve details from a quote request](#tag/Quotes/paths/~1api~1v2~1quotes-request~1{uuid}/get) endpoint must

        be polled in order to retrieve the result of this quote request.

        '
      security:
      - User-JWT:
        - quote_write
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                shipment_mode:
                  allOf:
                  - type: array
                    items:
                      type: object
                      properties:
                        type:
                          type: string
                          default: FTL
                          enum:
                          - FTL
                          - LTL
                          - PTL
                          - RAIL
                          description: 'The transportation mode of the load. Allowed values are:

                            - FTL: Full Truckload

                            - LTL: Less-than-Truckload

                            - PTL: Partial Truckload

                            - RAIL: Intermodal rail (53'' containers)

                            '
                    x-external: true
                equipments:
                  allOf:
                  - type: array
                    items:
                      type: object
                      properties:
                        type:
                          type: string
                          enum:
                          - DRV
                          - FBE
                          - RFR
                          - IMC
                          description: "Equipment required to transport the shipment. Recognized equipments are:\n  - DRV: Dry Van\n  - FBE: Flatbed\n  - RFR: Reefer\n  - IMC: Intermodal\n"
                    maxItems: 1
                    minItems: 1
                    x-external: true
                total_width:
                  type: number
                  description: The load total width expressed in 'ft'
                  minimum: 0
                total_length:
                  type: number
                  description: The load total length expressed in 'ft'
                  minimum: 0
                total_height:
                  type: number
                  description: The load total height expressed in 'ft'
                  minimum: 0
                requirements:
                  type:
                  - object
                  - 'null'
                  description: Requirements that needs to be fulfilled in order to transport the load
                  properties:
                    hazmat:
                      type: boolean
                      description: The commodity being moved consists of hazard material
                    tarp:
                      type: object
                      description: If present in 'requirements', it means the shipment needs a tarp
                      properties:
                        size:
                          type: number
                          format: float
                          minimum: 0
                          description: size in expressed in 'ft'
                        type:
                          type: string
                          enum:
                          - lumber
                          - steel
                          - smoke
                          - parachute
                          - machinery
                          - canvas
                          - hay
                          - poly
                      required:
                      - size
                    dunnage:
                      type: boolean
                      description: Extra rack added to the truck
                    beer:
                      type: boolean
                      description: The carrier must be able to transport alcohool
                    teams:
                      type: boolean
                      description: If it requires a team of drivers
                customer_reference:
                  type: string
                  maxLength: 255
                  description: Internal client's reference, such as an ID, of the load
                accessorials:
                  type: array
                  description: Accessorials are extra charges/services that exist outside the 'normal' standard operating procedure. They are upcharged by the Carriers, and are qualifiers for Carrier Eligibility. FTL loads do not accept accessorials on the quote request.
                  items:
                    type: string
                    enum:
                    - protect_from_freeze
                    - lift-gate-pickup
                    - residential-pickup
                    - inside-pickup
                    - tradeshow_pickup
                    - limited-access-pickup
                    - construction-site-pickup
                    - non-commercial-pickup-storage-facility
                    - appointment-pickup
                    - notify-prior-to-arrival-delivery
                    - lift-gate-delivery
                    - residential-delivery
                    - inside-delivery
                    - limited-access-delivery
                    - non-commercial-delivery-storage-facility
                    - tradeshow_delivery
                    - construction-site-delivery
                    - appointment-delivery
                    - sort-and-segregate
                    - notify-prior-to-arrival
                stops:
                  type: array
                  description: Points of interest where the truck makes a stop to either pickup or deliver a shipment. Usually a quote has one pickup stop and one delivery stop, but in some cases there will be multiple delivery stops.
                  items:
                    oneOf:
                    - type: object
                      title: Zipcode; Window
                      properties:
                        type:
                          type: string
                          enum:
                          - PU
                          - DEL
                          description: The type of the stop, can be PU (Pickup) or DEL (Delivery)
                        address:
                          type: string
                        zipcode:
                          type: string
                        country:
                          type: string
                          pattern: ^[A-Z]{3}$
                          description: 3-letter country code, uppercase (ISO 3166-1 alpha-3)
                        drop_trailer:
                          type: boolean
                          description: Indicates whether the truck will drop the trailer at the stop
                        window:
                          type: object
                          description: "A time window indicating when the truck should be at the stop.\nIf the stop date is not defined in the request payload, the API will estimate it based on the trip duration.\nThis will only occur when:\n  i) pickup date is undefined and all delivery dates are defined\n  ii) pickup date is defined and any delivery date is undefined.\nIf a request does not define all stop dates and does not comply with i or ii, then a validation error will be returned\n"
                          properties:
                            start:
                              type: string
                              format: date-time
                            end:
                              type: string
                              format: date-time
                          required:
                          - start
                          - end
                      required:
                      - zipcode
                      - country
                    - type: object
                      title: City & State; Window
                      properties:
                        type:
                          type: string
                          enum:
                          - PU
                          - DEL
                          description: The type of the stop, can be PU (Pickup) or DEL (Delivery)
                        address:
                          type: string
                        city:
                          type: string
                        state:
                          type: string
                        country:
                          type: string
                          pattern: ^[A-Z]{3}$
                          description: 3-letter country code, uppercase (ISO 3166-1 alpha-3)
                        window:
                          type: object
                          description: "A time window indicating when the truck should be at the stop.\nIf the stop date is not defined in the request payload, the API will estimate it based on the trip duration.\nThis will only occur when:\n  i) pickup date is undefined and all delivery dates are defined\n  ii) pickup date is defined and any delivery date is undefined.\nIf a request does not define all stop dates and does not comply with i or ii, then a validation error will be returned\n"
                          properties:
                            start:
                              type: string
                              format: date-time
                            end:
                              type: string
                              format: date-time
                          required:
                          - start
                          - end
                        drop_trailer:
                          type: boolean
                          description: Indicates whether the truck will drop the trailer at the stop
                        accessorials:
                          type: array
                          items:
                            type: string
                            enum:
                            - protect_from_freeze
                            - lift-gate-pickup
                            - residential-pickup
                            - inside-pickup
                            - tradeshow_pickup
                            - limited-access-pickup
                            - construction-site-pickup
                            - non-commercial-pickup-storage-facility
                            - appointment-pickup
                            - notify-prior-to-arrival-delivery
                            - lift-gate-delivery
                            - residential-delivery
                            - inside-delivery
                            - limited-access-delivery
                            - non-commercial-delivery-storage-facility
                            - tradeshow_delivery
                            - construction-site-delivery
                            - appointment-delivery
                            - sort-and-segregate
                            - notify-prior-to-arrival
                      required:
                      - city
                      - state
                      - country
                      - window
                    - type: object
                      title: Zipcode; Window Start
                      properties:
                        type:
                          type: string
                          enum:
                          - PU
                          - DEL
                          description: The type of the stop, can be PU (Pickup) or DEL (Delivery)
                        address:
                          type: string
                        zipcode:
                          type: string
                        country:
                          type: string
                          pattern: ^[A-Z]{3}$
                          description: 3-letter country code, uppercase (ISO 3166-1 alpha-3)
                        date:
                          type: string
                          format: date
                          description: A date indicating when the truck should be at the stop.
                        window_start:
                          type: string
                          format: date-time
                          description: A date-time indicating when the truck should be at the stop. This field is required for the pickup stop if "window" is not provided. The next stops can use "date".
                        drop_trailer:
                          type: boolean
                          description: Indicates whether the truck will drop the trailer at the stop
                        accessorials:
                          type: array
                          items:
                            type: string
                            enum:
                            - protect_from_freeze
                            - lift-gate-pickup
                            - residential-pickup
                            - inside-pickup
                            - tradeshow_pickup
                            - limited-access-pickup
                            - construction-site-pickup
                            - non-commercial-pickup-storage-facility
                            - appointment-pickup
                            - notify-prior-to-arrival-delivery
                            - lift-gate-delivery
                            - residential-delivery
                            - inside-delivery
                            - limited-access-delivery
                            - non-commercial-delivery-storage-facility
                            - tradeshow_delivery
                            - construction-site-delivery
                            - appointment-delivery
                            - sort-and-segregate
                            - notify-prior-to-arrival
                      required:
                      - zipcode
                      - country
                      - window_start
                    - type: object
                      title: City & State; Window Start
                      properties:
                        type:
                          type: string
                          enum:
                          - PU
                          - DEL
                          description: The type of the stop, can be PU (Pickup) or DEL (Delivery)
                        address:
                          type: string
                        city:
                          type: string
                        state:
                          type: string
                        country:
                          type: string
                          pattern: ^[A-Z]{3}$
                          description: 3-letter country code, uppercase (ISO 3166-1 alpha-3)
                        date:
                          type: string
                          format: date
                          description: A date indicating when the truck should be at the stop.
                        window_start:
                          type: string
                          format: date-time
                          description: A date-time indicating when the truck should be at the stop. This field is required for the pickup stop if "window" is not provided. The next stops can use "date".
                        drop_trailer:
                          type: boolean
                          description: Indicates whether the truck will drop the trailer at the stop
                        accessorials:
                          type: array
                          items:
                            type: string
                            enum:
                            - protect_from_freeze
                            - lift-gate-pickup
                            - residential-pickup
                            - inside-pickup
                            - tradeshow_pickup
                            - limited-access-pickup
                            - construction-site-pickup
                            - non-commercial-pickup-storage-facility
                            - appointment-pickup
                            - notify-prior-to-arrival-delivery
                            - lift-gate-delivery
                            - residential-delivery
                            - inside-delivery
                            - limited-access-delivery
                            - non-commercial-delivery-storage-facility
                            - tradeshow_delivery
                            - construction-site-delivery
                            - appointment-delivery
                            - sort-and-segregate
                            - notify-prior-to-arrival
                      required:
                      - city
                      - state
                      - country
                      - window_start
                  minItems: 2
                items:
                  type: array
                  description: A list of actual packages that will be moved within the load. One quote - that later will become a shipment - may have none or many Items. These Items will have a lot of different attributes related to it, but specially Dimensions, Weight, Freight Class among some others
                  items:
                    type: object
                    properties:
                      items_count:
                        oneOf:
                        - type: number
                        - type: string
                        description: How many of this specific item we will have. This is not the quantity of records in the database.
                      length:
                        oneOf:
                        - type: number
                        - type: string
                        description: Length of the shipping item
                      width:
                        oneOf:
                        - type: number
                        - type: string
                        description: Width of the shipping item
                      height:
                        oneOf:
                        - type: number
                        - type: string
                        description: Height of the shipping item
                      classification:
                        type: string
                        description: Classification representing the Class of the shipping item
                        enum:
                        - '50'
                        - '55'
                        - '60'
                        - '65'
                        - '70'
                        - '77.5'
                        - '85'
                        - '92.5'
                        - '100'
                        - '110'
                        - '125'
                        - '150'
                        - '175'
                        - '200'
                        - '250'
                        - '300'
                        - '400'
                        - '500'
                      nmfc_code:
                        type: string
                        description: The NMFC Number associated with the shipping item
                      package_type:
                        type: string
                        description: Package type
                        enum:
                        - std_pallets
                        - pallets_non_std
                        - bags
                        - bales
                        - boxes
                        - bunches
                        - carpets
                        - coils
                        - crates
                        - cylinders
                        - drums
                        - pails
                        - reels
                        - rolls
                        - tubes_pipes
                        - loose
                        - ubox
                      hazmat:
                        type: boolean
                        description: The commodity being moved consists of hazard material
                      hazmat_class:
                        type: string
                        description: Hazmat class
                        enum:
                        - explosive_non_specified
                        - mass_explosive
                        - projection_explosive
                        - minor_fire_explosive
                        - minor_explosive
                        - insensitive_mass_explosive
                        - insensitive_minor_explosive
                        - gas_non_specified
                        - flammable_gas
                        - non_flammable_non_poisonous_or_oxygen_gas
                        - poison_gas
                        - flammable_liquid
                        - solid_non_specified
                        - flammable_solid
                        - spontaneously_combustible_solid
                        - dangerous_when_wet
                        - oxidizer_non_specified
                        - oxidizer
                        - organic_peroxide
                        - poison
                        - radioactive
                      un_number:
                        type: string
                        description: UN numbers are four-digit numbers that identify hazardous materials, and articles in the framework of international transport.
                      stackable:
                        type: boolean
                        description: Indicates if the item is stackable on the truck
                      description:
                        type: string
                        maxLength: 255
                        description: Name of the commodity that will be shipped
                      weight:
                        oneOf:
                        - type: number
                        - type: string
                        description: 'The total weight, in pounds, of the shipment. Acceptable values must be positive numbers with up to 2 decimal digits.

                          Any other type will cause a validation error. Note that the minimum value is 1 and the maximum value

                          depends on the chosen equipment_type: 45000 for DRV, 43000 for RFR and 50000 for FBE.

                          If the weight is not provided, it is set to the maximum allowed for the equipment_type.

                          '
                        minimum: 1
                        maximum: 50000
                    required:
                    - items_count
                    - length
                    - width
                    - height
                    - classification
                    - description
                    - package_type
                    - hazmat
                    - stackable
                    - weight
                  properties: {}
                properties:
                  type: object
                  description: 'General information about the load.

                    This is an open JSON field that allows passing special properties with meaning on the customer context, such as the order numbers, must_arrive_by_date, priority and others.

                    '
              required:
              - shipment_mode
              - equipments
              - stops
            examples:
              Request:
                value:
                  shipment_mode:
                  - LTL
                  equipments:
                  - type: DRV
                  - type: FBE
                  customer_reference: a reference for the quote
                  total_height: 10.5
                  total_length: 52
                  total_width: 7
                  requirements:
                    hazmat: false
                  stops:
                  - type: PU
                    address: 12345 E 16th avenue
                    city: Miami Beach
                    state: FL
                    drop_trailer: true
                    zipcode: '33140'
                    country: USA
                    window:
                      start: 2018-06-20 09:00:00
                      end: 2018-06-20 11:00:00
                    accessorials:
                    - sort-and-segregate
                    - inside-pickup
                  - type: DEL
                    address: 54321 E 16th avenue
                    city: New York
                    state: NY
                    drop_trailer: false
                    zipcode: '33140'
                    country: USA
                  items:
                  - items_count: 1
                    length: 12
                    width: 18
                    height: 24
                    classification: '80'
                    nmfc_code: 19874
                    package_type: std_pallets
                    hazmat: true
                    hazmat_class: mass_explosive
                    un_number: 1485
                    stackable: false
                    description: apples
                    weight: 20000
      responses:
        '202':
          description: Quote request was accepted
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    type: object
                    properties:
                      id:
                        type: string
                        description: A unique identifier for the quote request
                    required:
                    - id
                required:
                - data
              examples:
                AcceptedQuote:
                  value:
                    data:
                      id: 3802fab9-bcbe-42b4-9132-2e0a65c11e1d
                RejectedQuote:
                  value:
                    data:
                      id: 3802fab9-bcbe-42b4-9132-2e0a65c11e1d
        '422':
          description: Invalid or missing data
          content:
            application/json:
              schema:
                type: object
                properties:
                  error:
                    type: string
                    enum:
                    - invalid_data
                  error_description:
                    type: string
                    description: Description of what happened
                  errors:
                    type: object
                    description: Object where each field is a key and the value is an array of errors
                required:
                - error
                - error_description
              example:
                error: invalid_data
                error_description: Can't create the object
                errors:
                  field_name:
                  - This field is required.
                  other_field:
                  - Expected string but received integer.
      tags:
      - Quotes
  /api/v2/quotes-request/{uuid}:
    get:
      summary: Retrieve details from a quote request
      description: 'A quote can either be `available`, `rejected`, `expired` or `booked`.  If

        it''s available, a price and expiration date will be returned.  In the case

        the quote is rejected, the reason will be detailed in the response.


        Rejections could be a temporary condition. Retrying the request may

        or may not provide the caller with an available quote.


        #### List of possible reject reasons


        **Note**: we constantly add and remove reject reasons from this list.

        To make sure the client will continue to work properly in case

        a new reject reason is added, you can use the message on

        `reject_description` field to show to users what happened.


        * forbidden-date: Date is valid but not allowed

        * price-unavailable: Could not get price

        * shipper-over-capacity: Shipper over Capacity

        * lane-not-permitted: Lane not Permitted

        * shipper-daily-quotes-over-capacity: Shipper daily quotes over capacity

        * mileage-unavailable: Could not get mileage

        * next-day-shipment-not-allow: Next day quotes are not allowed

        * inactive-shipper-daily-quotes-over-capacity: Inactive shipper daily quotes over capacity

        * weekend-pickup-not-allowed: Pickups are not allowed to happen on weekends

        * same-day-shipment-not-allow: Same day quote is not allowed

        * market-size-too-large: Market Size too Large

        * flatbed-not-allowed: Flatbed not allowed

        * shipper-profile-is-incomplete: Shipper profile is incomplete

        '
      tags:
      - Quotes
      security:
      - User-JWT:
        - quote_write
      parameters:
      - in: path
        name: uuid
        schema:
          description: Unique Quote Request identifier
          type: string
          format: uuid
        required: true
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    type: object
                    properties:
                      id:
                        type: string
                        format: uuid
                      status:
                        type: string
                      reject_reason:
                        type: string
                      mileage:
                        type: number
                      quotes:
                        type: array
                        items:
                          type: object
                          properties:
                            quote_id:
                              type: string
                              maxLength: 40
                              description: Reference for the quote that should be used to book the load
                            asset_carrier_quote_id:
                              type: string
                              maxLength: 64
                              description: Reference for the asset carrier quote.
                            expires_at:
                              type: datetime
                            status:
                              enum:
                              - pending
                              - available
                              - rejected
                            shipment_mode:
                              type: array
                              items:
                                type: string
                                default: FTL
                                enum:
                                - FTL
                                - LTL
                                - PTL
                                - RAIL
                                description: 'The transportation mode of the load. Allowed values are:

                                  - FTL: Full Truckload

                                  - LTL: Less-than-Truckload

                                  - PTL: Partial Truckload

                                  - RAIL: Intermodal rail (53'' containers)

                                  '
                            customer_reference:
                              type: string
                              maxLength: 255
                              description: Internal client's reference, such as an ID, of the quote
                            service_level:
                              type: string
                              maxLength: 255
                              description: A guarantee given by the carrier of deliverying the load on the specified time. Often a higher service level means a higher price
                            carriers:
                              type: array
                              items:
                                type: object
                                properties:
                                  name:
                                    type: string
                                  uuid:
                                    type: string
                                    format: uuid
                                  priority:
                                    type: string
                                    enum:
                                    - favorited
                                    - restricted
                                    - neutral
                                  scac:
                                    type: string
                                    maxLength: 4
                                    description: Standard Carrier Alpha Code (for `LTL`/`VLTL` quotes only)
                            price:
                              type: object
                              properties:
                                total:
                                  type: number
                                components:
                                  type: array
                                  items:
                                    type: object
                                    properties:
                                      type:
                                        type: string
                                      price:
                                        type: number
                            equipment:
                              type: string
                              enum:
                              - DRV
                              - FBE
                              - RFR
                              description: The type of truck used to transport the shipment. Allowed values are DRV (dry van), FBE (flatbed) and RFR (reefer)
                            stops:
                              type: array
                              description: Points of interest where the truck makes a stop to either pickup or deliver a shipment. Usually a quote has one pickup stop and one delivery stop, but in some cases there will be multiple delivery stops.
                              items:
                                oneOf:
                                - type: object
                                  title: Zipcode
                                  properties:
                                    type:
                                      type: string
                                      enum:
                                      - PU
                                      - DEL
                                      description: The type of the stop, can be PU (Pickup) or DEL (Delivery)
                                    facility_name:
                                      type: string
                                      description: Name of the facility at this stop
                                    contacts:
                                      type: array
                                      items:
                                        type: object
                                        properties:
                                          name:
                                            type: string
                                            description: Name of the person who is the contact at this stop
                                            maxLength: 255
                                          email:
                                            type: string
                                            format: email
                                            description: Email of the contact. Required if no phone number is provided
                                            maxLength: 254
                                          phone_number:
                                            description: Phone number of the contact. Required if email is provided
                                            type: string
                                            pattern: \+\d{4,15}
                                            maxLength: 16
                                        required:
                                        - name
                                    city:
                                      type: string
                                    state:
                                      type: string
                                    address:
                                      type: string
                                    country:
                                      type: string
                                    zipcode:
                                      type: string
                                      pattern: ^[A-Z]{3}$
                                      description: 3-letter country code, uppercase (ISO 3166-1 alpha-3)
                                    window:
                                      type: array
                                      items:
                                        type: object
                                        properties:
                                          start:
                                            type: string
                                            format: naive date-time
                                            description: A window start indicating the start local time of the truck at the stop (required for first stop)
                                          end:
                                            type: string
                                            format: naive date-time
                                            description: A window end indicating the end local time of the truck stop at the stop
                                    instructions:
                                      type: string
                                      description: Instructions for the driver
                                  required:
                                  - zipcode
                                  - country
                                  - window_start
                                - type: object
                                  title: City & State
                                  properties:
                                    type:
                                      type: string
                                      enum:
                                      - PU
                                      - DEL
                                      description: The type of the stop, can be PU (Pickup) or DEL (Delivery)
                                    facility_name:
                                      type: string
                                      description: Name of the facility at this stop
                                    contacts:
                                      type: array
                                      items:
                                        type: object
                                        properties:
                                          name:
                                            type: string
                                            description: Name of the person who is the contact at this stop
                                            maxLength: 255
                                          email:
                                            type: string
                                            format: email
                                            description: Email of the contact. Required if no phone number is provided
                                            maxLength: 254
                                          phone_number:
                                            description: Phone number of the contact. Required if email is provided
                                            type: string
                                            pattern: \+\d{4,15}
                                            maxLength: 16
                                        required:
                                        - name
                                    city:
                                      type: string
                                    state:
                                      type: string
                                    address:
                                      type: string
                                    country:
                                      type: string
                                    zipcode:
                                      type: string
                                      pattern: ^[A-Z]{3}$
                                      description: 3-letter country code, uppercase (ISO 3166-1 alpha-3)
                                    window_start:
                                      description: A window start indicating the start local time of the truck at the stop (required for first stop)
                                      type: string
                                      format: naive date-time
                                    window_end:
                                      description: A window end indicating the end local time of the truck stop at the stop
                                      type: string
                                      format: naive date-time
                                    instructions:
                                      type: string
                                      description: Instructions for the driver
                                  required:
                                  - city
                                  - state
                                  - country
                                  - window_start
                                  - window_end
                          required:
                          - id
                          - status
                      items:
                        type: array
                        items:
                          type: object
                          properties:
                            items_count:
                              oneOf:
                              - type: number
                              - type: string
                              description: How many of this specific item we will have. This is not the quantity of records in the database.
                            length:
                              oneOf:
                              - type: number
                              - type: string
                              description: Length of the shipping item
                            width:
                              oneOf:
                              - type: number
                              - type: string
                              description: Width of the shipping item
                            height:
                              oneOf:
                              - type: number
                              - type: string
                              description: Height of the shipping item
                            classification:
                              type: string
                              description: Classification representing the Class of the shipping item
                              enum:
                              - '50'
                              - '55'
                              - '60'
                              - '65'
                              - '70'
                              - '77.5'
                              - '85'
                              - '92.5'
                              - '100'
                              - '110'
                              - '125'
                              - '150'
                              - '175'
                              - '200'
                              - '250'
                              - '300'
                              - '400'
                              - '500'
                            nmfc_code:
                              type: string
                              description: The NMFC Number associated with the shipping item
                            package_type:
                              type: string
                              description: Package type
                              enum:
                              - std_pallets
                              - pallets_non_std
                              - bags
                              - bales
                              - boxes
                              - bunches
                              - carpets
                              - coils
                              - crates
                              - cylinders
                              - drums
                              - pails
                              - reels
                              - rolls
                              - tubes_pipes
                              - loose
                              - ubox
                            hazmat:
                              type: boolean
                              description: The commodity being moved consists of hazard material
                            hazmat_class:
                              type: string
                              description: Hazmat class
                              enum:
                              - explosive_non_specified
                              - mass_explosive
                              - projection_explosive
                              - minor_fire_explosive
                              - minor_explosive
                              - insensitive_mass_explosive
                              - insensitive_minor_explosive
                              - gas_non_specified
                              - flammable_gas
                              - non_flammable_non_poisonous_or_oxygen_gas
                              - poison_gas
                              - flammable_liquid
                              - solid_non_specified
                              - flammable_solid
                              - spontaneously_combustible_solid
                              - dangerous_when_wet
                              - oxidizer_non_specified
                              - oxidizer
                              - organic_peroxide
                              - poison
                              - radioactive
                            un_number:
                              type: string
                              description: UN numbers are four-digit numbers that identify hazardous materials, and articles in the framework of international transport.
                            stackable:
                              type: boolean
                              description: Indicates if the item is stackable on the truck
                            description:
                              type: string
                              maxLength: 255
                              description: Name of the commodity that will be shipped
                            weight:
                              oneOf:
                              - type: number
                              - type: string
                              description: 'The total weight, in pounds, of the shipment. Acceptable values must be positive numbers with up to 2 decimal digits.

                                Any other type will cause a validation error. Note that the minimum value is 1 and the maximum value

                                depends on the chosen equipment_type: 45000 for DRV, 43000 for RFR and 50000 for FBE.

                                If the weight is not provided, it is set to the maximum allowed for the equipment_type.

                                '
                              minimum: 1
                              maximum: 50000
                          required:
                          - items_count
                          - length
                          - width
                          - height
                          - classification
                          - description
                          - package_type
                          - hazmat
                          - stackable
                          - weight
                      stops:
                        type: array
                        items:
                          oneOf:
                          - type: object
                            title: Zipcode
                            properties:
                              type:
                                type: string
                                enum:
                                - PU
                                - DEL
                                description: The type of the stop, can be PU (Pickup) or DEL (Delivery)
                              facility_name:
                                type: string
                                description: Name of the facility at this stop
                              contacts:
                                type: array
                                items:
                                  type: object
                                  properties:
                                    name:
                                      type: string
                                      description: Name of the person who is the contact at this stop
                                      maxLength: 255
                                    email:
                                      type: string
                                      format: email
                                      description: Email of the contact. Required if no phone number is provided
                                      maxLength: 254
                                    phone_number:
                                      description: Phone number of the contact. Required if email is provided
                                      type: string
                                      pattern: \+\d{4,15}
                                      maxLength: 16
                                  required:
                                  - name
                              city:
                                type: string
                              state:
                                type: string
                              address:
                                type: string
                              country:
                                type: string
                              zipcode:
                                type: string
                                pattern: ^[A-Z]{3}$
                                description: 3-letter country code, uppercase (ISO 3166-1 alpha-3)
                              window:
                                type: array
                                items:
                                  type: object
                                  properties:
                                    start:
                                      type: string
                                      format: naive date-time
                                      description: A window start indicating the start local time of the truck at the stop (required for first stop)
                                    end:
                                      type: string
                                      format: naive date-time
                                      description: A window end indicating the end local time of the truck stop at the stop
                              instructions:
                                type: string
                                description: Instructions for the driver
                            required:
                            - zipcode
                            - country
                            - window_start
                          - type: object
                            title: City & State
                            properties:
                              type:
                                type: string
                                enum:
                                - PU
                                - DEL
                                description: The type of the stop, can be PU (Pickup) or DEL (Delivery)
                              facility_name:
                                type: string
                                description: Name of the facility at this stop
                              contacts:
                                type: array
                                items:
                                  type: object
                                  properties:
                                    name:
                                      type: string
                                      description: Name of the person who is the contact at this stop
                                      maxLength: 255
                                    email:
                                      type: string
                                      format: email
                                      description: Email of the contact. Required if no phone number is provided
                                      maxLength: 254
                                    phone_number:
                                      description: Phone number of the contact. Required if email is provided
                                      type: string
                                      pattern: \+\d{4,15}
                                      maxLength: 16
                                  required:
                                  - name
                              city:
                                type: string
                              state:
                                type: string
                              address:
                                type: string
                              country:
                                type: string
                              zipcode:
                                type: string
                                pattern: ^[A-Z]{3}$
                                description: 3-letter country code, uppercase (ISO 3166-1 alpha-3)
                              window_start:
                                description: A window start indicating the start local time of the truck at the stop (required for first stop)
                                type: string
                                format: naive date-time
                              window_end:
                                description: A window end indicating the end local time of the truck stop at the stop
                                type: string
                                format: naive date-time
                              instructions:
                                type: string
                                description: Instructions for the driver
                            required:
                            - city
                            - state
                            - country
                            - window_start
                            - window_end
                      suggested_mode:
                        type: string
                        enum:
                        - LTL
                        - PTL
                        - FTL
                      equipments:
                        type: array
                        items:
                          type: object
                          properties:
                            type:
                              type: string
                              enum:
                              - DRV
                              - FBE
                              - RFR
                              - CON
                              - CUR
                              - DDP
                              - IMC
                              - SDK
                              - STK
                              - BLK
                              - TNK
                              - OTH
                              description: "Equipment required to transport the shipment. Recognized equipments are:\n  - DRV: Dry Van\n  - FBE: Flatbed\n  - RFR: Reefer\n  - CON: Conestoga\n  - CUR: Curtainside\n  - DDP: Double Drop\n  - IMC: Intermodal\n  - SDK: Step Deck\n  - STK: Straight truck\n  - BLK: Bulk\n  - TNK: Tanker\n  - OTH: Other equipment not explicited listed\n"
                      total_width:
                        type: number
                        description: The load total width expressed in 'ft'
                        minimum: 0
                      total_length:
                        type: number
                        description: The load total length expressed in 'ft'
                        minimum: 0
                      total_height:
                        type: number
                        description: The load total height expressed in 'ft'
                        minimum: 0
                      requirements:
                        type:
                        - object
                        - 'null'
                        description: Requirements that needs to be fulfilled in order to transport the load
                        properties:
                          hazmat:
                            type: boolean
                            description: The commodity being moved consists of hazard material
                          tarp:
                            type: object
                            description: If present in 'requirements', it means the shipment needs a tarp
                            properties:
                              size:
                                type: number
                                format: float
                                minimum: 0
                                description: size in expressed in 'ft'
                              type:
                                type: string
                                enum:
                                - lumber
                                - steel
                                - smoke
                                - parachute
                                - machinery
                                - canvas
                                - hay
                                - poly
                            required:
                            - size
                          dunnage:
                            type: boolean
                            description: Extra rack added to the truck
                          beer:
                            type: boolean
                            description: The carrier must be able to transport alcohool
                          teams:
                            type: boolean
                            description: If it requires a team of drivers
                required:
                - data
              example:
                data:
                  id: 3802fab9-bcbe-42b4-9132-2e0a65c11e1d
                  status: available
                  reject_reason: null
                  mileage: 1453
                  suggested_mode: LTL
                  equipments:
                  - type: DRV
                  quotes:
                  - quote_id: quote_a844d1dfef1bed1ba777
                    asset_carrier_quote_id: JDHFK832748
                    expires_at: 2018-10-26 17:00:00+00:00
                    status: available
                    shipment_mode: LTL
                    service_level: Standard
                    customer_reference: AB123CD
                    carriers:
                    - name: ABC Freight
                      uuid: c4e81940-fd8e-44ff-81f0-6d178489db0d
                      priority: neutral
                      scac: ABCF
                    price:
                      total: 1543.45
                      components:
                      - type: haul
                        price: 1543.45
                    equipment:
                      type: DRV
                    stops:
                    - type: PU
                      facility_name: Brothers & Sons Inc.
                      contacts:
                      - name: John Doe
                        email: john@example.com
                        phone_number: '+17895551234'
                      city: Miami Beach
                      state: FL
                      address: 12345 E 16th avenue
                      country: USA
                      zipcode: 33139
                      window:
                        start: 2020-06-20 09:00:00
                        end: 2020-06-20 11:00:00
                      instructions: Driver must arrive on time. These instructions will be sent to driver.
                    - type": DEL
                      facility_name: Space Ghost Coast to Coast Inc.
                      contacts:
                      - name: Space Ghost
                        email: space@ghost.com
                        phone_number: '+17124832133'
                      city: New York
                      state: NY
                      address: 54321 E 16th avenue
                      country: USA
                      zipcode: 10010
                      window:
                        start: 2020-06-21 16:00:00
                        end: 2020-06-21 18:00:00
                  - quote_id: quote_bd030c027543ffe032dd
                    asset_carrier_quote_id: F1CT10N4L1D228
                    expires_at: 2018-10-26 17:00:00+00:00
                    status: available
                    shipment_mode: LTL
                    service_level: Guaranteed by 3PM
                    customer_reference: 88ACA02
                    carriers:
                    - name: Fictional Freight
                      uuid: 956dcd70-95cd-419a-af5c-96d394d8ee53
                      priority: restricted
                    price:
                      total: 1876.9
                      components:
                      - type: haul
                        price: 1726.9
                      - type: fuel_surcharge
                        price: 150
                    equipment:
                      type: DRV
                    stops:
                    - type: PU
                      facility_name: Brothers & Sons Inc.
                      items:
                      - items_count: 1
                        length: 12
                        width: 18
                        height: 24
                        classification: '70'
                        nmfc_code: 19874
                        package_type: std_pallets
                        hazmat: true
                        hazmat_class: mass_explosive
                        un_number: 1485
                        stackable: false
                        description: apples
                        weight: 20000
                      contacts:
                      - name: John Doe
                        email: john@example.com
                        phone_number: '+17895551234'
                      city: Miami Beach
                      state: FL
                      address: 12345 E 16th avenue
                      country: USA
                      zipcode: 33139
                      window:
                        start: 2020-06-20 09:00:00
                        end: 2020-06-20 11:00:00
                      instructions: Driver must arrive on time. These instructions will be sent to driver.
                    - type": DEL
                      facility_name: Space Ghost Coast to Coast Inc.
                      contacts:
                      - name: Space Ghost
                        email: space@ghost.com
                        phone_number: '+17124832133'
                      city: New York
                      state: NY
                      address: 321 E 7th avenue
                      country: USA
                      zipcode: 10010
                      window:
                        start: 2020-06-22 16:00:00
                        end: 2020-06-22 18:00:00
                      instructions: No special instructions here.
                  items:
                  - items_count: 1
                    length: 12
                    width: 18
                    height: 24
                    classification: '80'
                    nmfc_code: 19874
                    package_type: std_pallets
                    hazmat: true
                    hazmat_class: mass_explosive
                    un_number: 1485
                    stackable: false
                    description: apples
                    weight: 20000
                  stops:
                  - type: PU
                    address: 12345 E 16th avenue
                    city: Miami Beach
                    state: FL
                    drop_trailer: true
                    zipcode: '33140'
                    country: USA
                    window:
                      start: 2018-06-20 09:00:00
                      end: 2018-06-20 11:00:00
                    accessorials:
                    - sort-and-segregate
                    - inside-pickup
                  - type: DEL
                    address: 54321 E 16th avenue
                    city: New York
                    state: NY
                    drop_trailer: false
                    zipcode: '33140'
                    country: USA
        '404':
          description: Quote Request not found
          content:
            application/json:
              schema:
                type: object
                properties:
                  error:
                    type: string
                    enum:
                    - invalid_data
                  error_description:
                    type: string
                    description: Description of what happened
                  errors:
                    type: object
                    description: Object where each field is a key and the value is an array of errors
                required:
                - error
                - error_description
              example:
                error: object_not_found
                error_description: Object not found
        '410':
          description: Quote request is no longer available
          content:
            application/json:
              schema:
                type: object
                properties:
                  error:
                    type: string
                    enum:
                    - invalid_data
                  error_description:
                    type: string
                    description: Description of what happened
                  errors:
                    type: object
                    description: Object where each field is a key and the value is an array of errors
                required:
                - error
                - error_description
components:
  securitySchemes:
    Application-JWT:
      type: http
      scheme: bearer
      bearerFormat: JWT
      description: "Authorize the request with the application context (preferred\nfor the endpoints that support it):\n\n```\n{\n  \"sub\": \"sys\",\n  \"iss\": \"token-issuer\",\n  \"exp\": 1626239022,\n  \"iat\": 1517239022\n}\n```\n"
    User-JWT:
      type: http
      scheme: bearer
      bearerFormat: JWT
      description: "Authorize the request with an user context. A payload example\nwould be:\n\n```\n{\n  \"sub\": \"usr:87127882-d1db-4e50-8f7c-c792a80d7c49\",\n  \"iss\": \"token-issuer\",\n  \"iat\": 1517239022,\n  \"exp\": 1626239022\n}\n```\n"
