openapi: 3.2.0
info:
  title: Opendock Nova API Documentation Unit Limiter API
  description: '## Welcome to Opendock Nova!'
  version: v4.144.0 - 39b4253
  contact: {}
servers:
- url: https://neutron.opendock.com
  description: Production Server
- url: https://neutron.staging.opendock.com
  description: Staging Server
tags:
- name: Unit Limiter
paths:
  /loadtype-group:
    post:
      operationId: LoadTypeGroupController_createLoadTypeGroup
      summary: Create a new load type group
      description: Creates a load type group, which is a collection of load types that can be managed together for unit limiting purposes. Load type groups allow you to apply the same unit limits to multiple load types simultaneously, simplifying capacity management.
      parameters: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CreateLoadTypeGroupDto'
      responses:
        '200':
          description: Load type group successfully created
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ResponseLoadTypeGroupDto'
      tags:
      - Unit Limiter
      security:
      - bearer: []
    get:
      operationId: LoadTypeGroupController_getLoadTypeGroups
      summary: Retrieve load type groups
      description: Fetches all load type groups for a specific warehouse. Returns a list of groups with their associated load types, useful for displaying configuration options or managing unit limits.
      parameters: []
      responses:
        '200':
          description: List of load type groups for the specified warehouse
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/ResponseLoadTypeGroupDto'
      tags:
      - Unit Limiter
      security:
      - bearer: []
  /loadtype-group/{id}:
    patch:
      operationId: LoadTypeGroupController_updateLoadTypeGroup
      summary: Update an existing load type group
      description: Updates the name or load type membership of an existing load type group. This allows you to modify which load types are included in the group without recreating it.
      parameters:
      - name: id
        required: true
        in: path
        description: The unique identifier of the load type group to update
        schema:
          format: uuid
          type: string
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/UpdateLoadTypeGroupDto'
      responses:
        '200':
          description: Load type group successfully updated
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ResponseLoadTypeGroupDto'
      tags:
      - Unit Limiter
      security:
      - bearer: []
    delete:
      operationId: LoadTypeGroupController_deleteLoadTypeGroup
      summary: Delete a load type group
      description: Deletes a load type group. This removes the group itself but does not affect the individual load types that were part of the group. Any unit limits referencing this group will need to be reconfigured.
      parameters:
      - name: id
        required: true
        in: path
        description: The unique identifier of the load type group to delete
        schema:
          format: uuid
          type: string
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/DeleteLoadTypeGroupDto'
      responses:
        '200':
          description: Load type group successfully deleted
          content:
            application/json:
              schema:
                type: object
                properties:
                  success:
                    type: boolean
                    example: true
      tags:
      - Unit Limiter
      security:
      - bearer: []
  /unit-limit/configuration:
    post:
      operationId: UnitLimitController_setUpConfiguration
      summary: Create or update unit limit configuration
      description: Configures unit limits for a warehouse based on grouping criteria (warehouse, dock, load type, or load type group). Unit limits control how many appointment or handling units (pallets, etc.) can be scheduled within specific time periods. This helps manage warehouse capacity and prevent overbooking.
      parameters: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/UnitLimitConfigurationWriteDTO'
      responses:
        '200':
          description: Unit limit configuration successfully created or updated
          content:
            application/json:
              schema:
                type: object
                properties:
                  id:
                    type: string
                    format: uuid
                    example: 123e4567-e89b-12d3-a456-426614174000
      tags:
      - Unit Limiter
      security:
      - bearer: []
    get:
      operationId: UnitLimitController_getConfiguration
      summary: Retrieve unit limit configurations
      description: Fetches unit limit configurations based on specified filters such as warehouse, grouper type (dock, load type, or load type group), and unit type. Returns all matching configurations for the authenticated user's organization.
      parameters: []
      responses:
        '200':
          description: List of unit limit configurations matching the query parameters
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/UnitLimit'
      tags:
      - Unit Limiter
      security:
      - bearer: []
  /unit-limit/count:
    get:
      operationId: UnitLimitController_getCount
      summary: Get unit limit counts for specific configurations
      description: Retrieves actual unit counts for specified unit limit configurations within a date range. This shows how many units have been scheduled against each limit, helping track capacity utilization.
      parameters: []
      responses:
        '200':
          description: List of unit counts for the requested unit limits and date range
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/UnitLimitCount'
      tags:
      - Unit Limiter
      security:
      - bearer: []
  /unit-limit/validate:
    post:
      operationId: UnitLimitController_validateUnitLimit
      summary: Validate if scheduling at a given time would breach unit limits
      description: Checks whether creating an appointment with the specified warehouse, dock, load type, and time interval would violate any configured unit limits. Returns an array of results for each day in the interval.
      parameters: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/UnitLimitValidateDTO'
      responses:
        '200':
          description: Unit limits validation results for each day in the requested interval
          content:
            application/json:
              schema:
                type: array
                items:
                  type: object
                  properties:
                    valid:
                      type: boolean
                      example: true
                    message:
                      type: string
                      example: Unit limits validation passed
                    date:
                      type: string
                      example: '2025-11-05'
      tags:
      - Unit Limiter
      security:
      - bearer: []
components:
  schemas:
    CreateLoadTypeGroupDto:
      type: object
      properties:
        tags:
          type: object
    UpdateLoadTypeGroupDto:
      type: object
      properties:
        tags:
          type: object
    DeleteLoadTypeGroupDto:
      type: object
      properties:
        tags:
          type: object
    UnitLimitValidateDTO:
      type: object
      properties:
        tags:
          type: object
        warehouseId:
          type: string
          description: The warehouse of the unit limit configuration
          example: 550e8400-e29b-41d4-a716-446655440000
        dockId:
          type: string
          description: The dock of the unit limit configuration
          example: 550e8400-e29b-41d4-a716-446655440001
        loadTypeId:
          type: string
          description: The load type of the unit limit configuration
          example: 550e8400-e29b-41d4-a716-446655440002
        start:
          type: string
          description: Start date of the unit limit validation period
          example: '2025-11-01'
        end:
          type: string
          description: End date of the unit limit validation period (must be within 5 days of start date)
          example: '2025-11-04'
        requestedUnits:
          type: number
          description: Number of units requested within the specified date range
          example: 10
      required:
      - warehouseId
      - dockId
      - loadTypeId
      - start
      - end
    UnitLimitConfigurationWriteDTO:
      type: object
      properties:
        tags:
          type: object
    UnitLimitCount:
      type: object
      properties:
        id:
          type: string
          description: The unique identifier of the record
          example: a0e1f2c3-d4e5-6f7g-8h9i-j0k1l2m3n4o5
          readOnly: true
        createDateTime:
          format: date-time
          type: string
          description: The date and time when the record was created
          example: '2023-10-01T12:00:00Z'
          readOnly: true
        createdBy:
          type: object
          description: The ID of the user who created the record
          example: a0e1f2c3-d4e5-6f7g-8h9i-j0k1l2m3n4o5
          readOnly: true
        lastChangedDateTime:
          format: date-time
          type: string
          description: The date and time when the record was last changed
          example: '2023-10-01T12:00:00Z'
          readOnly: true
      required:
      - id
      - createDateTime
      - createdBy
      - lastChangedDateTime
    UnitLimit:
      type: object
      properties:
        id:
          type: string
          description: The unique identifier of the record
          example: a0e1f2c3-d4e5-6f7g-8h9i-j0k1l2m3n4o5
          readOnly: true
        createDateTime:
          format: date-time
          type: string
          description: The date and time when the record was created
          example: '2023-10-01T12:00:00Z'
          readOnly: true
        createdBy:
          type: object
          description: The ID of the user who created the record
          example: a0e1f2c3-d4e5-6f7g-8h9i-j0k1l2m3n4o5
          readOnly: true
        lastChangedDateTime:
          format: date-time
          type: string
          description: The date and time when the record was last changed
          example: '2023-10-01T12:00:00Z'
          readOnly: true
      required:
      - id
      - createDateTime
      - createdBy
      - lastChangedDateTime
    ResponseLoadTypeGroupDto:
      type: object
      properties: {}
  securitySchemes:
    bearer:
      scheme: bearer
      bearerFormat: JWT
      type: http
