openapi: 3.2.0
info:
  title: Opendock Nova API Documentation Custom Forms - Forms API
  description: '## Welcome to Opendock Nova!'
  version: v4.144.0 - 39b4253
  contact: {}
servers:
- url: https://neutron.opendock.com
  description: Production Server
- url: https://neutron.staging.opendock.com
  description: Staging Server
tags:
- name: Custom Forms - Forms
  description: Forms are collections of form fields that represent a complete data entry interface. Each Form belongs to a Flow and captures related data points in a structured way. Forms provide the user interface for data collection.
paths:
  /custom-forms/form:
    post:
      operationId: createOneBaseFormControllerForm
      summary: Create a single Form
      parameters: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CreateFormDto'
      responses:
        '201':
          description: ''
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Form'
      tags:
      - Custom Forms - Forms
      security:
      - bearer: []
    get:
      operationId: getManyBaseFormControllerForm
      summary: Retrieve multiple Forms
      parameters:
      - name: fields
        description: Selects resource fields. <a href="https://github.com/nestjsx/crud/wiki/Requests#select" target="_blank">Docs</a>
        required: false
        in: query
        schema:
          type: array
          items:
            type: string
        style: form
        explode: false
      - name: s
        description: Adds search condition. <a href="https://github.com/nestjsx/crud/wiki/Requests#search" target="_blank">Docs</a>
        required: false
        in: query
        schema:
          type: string
      - name: filter
        description: Adds filter condition. <a href="https://github.com/nestjsx/crud/wiki/Requests#filter" target="_blank">Docs</a>
        required: false
        in: query
        schema:
          type: array
          items:
            type: string
        style: form
        explode: true
      - name: or
        description: Adds OR condition. <a href="https://github.com/nestjsx/crud/wiki/Requests#or" target="_blank">Docs</a>
        required: false
        in: query
        schema:
          type: array
          items:
            type: string
        style: form
        explode: true
      - name: sort
        description: Adds sort by field. <a href="https://github.com/nestjsx/crud/wiki/Requests#sort" target="_blank">Docs</a>
        required: false
        in: query
        schema:
          type: array
          items:
            type: string
        style: form
        explode: true
      - name: join
        description: Adds relational resources. <a href="https://github.com/nestjsx/crud/wiki/Requests#join" target="_blank">Docs</a>
        required: false
        in: query
        schema:
          type: array
          items:
            type: string
        style: form
        explode: true
      - name: limit
        description: Limit amount of resources. <a href="https://github.com/nestjsx/crud/wiki/Requests#limit" target="_blank">Docs</a>
        required: false
        in: query
        schema:
          type: integer
      - name: offset
        description: Offset amount of resources. <a href="https://github.com/nestjsx/crud/wiki/Requests#offset" target="_blank">Docs</a>
        required: false
        in: query
        schema:
          type: integer
      - name: page
        description: Page portion of resources. <a href="https://github.com/nestjsx/crud/wiki/Requests#page" target="_blank">Docs</a>
        required: false
        in: query
        schema:
          type: integer
      - name: cache
        description: Reset cache (if was enabled). <a href="https://github.com/nestjsx/crud/wiki/Requests#cache" target="_blank">Docs</a>
        required: false
        in: query
        schema:
          type: integer
          minimum: 0
          maximum: 1
      responses:
        '200':
          description: Get paginated response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GetManyFormResponseDto'
      tags:
      - Custom Forms - Forms
      security:
      - bearer: []
  /custom-forms/form/{id}:
    patch:
      operationId: updateOneBaseFormControllerForm
      summary: Update a single Form
      parameters:
      - name: id
        required: true
        in: path
        schema:
          type: string
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/UpdateFormDto'
      responses:
        '200':
          description: ''
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Form'
      tags:
      - Custom Forms - Forms
      security:
      - bearer: []
    get:
      operationId: getOneBaseFormControllerForm
      summary: Retrieve a single Form
      parameters:
      - name: id
        required: true
        in: path
        schema:
          type: string
      - name: fields
        description: Selects resource fields. <a href="https://github.com/nestjsx/crud/wiki/Requests#select" target="_blank">Docs</a>
        required: false
        in: query
        schema:
          type: array
          items:
            type: string
        style: form
        explode: false
      - name: join
        description: Adds relational resources. <a href="https://github.com/nestjsx/crud/wiki/Requests#join" target="_blank">Docs</a>
        required: false
        in: query
        schema:
          type: array
          items:
            type: string
        style: form
        explode: true
      - name: cache
        description: Reset cache (if was enabled). <a href="https://github.com/nestjsx/crud/wiki/Requests#cache" target="_blank">Docs</a>
        required: false
        in: query
        schema:
          type: integer
          minimum: 0
          maximum: 1
      responses:
        '200':
          description: Get one base response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Form'
      tags:
      - Custom Forms - Forms
      security:
      - bearer: []
    delete:
      operationId: deleteOneBaseFormControllerForm
      summary: Delete a single Form
      parameters:
      - name: id
        required: true
        in: path
        schema:
          type: string
      responses:
        '200':
          description: Delete one base response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Form'
      tags:
      - Custom Forms - Forms
      security:
      - bearer: []
  /custom-forms/form/sort/{id}:
    patch:
      operationId: FormController_sortFormFields
      parameters:
      - name: id
        required: true
        in: path
        schema:
          type: string
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/SortFormFieldDto'
      responses:
        '200':
          description: ''
          content:
            application/json:
              schema:
                type: array
      tags:
      - Custom Forms - Forms
      security:
      - bearer: []
      summary: Form controller sort form fields
      x-summary-source: derived
components:
  schemas:
    SortFormFieldDto:
      type: object
      properties:
        tags:
          type: object
    CreateFormDto:
      type: object
      properties:
        tags:
          type: object
        name:
          type: string
        description:
          type: string
        warehouseId:
          type: string
      required:
      - name
      - description
      - warehouseId
    UpdateFormDto:
      type: object
      properties:
        tags:
          type: object
        name:
          type: string
        description:
          type: string
    GetManyFormResponseDto:
      type: object
      properties:
        data:
          type: array
          items:
            $ref: '#/components/schemas/Form'
        count:
          type: number
        total:
          type: number
        page:
          type: number
        pageCount:
          type: number
      required:
      - data
      - count
      - total
      - page
      - pageCount
    Form:
      type: object
      properties:
        id:
          type: string
          description: The unique identifier of the record
          example: a0e1f2c3-d4e5-6f7g-8h9i-j0k1l2m3n4o5
          readOnly: true
        createDateTime:
          format: date-time
          type: string
          description: The date and time when the record was created
          example: '2023-10-01T12:00:00Z'
          readOnly: true
        createdBy:
          type: object
          description: The ID of the user who created the record
          example: a0e1f2c3-d4e5-6f7g-8h9i-j0k1l2m3n4o5
          readOnly: true
        lastChangedDateTime:
          format: date-time
          type: string
          description: The date and time when the record was last changed
          example: '2023-10-01T12:00:00Z'
          readOnly: true
        name:
          type: string
          description: The name of the form
          example: Customer Feedback Form
        description:
          type: string
          description: Extra description for the form
          example: This form is used to collect customer feedback
      required:
      - id
      - createDateTime
      - createdBy
      - lastChangedDateTime
      - name
  securitySchemes:
    bearer:
      scheme: bearer
      bearerFormat: JWT
      type: http
