openapi: 3.2.0
info:
  title: Loadsmart Routes API
  x-logo:
    altText: Loadsmart API
    url: https://developer.loadsmart.com/logo.svg
  description: Loadsmart API provides endpoints to quote, book and track shipments autonomously.
  version: 1.0.0
servers:
- url: https://api.loadsmart.com
  description: Production server
- url: https://api.sandbox.loadsmart.com
  description: Sandbox environment
tags:
- name: Routes
  description: Provides information about routing
paths:
  /api/v2/routes/estimate-trip-duration:
    get:
      summary: Estimate distance and duration
      tags:
      - Routes
      security:
      - Application-JWT:
        - routes-read
      - User-JWT:
        - routes-read
      description: 'Estimate the distance and trip duration between an origin and

        destination.


        Origin and destination can be any valid address.'
      parameters:
      - in: query
        name: origin
        schema:
          type: string
        description: Address (complete or partial) for the origin
      - in: query
        name: destination
        schema:
          type: string
        description: Address (complete or partial) for the destination
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    type: object
                    properties:
                      duration:
                        type: string
                        description: 'Duration string following

                          [RFC3339](https://xml2rfc.tools.ietf.org/public/rfc/html/rfc3339.html#iso.8601.collected.abnf)

                          specification.

                          '
                      miles:
                        type: integer
                        format: int64
                        description: Total miles between origin and destination
              example:
                data:
                  duration: P1DT30H4S
                  miles: 2412
        '404':
          description: Address not found
          content:
            application/json:
              schema:
                type: object
                properties:
                  error:
                    type: string
                    enum:
                    - invalid_data
                  error_description:
                    type: string
                    description: Description of what happened
                  errors:
                    type: object
                    description: Object where each field is a key and the value is an array of errors
                required:
                - error
                - error_description
              example:
                error: object_not_found
                error_description: Object not found
        '422':
          description: Invalid or missing data
          content:
            application/json:
              schema:
                type: object
                properties:
                  error:
                    type: string
                    enum:
                    - invalid_data
                  error_description:
                    type: string
                    description: Description of what happened
                  errors:
                    type: object
                    description: Object where each field is a key and the value is an array of errors
                required:
                - error
                - error_description
              example:
                error: invalid_data
                error_description: Can't create the object
                errors:
                  field_name:
                  - This field is required.
                  other_field:
                  - Expected string but received integer.
      operationId: getApiV2RoutesEstimateTripDuration
      x-operation-id-source: derived
components:
  securitySchemes:
    Application-JWT:
      type: http
      scheme: bearer
      bearerFormat: JWT
      description: "Authorize the request with the application context (preferred\nfor the endpoints that support it):\n\n```\n{\n  \"sub\": \"sys\",\n  \"iss\": \"token-issuer\",\n  \"exp\": 1626239022,\n  \"iat\": 1517239022\n}\n```\n"
    User-JWT:
      type: http
      scheme: bearer
      bearerFormat: JWT
      description: "Authorize the request with an user context. A payload example\nwould be:\n\n```\n{\n  \"sub\": \"usr:87127882-d1db-4e50-8f7c-c792a80d7c49\",\n  \"iss\": \"token-issuer\",\n  \"iat\": 1517239022,\n  \"exp\": 1626239022\n}\n```\n"
