openapi: 3.2.0
info:
  title: Opendock Nova API Documentation Asset Container API
  description: '## Welcome to Opendock Nova!'
  version: v4.144.0 - 39b4253
  contact: {}
servers:
- url: https://neutron.opendock.com
  description: Production Server
- url: https://neutron.staging.opendock.com
  description: Staging Server
tags:
- name: Asset Container
paths:
  /asset-container/{id}:
    get:
      operationId: getOneBaseAssetContainerControllerAssetContainer
      summary: Retrieve a single AssetContainer
      parameters:
      - name: id
        required: true
        in: path
        schema:
          type: string
      - name: fields
        description: Selects resource fields. <a href="https://github.com/nestjsx/crud/wiki/Requests#select" target="_blank">Docs</a>
        required: false
        in: query
        schema:
          type: array
          items:
            type: string
        style: form
        explode: false
      - name: join
        description: Adds relational resources. <a href="https://github.com/nestjsx/crud/wiki/Requests#join" target="_blank">Docs</a>
        required: false
        in: query
        schema:
          type: array
          items:
            type: string
        style: form
        explode: true
      - name: cache
        description: Reset cache (if was enabled). <a href="https://github.com/nestjsx/crud/wiki/Requests#cache" target="_blank">Docs</a>
        required: false
        in: query
        schema:
          type: integer
          minimum: 0
          maximum: 1
      responses:
        '200':
          description: ''
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AssetContainer'
      tags:
      - Asset Container
      security:
      - bearer: []
    patch:
      operationId: updateOneBaseAssetContainerControllerAssetContainer
      summary: Update a single AssetContainer
      parameters:
      - name: id
        required: true
        in: path
        schema:
          type: string
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/UpdateAssetContainerDto'
      responses:
        '200':
          description: ''
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AssetContainer'
      tags:
      - Asset Container
      security:
      - bearer: []
    delete:
      operationId: deleteOneBaseAssetContainerControllerAssetContainer
      summary: Delete a single AssetContainer
      parameters:
      - name: id
        required: true
        in: path
        schema:
          type: string
      responses:
        '200':
          description: Delete one base response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AssetContainer'
      tags:
      - Asset Container
      security:
      - bearer: []
  /asset-container:
    get:
      operationId: getManyBaseAssetContainerControllerAssetContainer
      summary: Retrieve multiple AssetContainers
      parameters:
      - name: excludeStatuses
        required: false
        in: query
        description: Event types to exclude. Asset containers with any event matching these types will be filtered out.
        schema:
          type: array
          items:
            type: string
            enum:
            - Arrived
            - Loading
            - Loading Complete
            - Unloading
            - Unloading Complete
            - Ready for Pickup
            - Departed
            - Inoperable
            - Missing
      - name: fields
        description: Selects resource fields. <a href="https://github.com/nestjsx/crud/wiki/Requests#select" target="_blank">Docs</a>
        required: false
        in: query
        schema:
          type: array
          items:
            type: string
        style: form
        explode: false
      - name: s
        description: Adds search condition. <a href="https://github.com/nestjsx/crud/wiki/Requests#search" target="_blank">Docs</a>
        required: false
        in: query
        schema:
          type: string
      - name: filter
        description: Adds filter condition. <a href="https://github.com/nestjsx/crud/wiki/Requests#filter" target="_blank">Docs</a>
        required: false
        in: query
        schema:
          type: array
          items:
            type: string
        style: form
        explode: true
      - name: or
        description: Adds OR condition. <a href="https://github.com/nestjsx/crud/wiki/Requests#or" target="_blank">Docs</a>
        required: false
        in: query
        schema:
          type: array
          items:
            type: string
        style: form
        explode: true
      - name: sort
        description: Adds sort by field. <a href="https://github.com/nestjsx/crud/wiki/Requests#sort" target="_blank">Docs</a>
        required: false
        in: query
        schema:
          type: array
          items:
            type: string
        style: form
        explode: true
      - name: join
        description: Adds relational resources. <a href="https://github.com/nestjsx/crud/wiki/Requests#join" target="_blank">Docs</a>
        required: false
        in: query
        schema:
          type: array
          items:
            type: string
        style: form
        explode: true
      - name: limit
        description: Limit amount of resources. <a href="https://github.com/nestjsx/crud/wiki/Requests#limit" target="_blank">Docs</a>
        required: false
        in: query
        schema:
          type: integer
      - name: offset
        description: Offset amount of resources. <a href="https://github.com/nestjsx/crud/wiki/Requests#offset" target="_blank">Docs</a>
        required: false
        in: query
        schema:
          type: integer
      - name: page
        description: Page portion of resources. <a href="https://github.com/nestjsx/crud/wiki/Requests#page" target="_blank">Docs</a>
        required: false
        in: query
        schema:
          type: integer
      - name: cache
        description: Reset cache (if was enabled). <a href="https://github.com/nestjsx/crud/wiki/Requests#cache" target="_blank">Docs</a>
        required: false
        in: query
        schema:
          type: integer
          minimum: 0
          maximum: 1
      responses:
        '200':
          description: ''
          content:
            application/json:
              schema:
                allOf:
                - $ref: '#/components/schemas/PaginatedDto'
                - properties:
                    entity:
                      type: string
                      example: AssetContainer
                    data:
                      type: array
                      items:
                        $ref: '#/components/schemas/AssetContainer'
      tags:
      - Asset Container
      security:
      - bearer: []
    post:
      operationId: createOneBaseAssetContainerControllerAssetContainer
      summary: Create a single AssetContainer
      parameters: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CreateAssetContainerDto'
      responses:
        '200':
          description: ''
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AssetContainer'
        '201':
          description: Get create one base response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AssetContainer'
      tags:
      - Asset Container
      security:
      - bearer: []
  /asset-container/{id}/event:
    get:
      operationId: AssetContainerController_getEvents
      parameters:
      - name: id
        required: true
        in: path
        schema:
          type: string
      responses:
        '200':
          description: ''
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AssetContainerEvent'
      tags:
      - Asset Container
      security:
      - bearer: []
      summary: Asset container controller get events
      x-summary-source: derived
  /asset-container/{id}/yard-events:
    get:
      operationId: AssetContainerController_getYardEvents
      parameters:
      - name: id
        required: true
        in: path
        schema:
          type: string
      responses:
        '200':
          description: ''
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AssetContainerEvent'
      tags:
      - Asset Container
      security:
      - bearer: []
      summary: Asset container controller get yard events
      x-summary-source: derived
  /asset-container/event:
    post:
      operationId: AssetContainerController_createEvent
      parameters: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CreateAssetContainerEventDto'
      responses:
        '200':
          description: ''
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AssetContainerEvent'
      tags:
      - Asset Container
      security:
      - bearer: []
      summary: Asset container controller create event
      x-summary-source: derived
components:
  schemas:
    AssetContainerEventType:
      type: string
      description: The type of the event
      enum:
      - Arrived
      - Loading
      - Loading Complete
      - Unloading
      - Unloading Complete
      - Ready for Pickup
      - Departed
      - Inoperable
      - Missing
    AssetContainerState:
      type: string
      description: The state of the asset container
      enum:
      - Full
      - Empty
      - Partially Loaded
    AssetContainer:
      type: object
      properties:
        id:
          type: string
          description: The unique identifier of the record
          example: a0e1f2c3-d4e5-6f7g-8h9i-j0k1l2m3n4o5
          readOnly: true
        createDateTime:
          format: date-time
          type: string
          description: The date and time when the record was created
          example: '2023-10-01T12:00:00Z'
          readOnly: true
        createdBy:
          type: object
          description: The ID of the user who created the record
          example: a0e1f2c3-d4e5-6f7g-8h9i-j0k1l2m3n4o5
          readOnly: true
        lastChangedDateTime:
          format: date-time
          type: string
          description: The date and time when the record was last changed
          example: '2023-10-01T12:00:00Z'
          readOnly: true
        type:
          $ref: '#/components/schemas/AssetContainerType'
        state:
          $ref: '#/components/schemas/AssetContainerState'
        code:
          type: string
          description: The code of the asset container
          example: AC001
        notes:
          type: string
          description: Extra data about the asset container
          example: Asset container for storing goods
        lastLocationCheckConfirmedAt:
          type: object
          description: When a yard location check last confirmed the container present (server-set only; not generic “seen”).
          format: date-time
        assetVisitId:
          type: string
          format: uuid
          description: The id of the asset visit
          example: a0e4b1c2-3d4e-5f6g-7h8i-9j0k1l2m3n4o
        orgId:
          type: string
          format: uuid
        warehouseId:
          type: string
          format: uuid
          description: The id of the warehouse
          example: a0e4b1c2-3d4e-5f6g-7h8i-9j0k1l2m3n4o
        pickupAppointmentId:
          type: string
          format: uuid
          description: The id of the pickup appointment
          example: a0e4b1c2-3d4e-5f6g-7h8i-9j0k1l2m3n4o
        dropAppointmentId:
          type: string
          format: uuid
          description: The id of the drop appointment
          example: a0e4b1c2-3d4e-5f6g-7h8i-9j0k1l2m3n4o
        companyId:
          type: string
          format: uuid
          description: The id of the company that owns the asset container
          example: a0e4b1c2-3d4e-5f6g-7h8i-9j0k1l2m3n4o
      required:
      - id
      - createDateTime
      - createdBy
      - lastChangedDateTime
      - type
      - code
      - orgId
      - warehouseId
      - pickupAppointmentId
    UpdateAssetContainerDto:
      type: object
      properties:
        tags:
          type: object
        assetVisitId:
          type: string
          format: uuid
        code:
          type: string
        notes:
          type: string
        type:
          $ref: '#/components/schemas/AssetContainerType'
        dropAppointmentId:
          type: string
          format: uuid
        pickupAppointmentId:
          type: string
          format: uuid
        state:
          $ref: '#/components/schemas/AssetContainerState'
        companyId:
          type: string
          format: uuid
    PaginatedDto:
      type: object
      properties:
        count:
          type: number
          example: 2
        total:
          type: number
          example: 2
        page:
          type: number
          example: 1
        pageCount:
          type: number
          example: 1
        action:
          type: string
          example: read
        entity:
          type: string
          example: Appointment
        data:
          type: array
          items:
            type: string
      required:
      - count
      - total
      - page
      - pageCount
      - action
      - entity
      - data
    AssetContainerType:
      type: string
      description: The type of the asset container
      enum:
      - Trailer
      - Container
      - Oversized
      - Chassis
      - Reefer
      - Other
    CreateAssetContainerDto:
      type: object
      properties:
        tags:
          type: object
        assetVisitId:
          type: string
          format: uuid
        code:
          type: string
        notes:
          type: string
        type:
          $ref: '#/components/schemas/AssetContainerType'
        warehouseId:
          type: string
          format: uuid
        dropAppointmentId:
          type: string
          format: uuid
        pickupAppointmentId:
          type: string
          format: uuid
        state:
          $ref: '#/components/schemas/AssetContainerState'
        companyId:
          type: string
          format: uuid
      required:
      - assetVisitId
      - code
      - type
      - warehouseId
    AssetContainerEvent:
      type: object
      properties:
        id:
          type: string
          format: uuid
        orgId:
          type: string
          format: uuid
        createDateTime:
          type: string
          description: The date and time when the event was created
          format: date-time
        createdBy:
          type: object
          format: uuid
          description: The id of the user who created the event
        assetContainerId:
          type: string
          format: uuid
          description: The id of the asset container
        assetVisitId:
          type: object
          format: uuid
          description: The id of the asset visit attached (truck)
        eventType:
          $ref: '#/components/schemas/AssetContainerEventType'
      required:
      - id
      - orgId
      - createDateTime
      - assetContainerId
      - eventType
    CreateAssetContainerEventDto:
      type: object
      properties:
        tags:
          type: object
        eventType:
          type: string
          enum:
          - Arrived
          - Loading
          - Loading Complete
          - Unloading
          - Unloading Complete
          - Ready for Pickup
          - Departed
          - Inoperable
          - Missing
        assetContainerId:
          type: string
          format: uuid
          description: The id of the asset container
        assetVisitId:
          type: string
          format: uuid
          description: The id of the asset visit which this entity is attached to
      required:
      - eventType
      - assetContainerId
  securitySchemes:
    bearer:
      scheme: bearer
      bearerFormat: JWT
      type: http
