openapi: 3.2.0
info:
  title: Loadsmart Shipper Accounting Info API
  x-logo:
    altText: Loadsmart API
    url: https://developer.loadsmart.com/logo.svg
  description: "Loadsmart API provides endpoints to quote, book and track shipments autonomously.\n\n# Authentication\n\nLoadsmart API supports JWT tokens for authentication, signed using\npublic/private key pairs (RSA 4096).\n\n## What is JWT?\n\nJSON Web Token (JWT) is an [open standard](https://tools.ietf.org/html/rfc7519) used to\ncreate access tokens that contain some number of claims and is cryptographically signed by\nthe issuer, so its integrity can be verified without an auth server.\n\n## Token algorithm\n\nWe support JWT tokens signed using RS256 algorithm:\n\n```\n{\n  \"alg\": \"RS256\",\n  \"typ\": \"JWT\"\n}\n```\n\n## Required Claims\n\nFor the token payload, we require at least the following claims:\n\n- `sub`: Identifies the subject of the API call. This could be\n  either `sys` (without any user or client context) or `usr:UUID`,\n  where `UUID` is the uuid of the user that will provide the\n  context for the API call.\n- `iss`: Identifies who issued the token. This will be provided by\n  Loadsmart when setting up the integration.\n- `iat`: Standard \"issued at\" claim; should be an unix timestamp.\n- `exp`: Standard \"expires at\" claim; should be an unix timestamp.\n  We recomend to keep the token as short-lived as possible - ideally\n  it should not be valid for more than 1 minute. In the future,\n  Loadsmart could reject tokens with high expiration times.\n\n## Using the token\n\nThe token must be present in the `Authorization` header on all\nrequests, following the format:\n\n```\nAuthorization: JWT <token>\n```\n\nEach part of the token is encoded in base64 and joined with a dot separating each encoded part -\nif you use a library to generate it (which is recommended), you don't need to worry about it.\n\n**Important: Authorization header value must have the prefix `JWT`**.\n\nSee an example:\n\n```\nAuthorization: JWT eyJhbGciOiJSUzI1NiIsInR5cCI6IkpXVCJ9.eyJzdWIiOiIxMjM0NTY3ODkwIiwibmFtZSI6IkpvaG4gRG9lIiwiYWRtaW4iOnRydWUsImlhdCI6MTUxNjIzOTAyMn0.TCYt5XsITJX1CxPCT8yAV-TVkIEq_PbChOMqsLfRoPsnsgw5WEuts01mq-pQy7UJiN5mgRxD-WUcX16dUEMGlv50aqzpqh4Qktb3rk-BuQy72IFLOqV0G_zS245-kronKb78cPN25DGlcTwLtjPAYuNzVBAh4vGHSrQyHUdBBPM\n```\n\n## Available contexts\n\nEach token has an implicit context associated with it (usually depending on the value of `sub`\nclaim). This context identifies to the API if the entity doing an action is an user or a system.\n\nLoadsmart API has different token contexts depending on the endpoint being called. Each endpoint\nwill specify the supported contexts (and required scopes) in `AUTHORIZATIONS` section.\n\n<!-- ReDoc-Inject: <security-definitions> -->\n\n## API Access\n\nTo start using Loadsmart API, please get in touch through your\npoint of contact. They will direct you through the proper flow.\n\n### Creating a public/private key pair\n\nFor JWT tokens, you should provide your *public key*. To generate a\npublic and private key pair, you can use OpenSSL:\n\n```bash\n$ openssl genpkey -algorithm RSA -out private_key.pem -pkeyopt rsa_keygen_bits:4096\n$ openssl rsa -in private_key.pem -pubout -out public_key.pem\n```\n\n*Never* reuse keys between multiple systems.\n\nFor more information, checkout the [official JWT website](https://jwt.io/).\n"
  version: 1.0.0
servers:
- url: https://api.loadsmart.com
  description: Production server
- url: https://api.sandbox.loadsmart.com
  description: Sandbox environment
tags:
- name: Shipper Accounting Info
paths:
  /api/v2/shippers/{shipper_id}/info:
    post:
      summary: Create shipper billing info
      tags:
      - Shipper Accounting Info
      security:
      - Application-JWT:
        - user_write
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                billing_name:
                  type: string
                billing_address:
                  type: string
                billing_city:
                  type: string
                billing_zip_code:
                  type: string
                billing_country:
                  type: string
                billing_state:
                  type: string
                tax_id:
                  type: string
                contact_name:
                  type: string
                contact_email:
                  type: string
                contact_phone:
                  type: string
                terms:
                  type: integer
                notes:
                  type: string
              required:
              - billing_name
              - billing_address
              - billing_city
              - billing_zip_code
              - billing_country
              - billing_state
              - contact_name
              - contact_email
              - contact_phone
              - terms
              - notes
            examples:
              minimal:
                summary: Minimal
                value:
                  billing_name: Trunks Williams
                  billing_address: Color St.
                  billing_city: Pallet Ville
                  billing_state: CA
                  billing_zip_code: 99999
                  billing_country: USA
                  contact_name: John Doe
                  contact_email: John@doe.com
                  contact_phone: null
                  notes: notes
              complete:
                summary: Complete
                value:
                  billing_name: Trunks Williams
                  billing_address: Color St.
                  billing_city: Pallet Ville
                  billing_state: CA
                  billing_zip_code: 99999
                  tax_id: 123-456789
                  billing_country: USA
                  contact_name: John Doe
                  contact_email: John@doe.com
                  contact_phone: null
                  notes: notes
      responses:
        '201':
          description: Accounting Info created
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    type: object
                    properties:
                      billing_name:
                        type: string
                      billing_address:
                        type: string
                      billing_city:
                        type: string
                      billing_zip_code:
                        type: string
                      billing_country:
                        type: string
                      billing_state:
                        type: string
                      tax_id:
                        type: string
                      contact_name:
                        type: string
                      contact_email:
                        type: string
                      contact_phone:
                        type: string
                      terms:
                        type: integer
                      notes:
                        type: string
                    required:
                    - billing_name
                    - billing_address
                    - billing_city
                    - billing_zip_code
                    - billing_country
                    - billing_state
                    - contact_name
                    - contact_email
                    - contact_phone
                    - terms
                    - notes
              example:
                data:
                  billing_name: Trunks Williams
                  billing_address: Color St.
                  billing_city: Pallet Ville
                  billing_state: CA
                  billing_zip_code: 99999
                  tax_id: 123-456789
                  billing_country: USA
                  contact_name: John Doe
                  contact_email: John@doe.com
                  contact_phone: null
                  notes: notes
    get:
      summary: Retrieve Shipper Accounting Info
      tags:
      - Shipper Accounting Info
      security:
      - OAuth:
        - shipper_read
      responses:
        '200':
          description: Retrieve shipper accounting info
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    type: object
                    properties:
                      billing_name:
                        type: string
                      billing_address:
                        type: string
                      billing_city:
                        type: string
                      billing_zip_code:
                        type: string
                      billing_country:
                        type: string
                      billing_state:
                        type: string
                      tax_id:
                        type: string
                      contact_name:
                        type: string
                      contact_email:
                        type: string
                      contact_phone:
                        type: string
                      terms:
                        type: integer
                      notes:
                        type: string
                    required:
                    - billing_name
                    - billing_address
                    - billing_city
                    - billing_zip_code
                    - billing_country
                    - billing_state
                    - contact_name
                    - contact_email
                    - contact_phone
                    - terms
                    - notes
              example:
                data:
                  billing_name: Trunks Williams
                  billing_address: Color St.
                  billing_city: Pallet Ville
                  billing_state: CA
                  billing_zip_code: 99999
                  tax_id: 123-456789
                  billing_country: USA
                  contact_name: John Doe
                  contact_email: John@doe.com
                  contact_phone: null
                  notes: notes
    put:
      summary: Update shipper billing info
      tags:
      - Shipper Accounting Info
      security:
      - Application-JWT:
        - user_write
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                billing_name:
                  type: string
                billing_address:
                  type: string
                billing_city:
                  type: string
                billing_zip_code:
                  type: string
                billing_country:
                  type: string
                billing_state:
                  type: string
                tax_id:
                  type: string
                contact_name:
                  type: string
                contact_email:
                  type: string
                contact_phone:
                  type: string
                terms:
                  type: integer
                notes:
                  type: string
              required:
              - billing_name
              - billing_address
              - billing_city
              - billing_zip_code
              - billing_country
              - billing_state
              - contact_name
              - contact_email
              - contact_phone
              - terms
              - notes
            example:
              billing_name: Trunks Williams
              billing_address: Color St.
              billing_city: Pallet Ville
              billing_state: CA
              billing_zip_code: 99999
              tax_id: 123-456789
              billing_country: USA
              contact_name: John Doe
              contact_email: John@doe.com
              contact_phone: null
              notes: notes
      responses:
        '200':
          description: Accounting Info updated
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    type: object
                    properties:
                      billing_name:
                        type: string
                      billing_address:
                        type: string
                      billing_city:
                        type: string
                      billing_zip_code:
                        type: string
                      billing_country:
                        type: string
                      billing_state:
                        type: string
                      tax_id:
                        type: string
                      contact_name:
                        type: string
                      contact_email:
                        type: string
                      contact_phone:
                        type: string
                      terms:
                        type: integer
                      notes:
                        type: string
                    required:
                    - billing_name
                    - billing_address
                    - billing_city
                    - billing_zip_code
                    - billing_country
                    - billing_state
                    - contact_name
                    - contact_email
                    - contact_phone
                    - terms
                    - notes
              example:
                data:
                  billing_name: Trunks Williams
                  billing_address: Color St.
                  billing_city: Pallet Ville
                  billing_state: CA
                  billing_zip_code: 99999
                  tax_id: 123-456789
                  billing_country: USA
                  contact_name: John Doe
                  contact_email: John@doe.com
                  contact_phone: null
                  notes: notes
components:
  securitySchemes:
    Application-JWT:
      type: http
      scheme: bearer
      bearerFormat: JWT
      description: "Authorize the request with the application context (preferred\nfor the endpoints that support it):\n\n```\n{\n  \"sub\": \"sys\",\n  \"iss\": \"token-issuer\",\n  \"exp\": 1626239022,\n  \"iat\": 1517239022\n}\n```\n"
    User-JWT:
      type: http
      scheme: bearer
      bearerFormat: JWT
      description: "Authorize the request with an user context. A payload example\nwould be:\n\n```\n{\n  \"sub\": \"usr:87127882-d1db-4e50-8f7c-c792a80d7c49\",\n  \"iss\": \"token-issuer\",\n  \"iat\": 1517239022,\n  \"exp\": 1626239022\n}\n```\n"
