openapi: 3.2.0
info:
  title: Opendock Nova API Documentation Appointments API
  description: '## Welcome to Opendock Nova!'
  version: v4.144.0 - 39b4253
  contact: {}
servers:
- url: https://neutron.opendock.com
  description: Production Server
- url: https://neutron.staging.opendock.com
  description: Staging Server
tags:
- name: Appointments
paths:
  /appointment:
    get:
      operationId: getManyBaseAppointmentControllerAppointment
      summary: Retrieve multiple Appointments
      parameters:
      - name: fields
        description: Selects resource fields. <a href="https://github.com/nestjsx/crud/wiki/Requests#select" target="_blank">Docs</a>
        required: false
        in: query
        schema:
          type: array
          items:
            type: string
        style: form
        explode: false
      - name: s
        description: Adds search condition. <a href="https://github.com/nestjsx/crud/wiki/Requests#search" target="_blank">Docs</a>
        required: false
        in: query
        schema:
          type: string
      - name: filter
        description: Adds filter condition. <a href="https://github.com/nestjsx/crud/wiki/Requests#filter" target="_blank">Docs</a>
        required: false
        in: query
        schema:
          type: array
          items:
            type: string
        style: form
        explode: true
      - name: or
        description: Adds OR condition. <a href="https://github.com/nestjsx/crud/wiki/Requests#or" target="_blank">Docs</a>
        required: false
        in: query
        schema:
          type: array
          items:
            type: string
        style: form
        explode: true
      - name: sort
        description: Adds sort by field. <a href="https://github.com/nestjsx/crud/wiki/Requests#sort" target="_blank">Docs</a>
        required: false
        in: query
        schema:
          type: array
          items:
            type: string
        style: form
        explode: true
      - name: join
        description: Adds relational resources. <a href="https://github.com/nestjsx/crud/wiki/Requests#join" target="_blank">Docs</a>
        required: false
        in: query
        schema:
          type: array
          items:
            type: string
        style: form
        explode: true
      - name: limit
        description: Limit amount of resources. <a href="https://github.com/nestjsx/crud/wiki/Requests#limit" target="_blank">Docs</a>
        required: false
        in: query
        schema:
          type: integer
      - name: offset
        description: Offset amount of resources. <a href="https://github.com/nestjsx/crud/wiki/Requests#offset" target="_blank">Docs</a>
        required: false
        in: query
        schema:
          type: integer
      - name: page
        description: Page portion of resources. <a href="https://github.com/nestjsx/crud/wiki/Requests#page" target="_blank">Docs</a>
        required: false
        in: query
        schema:
          type: integer
      - name: cache
        description: Reset cache (if was enabled). <a href="https://github.com/nestjsx/crud/wiki/Requests#cache" target="_blank">Docs</a>
        required: false
        in: query
        schema:
          type: integer
          minimum: 0
          maximum: 1
      responses:
        '200':
          description: ''
          content:
            application/json:
              schema:
                allOf:
                - $ref: '#/components/schemas/PaginatedDto'
                - properties:
                    entity:
                      type: string
                      example: AppointmentListItemDto
                    data:
                      type: array
                      items:
                        $ref: '#/components/schemas/AppointmentListItemDto'
      tags:
      - Appointments
      security:
      - bearer: []
    post:
      operationId: createOneBaseAppointmentControllerAppointment
      summary: Create a single Appointment
      parameters:
      - name: bypassCustomFieldsValidation
        required: true
        in: query
        schema:
          type: boolean
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CreateAppointmentDto'
      responses:
        '201':
          description: ''
          content:
            application/json:
              schema:
                properties:
                  data:
                    $ref: '#/components/schemas/AppointmentListItemDto'
                  entity:
                    type: string
                    example: Appointment
                  action:
                    type: string
                    example: create
      tags:
      - Appointments
      security:
      - bearer: []
  /appointment/requirements:
    get:
      operationId: AppointmentController_getAppointmentRequirements
      parameters:
      - name: loadTypeId
        required: true
        in: query
        description: Identifies a LoadType.
        schema:
          type: string
      - name: warehouseId
        required: true
        in: query
        description: Identifies a Warehouse.
        schema:
          type: string
      - name: start
        required: true
        in: query
        description: The start date of appointment creations.
        schema:
          format: date-time
          type: string
      - name: end
        required: true
        in: query
        description: The end date of appointment creations.
        schema:
          format: date-time
          type: string
      responses:
        '200':
          description: ''
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AppointmentRequirementsSuccessResponseDto'
      tags:
      - Appointments
      security:
      - bearer: []
      summary: Appointment controller get appointment requirements
      x-summary-source: derived
  /appointment/{id}:
    get:
      operationId: getOneBaseAppointmentControllerAppointment
      summary: Retrieve a single Appointment
      parameters:
      - name: id
        required: true
        in: path
        schema:
          type: string
      - name: fields
        description: Selects resource fields. <a href="https://github.com/nestjsx/crud/wiki/Requests#select" target="_blank">Docs</a>
        required: false
        in: query
        schema:
          type: array
          items:
            type: string
        style: form
        explode: false
      - name: join
        description: Adds relational resources. <a href="https://github.com/nestjsx/crud/wiki/Requests#join" target="_blank">Docs</a>
        required: false
        in: query
        schema:
          type: array
          items:
            type: string
        style: form
        explode: true
      - name: cache
        description: Reset cache (if was enabled). <a href="https://github.com/nestjsx/crud/wiki/Requests#cache" target="_blank">Docs</a>
        required: false
        in: query
        schema:
          type: integer
          minimum: 0
          maximum: 1
      responses:
        '200':
          description: ''
          content:
            application/json:
              schema:
                properties:
                  data:
                    $ref: '#/components/schemas/AppointmentListItemDto'
                  entity:
                    type: string
                    example: Appointment
                  action:
                    type: string
                    example: read
      tags:
      - Appointments
      security:
      - bearer: []
    delete:
      operationId: deleteOneBaseAppointmentControllerAppointment
      summary: Delete a single Appointment
      parameters:
      - name: id
        required: true
        in: path
        schema:
          type: string
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/DeleteAppointmentDto'
      responses:
        '200':
          description: ''
          content:
            application/json:
              schema:
                properties:
                  data:
                    $ref: '#/components/schemas/AppointmentListItemDto'
                  entity:
                    type: string
                    example: Appointment
                  action:
                    type: string
                    example: delete
      tags:
      - Appointments
      security:
      - bearer: []
    patch:
      operationId: updateOneBaseAppointmentControllerAppointment
      summary: Update a single Appointment
      parameters:
      - name: id
        required: true
        in: path
        schema:
          type: string
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/UpdateAppointmentDto'
      responses:
        '200':
          description: ''
          content:
            application/json:
              schema:
                properties:
                  data:
                    $ref: '#/components/schemas/AppointmentListItemDto'
                  entity:
                    type: string
                    example: Appointment
                  action:
                    type: string
                    example: update
      tags:
      - Appointments
      security:
      - bearer: []
  /appointment/public/{id}:
    get:
      operationId: AppointmentController_getPublicAppointmentDetails
      parameters:
      - name: id
        required: true
        in: path
        schema:
          type: string
      responses:
        '200':
          description: ''
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AppointmentListItemDto'
      tags:
      - Appointments
      summary: Appointment controller get public appointment details
      x-summary-source: derived
  /appointment/{id}/set-eta:
    patch:
      operationId: AppointmentController_setEta
      parameters: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/EtaDto'
      responses:
        '200':
          description: ''
          content:
            application/json:
              schema:
                properties:
                  data:
                    $ref: '#/components/schemas/AppointmentListItemDto'
                  entity:
                    type: string
                    example: Appointment
                  action:
                    type: string
                    example: update
      tags:
      - Appointments
      security:
      - bearer: []
      summary: Appointment controller set eta
      x-summary-source: derived
  /appointment/{id}/undo-latest-status:
    patch:
      operationId: AppointmentController_undoLatestStatus
      parameters:
      - name: id
        required: true
        in: path
        schema:
          type: string
      responses:
        '200':
          description: ''
          content:
            application/json:
              schema:
                properties:
                  data:
                    $ref: '#/components/schemas/AppointmentListItemDto'
                  entity:
                    type: string
                    example: Appointment
                  action:
                    type: string
                    example: update
      tags:
      - Appointments
      security:
      - bearer: []
      summary: Appointment controller undo latest status
      x-summary-source: derived
  /appointment/reserve:
    post:
      operationId: AppointmentController_createReserve
      parameters: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CreateReserveDto'
      responses:
        '200':
          description: ''
          content:
            application/json:
              schema:
                properties:
                  data:
                    $ref: '#/components/schemas/AppointmentListItemDto'
                  entity:
                    type: string
                    example: Appointment
                  action:
                    type: string
                    example: create
      tags:
      - Appointments
      security:
      - bearer: []
      summary: Appointment controller create reserve
      x-summary-source: derived
  /appointment/{id}/recurring:
    post:
      operationId: AppointmentController_createRecurringAppointments
      summary: Creates a Recurring Appointment Series based on this appointment
      parameters:
      - name: id
        required: true
        in: path
        schema:
          type: string
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CreateRecurringAppointmentsDto'
      responses:
        '201':
          description: ''
          content:
            application/json:
              schema:
                properties:
                  data:
                    $ref: '#/components/schemas/RecurringAppointmentCreateResponse'
                  entity:
                    type: string
                    example: Appointment
                  action:
                    type: string
                    example: create
      tags:
      - Appointments
      security:
      - bearer: []
    delete:
      operationId: AppointmentController_deleteRecurringAppointments
      summary: Deletes this appointment and all following appointments in the recurring…
      parameters:
      - name: id
        required: true
        in: path
        schema:
          type: string
      responses:
        '200':
          description: ''
          content:
            application/json:
              schema:
                properties:
                  data:
                    $ref: '#/components/schemas/AppointmentListItemDto'
                  entity:
                    type: string
                    example: Appointment
                  action:
                    type: string
                    example: delete
      tags:
      - Appointments
      security:
      - bearer: []
  /appointment/email-notification-html/{emailKey}:
    get:
      operationId: AppointmentController_getAppointmentNotificationEmailHtml
      parameters:
      - name: emailKey
        required: true
        in: path
        schema:
          type: string
      - name: warehouseId
        required: true
        in: query
        schema:
          type: string
      responses:
        '200':
          description: ''
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AppointmentNotificationEmailHtmlResponseDto'
      tags:
      - Appointments
      security:
      - bearer: []
      summary: Appointment controller get appointment notification email html
      x-summary-source: derived
  /appointment/{id}/tag:
    post:
      operationId: AppointmentController_addAppointmentTag
      parameters:
      - name: id
        required: true
        in: path
        schema:
          type: string
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/AddAppointmentTagDto'
      responses:
        '200':
          description: ''
          content:
            application/json:
              schema:
                properties:
                  data:
                    $ref: '#/components/schemas/AppointmentListItemDto'
                  entity:
                    type: string
                    example: Appointment
                  action:
                    type: string
                    example: update
      tags:
      - Appointments
      security:
      - bearer: []
      summary: Appointment controller add appointment tag
      x-summary-source: derived
    delete:
      operationId: AppointmentController_removeAppointmentTag
      parameters:
      - name: id
        required: true
        in: path
        schema:
          type: string
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/AddAppointmentTagDto'
      responses:
        '200':
          description: ''
          content:
            application/json:
              schema:
                properties:
                  data:
                    $ref: '#/components/schemas/AppointmentListItemDto'
                  entity:
                    type: string
                    example: Appointment
                  action:
                    type: string
                    example: update
      tags:
      - Appointments
      security:
      - bearer: []
      summary: Appointment controller remove appointment tag
      x-summary-source: derived
components:
  schemas:
    CreateRecurringAppointmentsDto:
      type: object
      properties:
        numWeeks:
          type: number
          example: 3
          description: Number of weeks to repeat pattern
        weekDays:
          type: array
          example:
          - Monday
          items:
            type: string
            enum:
            - Sunday
            - Monday
            - Tuesday
            - Wednesday
            - Thursday
            - Friday
            - Saturday
        copyFields:
          type: array
          example:
          - customFields
          description: Copy appointment fields to the series. Copying refNumber will not work if unique ref number setting is on
          items:
            type: string
            enum:
            - refNumber
            - customFields
            - notes
            - tags
        customFormsDataToCopy:
          description: Load-type custom form data rows from the parent appointment to copy into each child. Pass the full row objects returned by the customformdata API (formFieldId, triggerId, label, type, value). Array-valued fields (multidoc, dropdownmultiselect) are serialised correctly for each child.
          type: array
          items:
            $ref: '#/components/schemas/RecurringCustomFormDataItemDto'
        startingStatus:
          type: string
          enum:
          - Scheduled
          - Requested
          example: Requested
          default: Scheduled
          description: Starting status for recurring children. Defaults to Scheduled
      required:
      - numWeeks
      - weekDays
    RecurringAppointmentCreateSuccess:
      type: object
      properties:
        appointmentId:
          type: string
          format: uuid
          example: 3ca0e68f-8fc4-4e5d-b08a-b5ffefe2ebce
        start:
          format: date-time
          type: string
          example: '2026-03-30T05:30:00.000Z'
      required:
      - appointmentId
      - start
    CreateAppointmentDto:
      type: object
      properties:
        tags:
          type: object
        status:
          type: string
          enum:
          - NoShow
          - Cancelled
          - Requested
          - Scheduled
          - Arrived
          - InProgress
          - Completed
        userId:
          type: object
        loadTypeId:
          type: string
        dockId:
          type: string
        start:
          format: date-time
          type: string
        end:
          format: date-time
          type: string
        refNumbers:
          type: array
          items:
            type: string
        refNumber:
          type: string
        customFields:
          type: array
          items:
            type: string
        notes:
          type: string
        ccEmails:
          type: array
          items:
            type: string
        muteNotifications:
          type: boolean
        metadata:
          type: object
        units:
          type: object
      required:
      - loadTypeId
      - dockId
      - start
    AppointmentListItemDto:
      type: object
      properties:
        id:
          type: string
          format: uuid
          example: 25523508-e358-4161-8907-5bfba673ce94
        createDateTime:
          type: string
          format: date-time
          example: '2026-03-18T18:14:51.766Z'
        createdBy:
          type: string
          format: uuid
          example: c798fcb0-e072-46af-92cf-dec899b68973
        lastChangedDateTime:
          type: string
          format: date-time
          example: '2026-03-18T18:14:59.545Z'
        lastChangedBy:
          type: string
          format: uuid
          example: c798fcb0-e072-46af-92cf-dec899b68973
        isActive:
          type: boolean
          example: true
        tags:
          example: []
          type:
          - array
          - 'null'
          items:
            type: string
        type:
          type: string
          enum:
          - Standard
          - Reserve
          example: Standard
        status:
          type: string
          enum:
          - NoShow
          - Cancelled
          - Requested
          - Scheduled
          - Arrived
          - InProgress
          - Completed
          example: Requested
        statusTimeline:
          $ref: '#/components/schemas/StatusTimelineDto'
        userId:
          type:
          - object
          - 'null'
          format: uuid
          example: c798fcb0-e072-46af-92cf-dec899b68973
        loadTypeId:
          type: string
          format: uuid
          example: e4fbeabd-a501-4f3b-bc11-7f034110e925
        dockId:
          type: string
          format: uuid
          example: c9fbc7d2-f9c3-483c-84b4-1215682af6a3
        orgId:
          type: string
          format: uuid
          example: 7e77fbe1-9517-44ce-b08b-5a18b478b79f
        start:
          type: string
          format: date-time
          example: '2026-03-19T18:30:00.000Z'
        end:
          type: string
          format: date-time
          example: '2026-03-19T19:30:00.000Z'
        eta:
          type:
          - object
          - 'null'
          format: date-time
          example: null
        refNumber:
          type: string
          example: APT-41313
        refNumbers:
          example:
          - APT-41313
          type: array
          items:
            type: string
        customFields:
          type: array
          items:
            $ref: '#/components/schemas/CustomFieldDto'
        notes:
          type:
          - object
          - 'null'
          example: ''
        ccEmails:
          example: []
          type: array
          items:
            type: string
        recurringParentId:
          type:
          - object
          - 'null'
          format: uuid
          example: null
        recurringPattern:
          type:
          - object
          - 'null'
          example: null
        reschedules:
          type:
          - object
          - 'null'
          example: null
        confirmationNumber:
          type: string
          example: '137510'
        muteNotifications:
          type: boolean
          example: false
        isCheckedInByCarrier:
          type: boolean
          example: false
        metadata:
          $ref: '#/components/schemas/AppointmentMetadataDto'
        units:
          type:
          - object
          - 'null'
          example: 12
        searchableCustomFields:
          type:
          - object
          - 'null'
          example: null
        recurringParent:
          type:
          - object
          - 'null'
          example: null
        recurringChildren:
          description: Child appointments in a recurring series (only present when relation is loaded)
          type:
          - array
          - 'null'
          items:
            type: object
      required:
      - id
      - createDateTime
      - createdBy
      - lastChangedDateTime
      - isActive
      - type
      - status
      - loadTypeId
      - dockId
      - orgId
      - start
      - end
      - confirmationNumber
      - muteNotifications
      - isCheckedInByCarrier
    EtaDto:
      type: object
      properties:
        eta:
          format: date-time
          type: string
          example: '2026-03-19T18:30:00.000Z'
          description: Estimated time of arrival
        reason:
          type: string
          example: on time
          description: Reason for the ETA update (required for carriers)
      required:
      - eta
    AppointmentMetadataDto:
      type: object
      properties:
        unitLimitBreached:
          type: boolean
          example: false
        externalValidationFailed:
          type: boolean
          example: false
        externalValidationErrorMessage:
          type:
          - object
          - 'null'
          example: null
        unitLimitOverrideReason:
          type:
          - object
          - 'null'
          example: null
        clonedFromId:
          type:
          - object
          - 'null'
          format: uuid
          example: null
    RecurringCustomFormDataItemDto:
      type: object
      properties: {}
    AppointmentRequirementsExamplePayloadDto:
      type: object
      properties:
        customFields:
          type: array
          items:
            type: object
          description: Present when the warehouse exposes custom appointment fields to carriers.
        customFormsData:
          type: array
          items:
            type: object
          description: Present when custom form fields apply to this load type.
        units:
          type: number
          description: Handling units count when that field is enabled.
        loadTypeId:
          type: string
        dockId:
          type: string
        start:
          type:
          - object
          - 'null'
          description: First available slot as ISO string when slots exist; otherwise null.
        notes:
          type: string
        userId:
          type: string
        refNumbers:
          description: One or more reference numbers; elements are strings or integers depending on warehouse ref mode.
          type: array
          items:
            type: array
        ccEmails:
          type: array
          items:
            type: string
      required:
      - loadTypeId
      - dockId
      - start
      - notes
      - userId
      - refNumbers
      - ccEmails
    RecurringAppointmentCreateFailure:
      type: object
      properties:
        start:
          format: date-time
          type: string
          example: '2026-04-20T05:30:00.000Z'
        reason:
          type: string
          example: Appointment does not fit into combined Dock and Warehouse availability
      required:
      - start
      - reason
    AppointmentRequirementsCustomFormFieldRowDto:
      type: object
      properties:
        field:
          $ref: '#/components/schemas/AppointmentRequirementsCustomFormFieldFieldDto'
        type:
          type: string
          enum:
          - str
          - bigstr
          - date
          - bool
          - doc
          - multidoc
          - int
          - email
          - phone
          - dropdown
          - dropdownmultiselect
          - combobox
          - timestamp
          - action
        required:
          type: boolean
          description: Whether this field is required when scheduling.
        minLengthOrValue:
          type: number
          description: Minimum length or value for field types `str`, `bigstr`, and `int`.
        maxLengthOrValue:
          type: number
          description: Maximum length or value for field types `str`, `bigstr`, and `int`.
        dropDownValues:
          description: Discrete option strings when the field type is dropdown, dropdownmultiselect, or combobox and the warehouse configured choices.
          type: array
          items:
            type: string
        formName:
          type: string
        label:
          type: string
        description:
          type:
          - object
          - 'null'
          description: Warehouse-defined form field description; always serialized. Use null or empty string as stored.
        semanticLabel:
          allOf:
          - $ref: '#/components/schemas/AppointmentRequirementsSemanticLabelDto'
      required:
      - field
      - type
      - required
      - formName
      - label
      - description
      - semanticLabel
    DeleteAppointmentDto:
      type: object
      properties:
        hardDelete:
          type: boolean
    UpdateAppointmentDto:
      type: object
      properties:
        tags:
          type: object
        status:
          type: string
          enum:
          - NoShow
          - Cancelled
          - Requested
          - Scheduled
          - Arrived
          - InProgress
          - Completed
        userId:
          type: object
        loadTypeId:
          type: string
        dockId:
          type: string
        start:
          format: date-time
          type: string
        end:
          format: date-time
          type: string
        refNumbers:
          type: array
          items:
            type: string
        refNumber:
          type: string
        customFields:
          type: array
          items:
            type: string
        notes:
          type: string
        ccEmails:
          type: array
          items:
            type: string
        muteNotifications:
          type: boolean
        metadata:
          type: object
        units:
          type: object
        type:
          type: string
          enum:
          - Standard
          - Reserve
        statusTimeline:
          type: object
        isCheckedInByCarrier:
          type: boolean
    AppointmentRequirementsFieldSchemaDto:
      type: object
      properties:
        type:
          type: string
          description: Human-readable field type label (e.g. uuid, timestamp, string).
        required:
          type: boolean
          description: Whether this field is required when creating an appointment.
        example:
          type: object
          description: Example value for this field; shape depends on warehouse, load type, and field type.
        acceptedValues:
          type: object
          description: Allowed or described values (e.g. UUID lists, maps of dock id to slot times, free-text rules).
        description:
          type: string
          description: How to supply this field on appointment creation.
      required:
      - type
      - required
      - example
      - description
    AddAppointmentTagDto:
      type: object
      properties:
        tag:
          type: string
          example: Damaged
      required:
      - tag
    AppointmentRequirementsSemanticLabelDto:
      type: object
      properties:
        slug:
          type: string
        name:
          type: string
        description:
          type: string
      required:
      - slug
      - name
      - description
    PaginatedDto:
      type: object
      properties:
        count:
          type: number
          example: 2
        total:
          type: number
          example: 2
        page:
          type: number
          example: 1
        pageCount:
          type: number
          example: 1
        action:
          type: string
          example: read
        entity:
          type: string
          example: Appointment
        data:
          type: array
          items:
            type: string
      required:
      - count
      - total
      - page
      - pageCount
      - action
      - entity
      - data
    CustomFieldDto:
      type: object
      properties:
        name:
          type: string
          example: emailDispatcher
        type:
          type: string
          example: email
        label:
          type: string
          example: Dispatcher
        description:
          type: string
          example: Dispatcher's email address
        placeholder:
          type: string
          example: xpto@example.com
        dropDownValues:
          example: []
          type: array
          items:
            type: string
        hiddenFromCarrier:
          type: boolean
          example: false
        requiredForCarrier:
          type: boolean
          example: false
        requiredForWarehouse:
          type: boolean
          example: false
        value:
          type: object
          description: Field value — type depends on the custom field type
      required:
      - name
      - type
      - label
    CreateReserveDto:
      type: object
      properties:
        dockId:
          type: string
          format: uuid
          example: c9fbc7d2-f9c3-483c-84b4-1215682af6a3
        start:
          format: date-time
          type: string
          example: '2026-03-23T05:00:00.000Z'
        notes:
          type: string
          example: Reserved
        duration_min:
          type: number
          example: 30
          description: 'Duration in minutes (default: 30)'
      required:
      - dockId
      - start
    AppointmentRequirementsCustomFormFieldFieldDto:
      type: object
      properties:
        formFieldId:
          type: string
        triggerId:
          type: string
        value:
          type: string
      required:
      - formFieldId
      - triggerId
      - value
    AppointmentNotificationEmailHtmlResponseDto:
      type: object
      properties:
        bodyHtml:
          type: string
          example: <html lang="en-US"><body>Html Block Example</body></html>
        subject:
          type: string
          example: Appointment details have changed
      required:
      - bodyHtml
      - subject
    RecurringAppointmentCreateResponse:
      type: object
      properties:
        successes:
          type: array
          items:
            $ref: '#/components/schemas/RecurringAppointmentCreateSuccess'
        failures:
          type: array
          items:
            $ref: '#/components/schemas/RecurringAppointmentCreateFailure'
      required:
      - successes
      - failures
    AppointmentRequirementsCustomFormsDataSchemaDto:
      type: object
      properties:
        type:
          type: string
        required:
          type: boolean
        children:
          description: Rows describing each custom form field for this load type (`field` holds formFieldId, triggerId, value placeholder).
          type: array
          items:
            $ref: '#/components/schemas/AppointmentRequirementsCustomFormFieldRowDto'
        description:
          type: string
      required:
      - type
      - required
      - children
      - description
    StatusTimelineDto:
      type: object
      properties:
        NoShow:
          type:
          - object
          - 'null'
          format: date-time
          example: null
        Arrived:
          type:
          - object
          - 'null'
          format: date-time
          example: null
        Cancelled:
          type:
          - object
          - 'null'
          format: date-time
          example: null
        Completed:
          type:
          - object
          - 'null'
          format: date-time
          example: null
        Requested:
          type:
          - object
          - 'null'
          format: date-time
          example: '2026-03-18T18:14:00.000Z'
        Scheduled:
          type:
          - object
          - 'null'
          format: date-time
          example: null
        InProgress:
          type:
          - object
          - 'null'
          format: date-time
          example: null
    AppointmentRequirementsFieldsDto:
      type: object
      properties:
        customFields:
          $ref: '#/components/schemas/AppointmentRequirementsFieldSchemaDto'
        customFormsData:
          $ref: '#/components/schemas/AppointmentRequirementsCustomFormsDataSchemaDto'
        units:
          $ref: '#/components/schemas/AppointmentRequirementsFieldSchemaDto'
        loadTypeId:
          $ref: '#/components/schemas/AppointmentRequirementsFieldSchemaDto'
        dockId:
          $ref: '#/components/schemas/AppointmentRequirementsFieldSchemaDto'
        start:
          $ref: '#/components/schemas/AppointmentRequirementsFieldSchemaDto'
        notes:
          $ref: '#/components/schemas/AppointmentRequirementsFieldSchemaDto'
        userId:
          $ref: '#/components/schemas/AppointmentRequirementsFieldSchemaDto'
        refNumbers:
          $ref: '#/components/schemas/AppointmentRequirementsFieldSchemaDto'
        ccEmails:
          $ref: '#/components/schemas/AppointmentRequirementsFieldSchemaDto'
      required:
      - loadTypeId
      - dockId
      - start
      - notes
      - userId
      - refNumbers
      - ccEmails
    AppointmentRequirementsSuccessResponseDto:
      type: object
      properties:
        notes:
          type: string
          description: Integrator-facing hints (e.g. external ref validation). Not the same as `fields.notes` on the appointment create payload.
        fields:
          $ref: '#/components/schemas/AppointmentRequirementsFieldsDto'
        example:
          $ref: '#/components/schemas/AppointmentRequirementsExamplePayloadDto'
      required:
      - fields
      - example
  securitySchemes:
    bearer:
      scheme: bearer
      bearerFormat: JWT
      type: http
