openapi: 3.2.0
info:
  title: Loadsmart Webhooks API
  x-logo:
    altText: Loadsmart API
    url: https://developer.loadsmart.com/logo.svg
  description: "Loadsmart API provides endpoints to quote, book and track shipments autonomously.\n\n# Authentication\n\nLoadsmart API supports JWT tokens for authentication, signed using\npublic/private key pairs (RSA 4096).\n\n## What is JWT?\n\nJSON Web Token (JWT) is an [open standard](https://tools.ietf.org/html/rfc7519) used to\ncreate access tokens that contain some number of claims and is cryptographically signed by\nthe issuer, so its integrity can be verified without an auth server.\n\n## Token algorithm\n\nWe support JWT tokens signed using RS256 algorithm:\n\n```\n{\n  \"alg\": \"RS256\",\n  \"typ\": \"JWT\"\n}\n```\n\n## Required Claims\n\nFor the token payload, we require at least the following claims:\n\n- `sub`: Identifies the subject of the API call. This could be\n  either `sys` (without any user or client context) or `usr:UUID`,\n  where `UUID` is the uuid of the user that will provide the\n  context for the API call.\n- `iss`: Identifies who issued the token. This will be provided by\n  Loadsmart when setting up the integration.\n- `iat`: Standard \"issued at\" claim; should be an unix timestamp.\n- `exp`: Standard \"expires at\" claim; should be an unix timestamp.\n  We recomend to keep the token as short-lived as possible - ideally\n  it should not be valid for more than 1 minute. In the future,\n  Loadsmart could reject tokens with high expiration times.\n\n## Using the token\n\nThe token must be present in the `Authorization` header on all\nrequests, following the format:\n\n```\nAuthorization: JWT <token>\n```\n\nEach part of the token is encoded in base64 and joined with a dot separating each encoded part -\nif you use a library to generate it (which is recommended), you don't need to worry about it.\n\n**Important: Authorization header value must have the prefix `JWT`**.\n\nSee an example:\n\n```\nAuthorization: JWT eyJhbGciOiJSUzI1NiIsInR5cCI6IkpXVCJ9.eyJzdWIiOiIxMjM0NTY3ODkwIiwibmFtZSI6IkpvaG4gRG9lIiwiYWRtaW4iOnRydWUsImlhdCI6MTUxNjIzOTAyMn0.TCYt5XsITJX1CxPCT8yAV-TVkIEq_PbChOMqsLfRoPsnsgw5WEuts01mq-pQy7UJiN5mgRxD-WUcX16dUEMGlv50aqzpqh4Qktb3rk-BuQy72IFLOqV0G_zS245-kronKb78cPN25DGlcTwLtjPAYuNzVBAh4vGHSrQyHUdBBPM\n```\n\n## Available contexts\n\nEach token has an implicit context associated with it (usually depending on the value of `sub`\nclaim). This context identifies to the API if the entity doing an action is an user or a system.\n\nLoadsmart API has different token contexts depending on the endpoint being called. Each endpoint\nwill specify the supported contexts (and required scopes) in `AUTHORIZATIONS` section.\n\n<!-- ReDoc-Inject: <security-definitions> -->\n\n## API Access\n\nTo start using Loadsmart API, please get in touch through your\npoint of contact. They will direct you through the proper flow.\n\n### Creating a public/private key pair\n\nFor JWT tokens, you should provide your *public key*. To generate a\npublic and private key pair, you can use OpenSSL:\n\n```bash\n$ openssl genpkey -algorithm RSA -out private_key.pem -pkeyopt rsa_keygen_bits:4096\n$ openssl rsa -in private_key.pem -pubout -out public_key.pem\n```\n\n*Never* reuse keys between multiple systems.\n\nFor more information, checkout the [official JWT website](https://jwt.io/).\n"
  version: 1.0.0
servers:
- url: https://api.loadsmart.com
  description: Production server
- url: https://api.sandbox.loadsmart.com
  description: Sandbox environment
tags:
- name: Webhooks
  description: "Webhooks allow you to receive certain events from Loadsmart. When one of those events is\ntriggered, we'll send an HTTP POST request to the webhook's configured URL(s). This URL(s)\nshould be sent to Loadsmart as part of the onboarding process. Webhooks can be used to update your\nown system with information from Loadsmart.\n\n## Authentication\nLoadsmart Webhooks use the same authentication scheme used in the API, except in this case,\nLoadsmart generates the JWT tokens and the TMS authenticates our requests with these tokens.\nDuring the setup process Loadsmart will send to TMS the public key and the TMS will be responsible for validating the token.\n\n### Token structure\n\nThe JWT token header will be:\n```\n{\n  \"alg\": \"RS256\",\n  \"typ\": \"JWT\"\n}\n```\n\nThe token payload will have:\n```\n{\n  \"iss\": \"loadsmart\", // the token issuer\n  \"iat\": 1517239022, // unix timestamp when the token was issued\n  \"exp\": 1626239022  //unix timestamp when the token will expire\n}\n```\n\nThe JWT token will be present in the Authorization header on all requests, as in the following example:\n\n```\nAuthorization: JWT eyJhbGciOiJSUzI1NiIsInR5cCI6IkpXVCJ9.eyJzdWIiOiIxMjM0NTY3ODkwIiwibmFtZSI6IkpvaG4gRG9lIiwiYWRtaW4iOnRydWUsImlhdCI6MTUxNjIzOTAyMn0.TCYt5XsITJX1CxPCT8yAV-TVkIEq_PbChOMqsLfRoPsnsgw5WEuts01mq-pQy7UJiN5mgRxD-WUcX16dUEMGlv50aqzpqh4Qktb3rk-BuQy72IFLOqV0G_zS245-kronKb78cPN25DGlcTwLtjPAYuNzVBAh4vGHSrQyHUdBBPM\n```\n"
paths:
  /api/v2/webhooks/url:
    get:
      summary: List Webhooks
      security:
      - Application-JWT:
        - webhook_read
      description: 'Lists all webhooks registered for the authenticated client

        '
      responses:
        '200':
          description: Event received
          content:
            application/json:
              schema:
                type: object
                properties:
                  count:
                    description: Number of objects found
                    type: number
                    format: integer
                  next:
                    description: URL for next page of results
                    type: string
                    format: url
                  previous:
                    description: URL for previous page of results
                    type: string
                    format: url
                  results:
                    type: array
                    items:
                      allOf:
                      - type: object
                        properties:
                          uuid:
                            description: Webhook unique identifier
                            type: string
                            format: uuid
                      - type: object
                        properties:
                          events:
                            type: array
                            items:
                              type: string
                              enum:
                              - load:accepted
                              - load:rejected
                              - quote:booked
                              - quote:book-failed
                              - quote:rejected
                              - shipment:invoice
                              - shipment:carrier-dropped
                              - shipment:carrier-updated
                              - shipment:appointment-pickup
                              - shipment:appointment-delivery
                              - shipment:driver-assigned
                              - shipment:driver-unassigned
                              - shipment:en-route-to-pickup
                              - shipment:check-in-pickup
                              - shipment:check-out-pickup
                              - shipment:en-route-to-delivery
                              - shipment:check-in-delivery
                              - shipment:check-out-delivery
                              - shipment:pickup-late
                              - shipment:delivery-late
                              - shipment:location-updated
                              - shipment:canceled
                              - shipment:incident
                              - shipment:updated
                              - carrier:tender:accepted
                              - carrier:tender:canceled
                              - carrier:status:changed
                              - integration-request:accepted
                              - integration-request:rejected
                              - bid:expired
                              - bid:timed_out
                              - bid:refused
                              - bid:awarded
                              - bid:accepted
                          url:
                            type: string
                            format: URL
                            description: URL to post the webhooks
                        required:
                        - url
                        - events
              example:
                count: 2
                next: null
                previous: null
                results:
                - uuid: d630d8fe-9859-453f-aed2-372a1b09345c
                  url: https://www.example.com/my/awsome/webhook_1
                  events:
                  - load:accepted
                  - carrier:tender:accepted
                - uuid: 8f62fea9-1edb-4f31-b2e5-dcf184b5a22b
                  url: https://www.example.com/my/awsome/webhook_2
                  events:
                  - integration-request:accepted
      tags:
      - Webhooks
    post:
      summary: Register webhooks
      security:
      - Application-JWT:
        - webhook_write
      description: 'Create webhooks configuration

        '
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                events:
                  type: array
                  items:
                    type: string
                    enum:
                    - load:accepted
                    - load:rejected
                    - quote:booked
                    - quote:book-failed
                    - quote:rejected
                    - shipment:invoice
                    - shipment:carrier-dropped
                    - shipment:carrier-updated
                    - shipment:appointment-pickup
                    - shipment:appointment-delivery
                    - shipment:driver-assigned
                    - shipment:driver-unassigned
                    - shipment:en-route-to-pickup
                    - shipment:check-in-pickup
                    - shipment:check-out-pickup
                    - shipment:en-route-to-delivery
                    - shipment:check-in-delivery
                    - shipment:check-out-delivery
                    - shipment:pickup-late
                    - shipment:delivery-late
                    - shipment:location-updated
                    - shipment:canceled
                    - shipment:incident
                    - shipment:updated
                    - carrier:tender:accepted
                    - carrier:tender:canceled
                    - carrier:status:changed
                    - integration-request:accepted
                    - integration-request:rejected
                    - bid:expired
                    - bid:timed_out
                    - bid:refused
                    - bid:awarded
                    - bid:accepted
                url:
                  type: string
                  format: URL
                  description: URL to post the webhooks
              required:
              - url
              - events
      responses:
        '201':
          description: Success
          content:
            application/json:
              schema:
                allOf:
                - type: object
                  properties:
                    uuid:
                      description: Webhook unique identifier
                      type: string
                      format: uuid
                - type: object
                  properties:
                    events:
                      type: array
                      items:
                        type: string
                        enum:
                        - load:accepted
                        - load:rejected
                        - quote:booked
                        - quote:book-failed
                        - quote:rejected
                        - shipment:invoice
                        - shipment:carrier-dropped
                        - shipment:carrier-updated
                        - shipment:appointment-pickup
                        - shipment:appointment-delivery
                        - shipment:driver-assigned
                        - shipment:driver-unassigned
                        - shipment:en-route-to-pickup
                        - shipment:check-in-pickup
                        - shipment:check-out-pickup
                        - shipment:en-route-to-delivery
                        - shipment:check-in-delivery
                        - shipment:check-out-delivery
                        - shipment:pickup-late
                        - shipment:delivery-late
                        - shipment:location-updated
                        - shipment:canceled
                        - shipment:incident
                        - shipment:updated
                        - carrier:tender:accepted
                        - carrier:tender:canceled
                        - carrier:status:changed
                        - integration-request:accepted
                        - integration-request:rejected
                        - bid:expired
                        - bid:timed_out
                        - bid:refused
                        - bid:awarded
                        - bid:accepted
                    url:
                      type: string
                      format: URL
                      description: URL to post the webhooks
                  required:
                  - url
                  - events
              example:
                uuid: d630d8fe-9859-453f-aed2-372a1b09345c
                url: https://www.example.com/my/awsome/webhook_1
                events:
                - load:accepted
                - carrier:tender:accepted
        '400':
          description: Invalid parameters
          content:
            application/json:
              schema:
                type: object
                properties:
                  error:
                    type: string
                    enum:
                    - invalid_data
                  error_description:
                    type: string
                    description: Description of what happened
                  errors:
                    type: object
                    description: Object where each field is a key and the value is an array of errors
                required:
                - error
                - error_description
      tags:
      - Webhooks
  /api/v2/webhooks/url/{uuid}:
    get:
      summary: Retrieve webhook
      tags:
      - Webhooks
      security:
      - Application-JWT:
        - webhook_read
      description: 'Retrieve webhook configuration

        '
      parameters:
      - in: path
        name: uuid
        schema:
          description: Webhook unique identifier (UUID)
          type: string
          format: uuid
        required: true
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                allOf:
                - type: object
                  properties:
                    uuid:
                      description: Webhook unique identifier
                      type: string
                      format: uuid
                - type: object
                  properties:
                    events:
                      type: array
                      items:
                        type: string
                        enum:
                        - load:accepted
                        - load:rejected
                        - quote:booked
                        - quote:book-failed
                        - quote:rejected
                        - shipment:invoice
                        - shipment:carrier-dropped
                        - shipment:carrier-updated
                        - shipment:appointment-pickup
                        - shipment:appointment-delivery
                        - shipment:driver-assigned
                        - shipment:driver-unassigned
                        - shipment:en-route-to-pickup
                        - shipment:check-in-pickup
                        - shipment:check-out-pickup
                        - shipment:en-route-to-delivery
                        - shipment:check-in-delivery
                        - shipment:check-out-delivery
                        - shipment:pickup-late
                        - shipment:delivery-late
                        - shipment:location-updated
                        - shipment:canceled
                        - shipment:incident
                        - shipment:updated
                        - carrier:tender:accepted
                        - carrier:tender:canceled
                        - carrier:status:changed
                        - integration-request:accepted
                        - integration-request:rejected
                        - bid:expired
                        - bid:timed_out
                        - bid:refused
                        - bid:awarded
                        - bid:accepted
                    url:
                      type: string
                      format: URL
                      description: URL to post the webhooks
                  required:
                  - url
                  - events
              example:
                uuid: d630d8fe-9859-453f-aed2-372a1b09345c
                url: https://www.example.com/my/awsome/webhook_1
                events:
                - load:accepted
                - carrier:tender:accepted
        '404':
          description: Webhook configuration not found
          content:
            application/json:
              schema:
                type: object
                properties:
                  error:
                    type: string
                    enum:
                    - invalid_data
                  error_description:
                    type: string
                    description: Description of what happened
                  errors:
                    type: object
                    description: Object where each field is a key and the value is an array of errors
                required:
                - error
                - error_description
              example:
                error: object_not_found
                error_description: Object not found
    put:
      summary: Update webhook
      tags:
      - Webhooks
      security:
      - Application-JWT:
        - webhook_write
      description: 'Update webhook configuration

        '
      parameters:
      - in: path
        name: uuid
        schema:
          description: Webhook unique identifier (UUID)
          type: string
          format: uuid
        required: true
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                events:
                  type: array
                  items:
                    type: string
                    enum:
                    - load:accepted
                    - load:rejected
                    - quote:booked
                    - quote:book-failed
                    - quote:rejected
                    - shipment:invoice
                    - shipment:carrier-dropped
                    - shipment:carrier-updated
                    - shipment:appointment-pickup
                    - shipment:appointment-delivery
                    - shipment:driver-assigned
                    - shipment:driver-unassigned
                    - shipment:en-route-to-pickup
                    - shipment:check-in-pickup
                    - shipment:check-out-pickup
                    - shipment:en-route-to-delivery
                    - shipment:check-in-delivery
                    - shipment:check-out-delivery
                    - shipment:pickup-late
                    - shipment:delivery-late
                    - shipment:location-updated
                    - shipment:canceled
                    - shipment:incident
                    - shipment:updated
                    - carrier:tender:accepted
                    - carrier:tender:canceled
                    - carrier:status:changed
                    - integration-request:accepted
                    - integration-request:rejected
                    - bid:expired
                    - bid:timed_out
                    - bid:refused
                    - bid:awarded
                    - bid:accepted
                url:
                  type: string
                  format: URL
                  description: URL to post the webhooks
              required:
              - url
              - events
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                allOf:
                - type: object
                  properties:
                    uuid:
                      description: Webhook unique identifier
                      type: string
                      format: uuid
                - type: object
                  properties:
                    events:
                      type: array
                      items:
                        type: string
                        enum:
                        - load:accepted
                        - load:rejected
                        - quote:booked
                        - quote:book-failed
                        - quote:rejected
                        - shipment:invoice
                        - shipment:carrier-dropped
                        - shipment:carrier-updated
                        - shipment:appointment-pickup
                        - shipment:appointment-delivery
                        - shipment:driver-assigned
                        - shipment:driver-unassigned
                        - shipment:en-route-to-pickup
                        - shipment:check-in-pickup
                        - shipment:check-out-pickup
                        - shipment:en-route-to-delivery
                        - shipment:check-in-delivery
                        - shipment:check-out-delivery
                        - shipment:pickup-late
                        - shipment:delivery-late
                        - shipment:location-updated
                        - shipment:canceled
                        - shipment:incident
                        - shipment:updated
                        - carrier:tender:accepted
                        - carrier:tender:canceled
                        - carrier:status:changed
                        - integration-request:accepted
                        - integration-request:rejected
                        - bid:expired
                        - bid:timed_out
                        - bid:refused
                        - bid:awarded
                        - bid:accepted
                    url:
                      type: string
                      format: URL
                      description: URL to post the webhooks
                  required:
                  - url
                  - events
              example:
                uuid: d630d8fe-9859-453f-aed2-372a1b09345c
                url: https://www.example.com/my/awsome/webhook_1
                events:
                - load:accepted
                - carrier:tender:accepted
        '400':
          description: Invalid parameters
          content:
            application/json:
              schema:
                type: object
                properties:
                  error:
                    type: string
                    enum:
                    - invalid_data
                  error_description:
                    type: string
                    description: Description of what happened
                  errors:
                    type: object
                    description: Object where each field is a key and the value is an array of errors
                required:
                - error
                - error_description
        '404':
          description: Webhook configuration not found
          content:
            application/json:
              schema:
                type: object
                properties:
                  error:
                    type: string
                    enum:
                    - invalid_data
                  error_description:
                    type: string
                    description: Description of what happened
                  errors:
                    type: object
                    description: Object where each field is a key and the value is an array of errors
                required:
                - error
                - error_description
              example:
                error: object_not_found
                error_description: Object not found
    delete:
      summary: Delete webhook
      tags:
      - Webhooks
      security:
      - Application-JWT:
        - webhook_write
      description: 'Delete webhook configuration

        '
      parameters:
      - in: path
        name: uuid
        schema:
          description: Webhook unique identifier (UUID)
          type: string
          format: uuid
        required: true
      responses:
        '204':
          description: No Content
        '404':
          description: Webhook configuration not found
          content:
            application/json:
              schema:
                type: object
                properties:
                  error:
                    type: string
                    enum:
                    - invalid_data
                  error_description:
                    type: string
                    description: Description of what happened
                  errors:
                    type: object
                    description: Object where each field is a key and the value is an array of errors
                required:
                - error
                - error_description
              example:
                error: object_not_found
                error_description: Object not found
  /quote-webhooks:
    post:
      summary: Quote Events
      description: "Posts a message when an event about a quote is triggered.\n\nThe quote event payload has a base schema but the details change depending on the event type.\nDuring the onboarding you can let Loadsmart know which events you want to receive. You can also\nreceive events in more than one URL.\n\nList of event types:\n  - quote:booked\n  - quote:rejected\n"
      requestBody:
        content:
          application/json:
            schema:
              oneOf:
              - type: object
                title: quote:booked
                properties:
                  details:
                    type: object
                    properties:
                      event:
                        type: object
                        properties:
                          sender_id:
                            type:
                            - string
                            - 'null'
                            description: The identification of the party that is sending this message
                          receiver_id:
                            type:
                            - string
                            - 'null'
                            description: The identification of the party that is receiving this message
                      shipment:
                        type: object
                        properties:
                          id:
                            type: string
                            format: uuid
                            description: The shipment identifier
                          bol_number:
                            type: string
                            description: The bill of lading number
                          equipment_type:
                            type: string
                            description: The type of truck used to move the load
                          equipment_size:
                            type: integer
                            description: The size of the truck used to move the load, in feet
                          purchase_order_number:
                            type:
                            - string
                            - 'null'
                            description: The Purchase Order (PO) number
                          ref_number:
                            type: string
                            description: The load number from its shipper
                          loadsmart_ref_number:
                            type: string
                            description: Internal identifier
                          stops:
                            type: array
                            minItems: 1
                            items:
                              type: object
                              properties:
                                date:
                                  type: string
                                  format: date-time
                                  description: The date and time of the stop
                                city:
                                  type: string
                                  description: This stop city
                                state:
                                  type: string
                                  description: This stop state
                                country:
                                  type: string
                                  description: This stop country
                                zipcode:
                                  type: string
                                  description: This stop zipcode
                                timezone:
                                  type: string
                                  description: This stop timezone
                                stop_index:
                                  type: number
                                  description: Indicate the stop number for this event, being 0-based for pickup.
                                location:
                                  type: object
                                  description: General localization attributes
                                  properties:
                                    latitude:
                                      type: number
                                      description: The latitude where the stop is located
                                    longitude:
                                      type: number
                                      description: The longitude where the stop is located
                      shipper:
                        type: object
                        properties:
                          id:
                            type: string
                            format: uuid
                            description: The shipper identifier
                          name:
                            type: string
                            description: The shipper name
                  created_at:
                    type: string
                    format: date-time
                    description: The date and time of the event.
                  type:
                    type: string
                    description: Event type
              - type: object
                title: quote:rejected
                properties:
                  details:
                    type: object
                    properties:
                      quote:
                        type: object
                        properties:
                          id:
                            type: string
                            description: The quote identifier
                          customer_reference:
                            type: string
                            description: The quoted shipment identifier on the shipper side
                      shipper:
                        type: object
                        properties:
                          id:
                            type: string
                            format: uuid
                            description: The shipper identifier
                          name:
                            type: string
                            description: The shipper name
                  created_at:
                    type: string
                    format: date-time
                    description: The date and time of the event.
                  type:
                    type: string
                    description: Event type
            examples:
              BookedQuote:
                value:
                  type: quote:booked
                  created_at: 2019-09-09 14:14:14.044000+00:00
                  details:
                    event:
                      sender_id: Loadsmart
                      receiver_id: Your Company
                    shipment:
                      id: 515cf5a61d004b87abecc6988d75619c
                      bol_number: FHC-1234BR
                      equipment_type: DRV
                      equipment_size: 53
                      purchase_order_number: GA452686
                      ref_number: SKT8678K
                      stops:
                      - city: Orange
                        state: MA
                        zipcode: '01364'
                        country: USA
                        stop_index: 0
                        date: 2018-09-19 13:30:00-04:00
                        location:
                          latitude: 42.35725
                          longitude: -72.18648
                      - city: Red Bluff
                        state: CA
                        zipcode: '96080'
                        country: USA
                        stop_index: 1
                        date: 2018-09-22 17:00:00-04:00
                        location:
                          latitude: 40.043325
                          longitude: -122.34648
                    shipper:
                      id: 5d5f9e1b49d543eba0d5744237357e66
                      name: Stark Industries
              RejectedQuote:
                value:
                  type: quote:rejected
                  created_at: 2019-09-09 14:14:14.044000+00:00
                  details:
                    quote:
                      id: 556152bb26824d1abc65ba2d0af1532d
                      customer_reference: DAY2357V
                    shipper:
                      id: db0da78773884ecd9975af1c9d53e8b8
                      name: Acme Inc.
      responses:
        '200':
          description: Event received
      tags:
      - Webhooks
  /shipment-webhooks:
    post:
      summary: Shipment Events
      description: "Posts a message when an event about a shipment is triggered.\n\nThe shipment event payload has a base schema but the details change depending on the event type.\nDuring the onboarding you can let Loadsmart know which events you want to receive. You can also\nreceive events in more than one URL.\n\nList of event types:\n  - shipment:appointment-pickup\n  - shipment:appointment-delivery\n  - shipment:en-route-to-pickup\n  - shipment:check-in-pickup\n  - shipment:check-out-pickup\n  - shipment:check-in-delivery\n  - shipment:check-out-delivery\n  - shipment:carrier-updated\n  - shipment:carrier-dropped\n  - shipment:location-updated\n  - shipment:driver-assigned\n  - shipment:driver-unassigned\n  - shipment:canceled\n  - shipment:incident\n  - shipment:invoice\n  - shipment:updated\n  - shipment:created\n"
      requestBody:
        content:
          application/json:
            schema:
              oneOf:
              - type: object
                title: shipment:appointment-pickup
                properties:
                  details:
                    type: object
                    properties:
                      shipment:
                        type: object
                        properties:
                          id:
                            type: string
                            format: uuid
                            description: The shipment identifier
                          loadsmart_ref_number:
                            type: string
                            description: Internal identifier
                          bol_number:
                            type: string
                            description: Bill of Lading number
                          equipment_type:
                            type: string
                            description: The type of truck used to move the load
                          trailer_number:
                            type: string
                            description: Carriers trailer number
                          ref_number:
                            type: string
                            description: Reference number
                          carrier_pro:
                            type: string
                            description: Carrier PRO Number is often used for by LTL carriers as a key identifier for their shipments.
                          truck_license_plate:
                            type: string
                            description: License Plate attached to a truck for official identification purposes.
                          weight:
                            type: string
                            description: Shipment's weight (string formatted decimal)
                          must_arrive_by_date:
                            type: string
                            description: Deadline to delivery load
                          must_ship_by_date:
                            type: string
                            description: Deadline to ship load
                          container:
                            type:
                            - object
                            - 'null'
                            description: Container related info
                            properties:
                              is_live:
                                type: boolean
                                description: True if it is a live load, False if it is a drop load
                              number:
                                type: string
                                description: Unique container identifier
                              ocean_bol_number:
                                type: string
                                description: Ocean bill of lading identifier number
                          stops:
                            type: array
                            description: All shipment stops
                            minItems: 1
                            items:
                              type: object
                              properties:
                                city:
                                  type: string
                                  description: This stop city
                                state:
                                  type: string
                                  description: This stop state
                                country:
                                  type: string
                                  description: This stop country
                                stop_customer_ref:
                                  type: string
                                  description: Shipper identifier for the stop
                                facility_ref:
                                  type: string
                                  description: Shipper identifier for the facility
                                zipcode:
                                  type: string
                                  description: This stop zipcode
                                timezone:
                                  type: string
                                  description: This stop timezone
                                stop_index:
                                  type: number
                                  description: Indicate the stop number for this event, being 0-based for pickup.
                                location:
                                  description: General location attributes
                                  properties:
                                    gln:
                                      type:
                                      - string
                                      - 'null'
                                      description: GS1 Global Location Number if registered.
                                    latitude:
                                      type: number
                                      description: The latitude where the stop is located
                                    longitude:
                                      type: number
                                      description: The longitude where the stop is located
                                facility:
                                  description: Facility information
                                  properties:
                                    company_name:
                                      type: string
                                      description: Facility's company name
                                    city:
                                      type: string
                                      description: Facility's city
                                    state:
                                      type: string
                                      description: Facility's state
                                    zipcode:
                                      type: string
                                      description: Facility's zipcode
                                    timezone:
                                      type: string
                                      description: Facility's timezone
                                    location:
                                      description: General location attributes
                                      properties:
                                        gln:
                                          type:
                                          - string
                                          - 'null'
                                          description: GS1 Global Location Number if registered.
                                        latitude:
                                          type: number
                                          description: The latitude where the stop is located
                                        longitude:
                                          type: number
                                          description: The longitude where the stop is located
                                    contact:
                                      description: Facility contact information
                                      properties:
                                        first_name:
                                          type: string
                                        last_name:
                                          type: string
                                        phone_number:
                                          type: string
                                        email:
                                          type: string
                          properties:
                            type: object
                            description: JSON object where you can set custom properties
                          stop:
                            type: object
                            description: Event stop details
                            properties:
                              city:
                                type: string
                                description: This stop city
                              state:
                                type: string
                                description: This stop state
                              country:
                                type: string
                                description: This stop country
                              stop_customer_ref:
                                type: string
                                description: Shipper identifier for the stop
                              facility_ref:
                                type: string
                                description: Shipper identifier for the facility
                              zipcode:
                                type: string
                                description: This stop zipcode
                              timezone:
                                type: string
                                description: This stop timezone
                              stop_index:
                                type: number
                                description: Indicate the stop number for this event, being 0-based for pickup.
                              location:
                                description: General localization attributes
                                properties:
                                  gln:
                                    type:
                                    - string
                                    - 'null'
                                    description: GS1 Global Location Number if registered.
                                  latitude:
                                    type: number
                                    description: The latitude where the stop is located
                                  longitude:
                                    type: number
                                    description: The longitude where the stop is located
                              delay:
                                deprecated: true
                                type: object
                                description: Delay is an optional field and will only exist if there is a new ETA and a reason for the delay
                                properties:
                                  eta:
                                    format: date-time
                                    description: New ETA.
                                  reason:
                                    type: string
                                    description: The reason which caused the delay
                                    enum:
                                    - accident
                                    - border_clearance
                                    - carrier_dispatch_error
                                    - closed_holiday
                                    - consignee_closed
                                    - consignee_related
                                    - customer_requested_future_delivery
                                    - customer_wanted_earlier_delivery
                                    - delivery_shortage
                                    - driver_not_available
                                    - driver_related
                                    - held_pending_appointment
                                    - held_per_shipper
                                    - incorrect_address
                                    - insufficient_delivery_time
                                    - insufficient_pickup_time
                                    - insufficient_time_to_complete_delivery
                                    - mechanical_breakdown
                                    - missed_delivery
                                    - missed_pickup
                                    - natural_disaster_related
                                    - normal_status
                                    - no_requested_arrival_date_provided_by_shipper
                                    - no_requested_arrival_time_provided_by_shipper
                                    - other
                                    - other_carrier_related
                                    - past_cut_off_time
                                    - previous_stop
                                    - receiving_time_restricted
                                    - recipient_unavailable_delivery_delayed
                                    - refused_customer
                                    - road_conditions
                                    - shipment_overweight
                                    - shipper_related
                                    - trailer_not_available
                                    - unable_locate
                                    - waiting_shipping_instructions
                      shipper:
                        type: object
                        properties:
                          id:
                            type: string
                            format: uuid
                            description: The shipper identified
                          name:
                            type: string
                            description: The shipper name
                      event:
                        type: object
                        properties:
                          appointment:
                            type: object
                            description: The date and time interval of the appointment and its confirmation flag
                            properties:
                              start:
                                type: date-time
                                description: Appointment start timestamp
                              end:
                                type: date-time
                                description: Appointment end timestamp
                              confirmed:
                                deprecated: true
                                type: boolean
                                description: Will always be true
                          event_date:
                            deprecated: true
                            format: date-time
                            description: The date and time of the event
                          stop_index:
                            type: integer
                            description: Indicate the stop number for this event, being 0-based for pickup.
                          reason:
                            type: string
                            description: The reason for changing the appointment
                            enum:
                            - carrier_dispatch_error
                            - carrier_keying_error
                            - closed_holiday
                            - consignee_closed
                            - consignee_related
                            - customer_requested_future_delivery
                            - customer_wanted_earlier_delivery
                            - driver_not_available
                            - insufficient_pickup_time
                            - load_shifted
                            - missed_pickup
                            - natural_disaster_related
                            - normal_status
                            - no_requested_arrival_date_provided_by_shipper
                            - other
                            - other_carrier_related
                            - past_cut_off_time
                            - refused_by_customer
                            - road_conditions
                            - shipment_overweight
                            - shipper_related
                            - suspended_at_customer_request
                            - tractor_conventional_not_available
                            - tractor_with_sleeper_car_not_available
                            - trailer_not_available
                            - trailer_not_usable_due_to_prior_product
                            - waiting_shipping_instruction
                  shipment_id:
                    type: string
                    format: uuid
                    description: The shipment identifier
                  created_at:
                    type: string
                    format: date-time
                    description: The date and time of the event creation
                  type:
                    type: string
                    description: Event type
              - type: object
                title: shipment:appointment-delivery
                properties:
                  details:
                    type: object
                    properties:
                      shipment:
                        type: object
                        properties:
                          id:
                            type: string
                            format: uuid
                            description: The shipment identifier
                          loadsmart_ref_number:
                            type: string
                            description: Internal identifier
                          bol_number:
                            type: string
                            description: Bill of Lading number
                          equipment_type:
                            type: string
                            description: The type of truck used to move the load
                          trailer_number:
                            type: string
                            description: Carriers trailer number
                          ref_number:
                            type: string
                            description: Reference number
                          carrier_pro:
                            type: string
                            description: Carrier PRO Number is often used for by LTL carriers as a key identifier for their shipments.
                          truck_license_plate:
                            type: string
                            description: License Plate attached to a truck for official identification purposes.
                          weight:
                            type: string
                            description: Shipment's weight (string formatted decimal)
                          must_arrive_by_date:
                            type: string
                            description: Deadline to delivery load
                          must_ship_by_date:
                            type: string
                            description: Deadline to ship load
                          container:
                            type:
                            - object
                            - 'null'
                            description: Container related info
                            properties:
                              is_live:
                                type: boolean
                                description: True if it is a live load, False if it is a drop load
                              number:
                                type: string
                                description: Unique container identifier
                              ocean_bol_number:
                                type: string
                                description: Ocean bill of lading identifier number
                          stops:
                            type: array
                            description: All shipment stops
                            minItems: 1
                            items:
                              type: object
                              properties:
                                city:
                                  type: string
                                  description: This stop city
                                state:
                                  type: string
                                  description: This stop state
                                country:
                                  type: string
                                  description: This stop country
                                stop_customer_ref:
                                  type: string
                                  description: Shipper identifier for the stop
                                facility_ref:
                                  type: string
                                  description: Shipper identifier for the facility
                                zipcode:
                                  type: string
                                  description: This stop zipcode
                                timezone:
                                  type: string
                                  description: This stop timezone
                                stop_index:
                                  type: number
                                  description: Indicate the stop number for this event, being 0-based for pickup.
                                location:
                                  description: General location attributes
                                  properties:
                                    gln:
                                      type:
                                      - string
                                      - 'null'
                                      description: GS1 Global Location Number if registered.
                                    latitude:
                                      type: number
                                      description: The latitude where the stop is located
                                    longitude:
                                      type: number
                                      description: The longitude where the stop is located
                                facility:
                                  description: Facility information
                                  properties:
                                    company_name:
                                      type: string
                                      description: Facility's company name
                                    city:
                                      type: string
                                      description: Facility's city
                                    state:
                                      type: string
                                      description: Facility's state
                                    zipcode:
                                      type: string
                                      description: Facility's zipcode
                                    timezone:
                                      type: string
                                      description: Facility's timezone
                                    location:
                                      description: General location attributes
                                      properties:
                                        gln:
                                          type:
                                          - string
                                          - 'null'
                                          description: GS1 Global Location Number if registered.
                                        latitude:
                                          type: number
                                          description: The latitude where the stop is located
                                        longitude:
                                          type: number
                                          description: The longitude where the stop is located
                                    contact:
                                      description: Facility contact information
                                      properties:
                                        first_name:
                                          type: string
                                        last_name:
                                          type: string
                                        phone_number:
                                          type: string
                                        email:
                                          type: string
                          properties:
                            type: object
                            description: JSON object where you can set custom properties
                          stop:
                            type: object
                            description: Event stop details
                            properties:
                              city:
                                type: string
                                description: This stop city
                              state:
                                type: string
                                description: This stop state
                              country:
                                type: string
                                description: This stop country
                              stop_customer_ref:
                                type: string
                                description: Shipper identifier for the stop
                              facility_ref:
                                type: string
                                description: Shipper identifier for the facility
                              zipcode:
                                type: string
                                description: This stop zipcode
                              timezone:
                                type: string
                                description: This stop timezone
                              stop_index:
                                type: number
                                description: Indicate the stop number for this event, being 0-based for pickup.
                              location:
                                description: General localization attributes
                                properties:
                                  gln:
                                    type:
                                    - string
                                    - 'null'
                                    description: GS1 Global Location Number if registered.
                                  latitude:
                                    type: number
                                    description: The latitude where the stop is located
                                  longitude:
                                    type: number
                                    description: The longitude where the stop is located
                              delay:
                                deprecated: true
                                type: object
                                description: Delay is an optional field and will only exist if there is a new ETA and a reason for the delay
                                properties:
                                  eta:
                                    format: date-time
                                    description: New ETA.
                                  reason:
                                    type: string
                                    description: The reason which caused the delay
                                    enum:
                                    - accident
                                    - border_clearance
                                    - carrier_dispatch_error
                                    - closed_holiday
                                    - consignee_closed
                                    - consignee_related
                                    - customer_requested_future_delivery
                                    - customer_wanted_earlier_delivery
                                    - delivery_shortage
                                    - driver_not_available
                                    - driver_related
                                    - held_pending_appointment
                                    - held_per_shipper
                                    - incorrect_address
                                    - insufficient_delivery_time
                                    - insufficient_pickup_time
                                    - insufficient_time_to_complete_delivery
                                    - mechanical_breakdown
                                    - missed_delivery
                                    - missed_pickup
                                    - natural_disaster_related
                                    - normal_status
                                    - no_requested_arrival_date_provided_by_shipper
                                    - no_requested_arrival_time_provided_by_shipper
                                    - other
                                    - other_carrier_related
                                    - past_cut_off_time
                                    - previous_stop
                                    - receiving_time_restricted
                                    - recipient_unavailable_delivery_delayed
                                    - refused_customer
                                    - road_conditions
                                    - shipment_overweight
                                    - shipper_related
                                    - trailer_not_available
                                    - unable_locate
                                    - waiting_shipping_instructions
                      shipper:
                        type: object
                        properties:
                          id:
                            type: string
                            format: uuid
                            description: The shipper identified
                          name:
                            type: string
                            description: The shipper name
                      event:
                        type: object
                        properties:
                          appointment:
                            type: object
                            description: The date and time interval of the appointment and its confirmation flag
                            properties:
                              start:
                                type: date-time
                                description: Appointment start timestamp
                              end:
                                type: date-time
                                description: Appointment end timestamp
                              confirmed:
                                type: boolean
                                description: Appointment confirmation
                          event_date:
                            deprecated: true
                            format: date-time
                            description: The date and time of the event
                          stop_index:
                            type: integer
                            description: Indicate the stop number for this event, being 0-based for pickup.
                          reason:
                            type: string
                            description: The reason for changing the appointment
                            enum:
                            - address_corrected_delivery_attempted
                            - carrier_dispatch_error
                            - carrier_keying_error
                            - closed_holiday
                            - consignee_closed
                            - consignee_related
                            - customer_requested_future_delivery
                            - customer_wanted_earlier_delivery
                            - driver_not_available
                            - held_per_shipper
                            - insufficient_pickup_time
                            - insufficient_time_to_complete_delivery
                            - load_shifted
                            - missed_delivery
                            - missed_pickup
                            - natural_disaster_related
                            - normal_status
                            - no_requested_arrival_date_provided_by_shipper
                            - other
                            - other_carrier_related
                            - past_cut_off_time
                            - recipient_unavailable_delivery_delayed
                            - reconsigned
                            - refused_by_customer
                            - road_conditions
                            - shipment_overweight
                            - shipper_related
                            - suspended_at_customer_request
                            - tractor_conventional_not_available
                            - tractor_with_sleeper_car_not_available
                            - trailer_not_available
                            - trailer_not_usable_due_to_prior_product
                            - waiting_shipping_instructions
                  shipment_id:
                    type: string
                    format: uuid
                    description: The shipment identifier
                  created_at:
                    type: string
                    format: date-time
                    description: The date and time of the event creation
                  type:
                    type: string
                    description: Event type
              - type: object
                title: shipment:en-route-to-pickup
                properties:
                  details:
                    type: object
                    properties:
                      shipment:
                        type: object
                        properties:
                          id:
                            type: string
                            format: uuid
                            description: The shipment identifier
                          loadsmart_ref_number:
                            type: string
                            description: Internal identifier
                          bol_number:
                            type: string
                            description: Bill of Lading number
                          equipment_type:
                            type: string
                            description: The type of truck used to move the load
                          trailer_number:
                            type: string
                            description: Carriers trailer number
                          ref_number:
                            type: string
                            description: Reference number
                          carrier_pro:
                            type: string
                            description: Carrier PRO Number is often used for by LTL carriers as a key identifier for their shipments.
                          truck_license_plate:
                            type: string
                            description: License Plate attached to a truck for official identification purposes.
                          weight:
                            type: string
                            description: Shipment's weight (string formatted decimal)
                          must_arrive_by_date:
                            type: string
                            description: Deadline to delivery load
                          must_ship_by_date:
                            type: string
                            description: Deadline to ship load
                          container:
                            type:
                            - object
                            - 'null'
                            description: Container related info
                            properties:
                              is_live:
                                type: boolean
                                description: True if it is a live load, False if it is a drop load
                              number:
                                type: string
                                description: Unique container identifier
                              ocean_bol_number:
                                type: string
                                description: Ocean bill of lading identifier number
                          stops:
                            type: array
                            description: All shipment stops
                            minItems: 1
                            items:
                              type: object
                              properties:
                                city:
                                  type: string
                                  description: This stop city
                                state:
                                  type: string
                                  description: This stop state
                                country:
                                  type: string
                                  description: This stop country
                                stop_customer_ref:
                                  type: string
                                  description: Shipper identifier for the stop
                                facility_ref:
                                  type: string
                                  description: Shipper identifier for the facility
                                zipcode:
                                  type: string
                                  description: This stop zipcode
                                timezone:
                                  type: string
                                  description: This stop timezone
                                stop_index:
                                  type: number
                                  description: Indicate the stop number for this event, being 0-based for pickup.
                                location:
                                  description: General location attributes
                                  properties:
                                    gln:
                                      type:
                                      - string
                                      - 'null'
                                      description: GS1 Global Location Number if registered.
                                    latitude:
                                      type: number
                                      description: The latitude where the stop is located
                                    longitude:
                                      type: number
                                      description: The longitude where the stop is located
                                facility:
                                  description: Facility information
                                  properties:
                                    company_name:
                                      type: string
                                      description: Facility's company name
                                    city:
                                      type: string
                                      description: Facility's city
                                    state:
                                      type: string
                                      description: Facility's state
                                    zipcode:
                                      type: string
                                      description: Facility's zipcode
                                    timezone:
                                      type: string
                                      description: Facility's timezone
                                    location:
                                      description: General location attributes
                                      properties:
                                        gln:
                                          type:
                                          - string
                                          - 'null'
                                          description: GS1 Global Location Number if registered.
                                        latitude:
                                          type: number
                                          description: The latitude where the stop is located
                                        longitude:
                                          type: number
                                          description: The longitude where the stop is located
                                    contact:
                                      description: Facility contact information
                                      properties:
                                        first_name:
                                          type: string
                                        last_name:
                                          type: string
                                        phone_number:
                                          type: string
                                        email:
                                          type: string
                          properties:
                            type: object
                            description: JSON object where you can set custom properties
                          stop:
                            type: object
                            description: Event stop details
                            properties:
                              city:
                                type: string
                                description: This stop city
                              state:
                                type: string
                                description: This stop state
                              country:
                                type: string
                                description: This stop country
                              stop_customer_ref:
                                type: string
                                description: Shipper identifier for the stop
                              facility_ref:
                                type: string
                                description: Shipper identifier for the facility
                              zipcode:
                                type: string
                                description: This stop zipcode
                              timezone:
                                type: string
                                description: This stop timezone
                              stop_index:
                                type: number
                                description: Indicate the stop number for this event, being 0-based for pickup.
                              location:
                                description: General localization attributes
                                properties:
                                  gln:
                                    type:
                                    - string
                                    - 'null'
                                    description: GS1 Global Location Number if registered.
                                  latitude:
                                    type: number
                                    description: The latitude where the stop is located
                                  longitude:
                                    type: number
                                    description: The longitude where the stop is located
                              delay:
                                deprecated: true
                                type: object
                                description: Delay is an optional field and will only exist if there is a new ETA and a reason for the delay
                                properties:
                                  eta:
                                    format: date-time
                                    description: New ETA.
                                  reason:
                                    type: string
                                    description: The reason which caused the delay
                                    enum:
                                    - accident
                                    - border_clearance
                                    - carrier_dispatch_error
                                    - closed_holiday
                                    - consignee_closed
                                    - consignee_related
                                    - customer_requested_future_delivery
                                    - customer_wanted_earlier_delivery
                                    - delivery_shortage
                                    - driver_not_available
                                    - driver_related
                                    - held_pending_appointment
                                    - held_per_shipper
                                    - incorrect_address
                                    - insufficient_delivery_time
                                    - insufficient_pickup_time
                                    - insufficient_time_to_complete_delivery
                                    - mechanical_breakdown
                                    - missed_delivery
                                    - missed_pickup
                                    - natural_disaster_related
                                    - normal_status
                                    - no_requested_arrival_date_provided_by_shipper
                                    - no_requested_arrival_time_provided_by_shipper
                                    - other
                                    - other_carrier_related
                                    - past_cut_off_time
                                    - previous_stop
                                    - receiving_time_restricted
                                    - recipient_unavailable_delivery_delayed
                                    - refused_customer
                                    - road_conditions
                                    - shipment_overweight
                                    - shipper_related
                                    - trailer_not_available
                                    - unable_locate
                                    - waiting_shipping_instructions
                      shipper:
                        type: object
                        properties:
                          id:
                            type: string
                            format: uuid
                            description: The shipper identified
                          name:
                            type: string
                            description: The shipper name
                      event:
                        type: object
                        properties:
                          event_date:
                            format: date-time
                            description: The date and time of the event.
                          stop_index:
                            type: integer
                            description: Indicate the stop number for this event, being 0-based for pickup.
                  shipment_id:
                    type: string
                    format: uuid
                    description: The shipment identifier
                  created_at:
                    type: string
                    format: date-time
                    description: The date and time of the event creation
                  type:
                    type: string
                    description: Event type
              - type: object
                title: shipment:check-in-pickup
                properties:
                  details:
                    type: object
                    properties:
                      shipment:
                        type: object
                        properties:
                          id:
                            type: string
                            format: uuid
                            description: The shipment identifier
                          loadsmart_ref_number:
                            type: string
                            description: Internal identifier
                          bol_number:
                            type: string
                            description: Bill of Lading number
                          equipment_type:
                            type: string
                            description: The type of truck used to move the load
                          trailer_number:
                            type: string
                            description: Carriers trailer number
                          ref_number:
                            type: string
                            description: Reference number
                          carrier_pro:
                            type: string
                            description: Carrier PRO Number is often used for by LTL carriers as a key identifier for their shipments.
                          truck_license_plate:
                            type: string
                            description: License Plate attached to a truck for official identification purposes.
                          weight:
                            type: string
                            description: Shipment's weight (string formatted decimal)
                          must_arrive_by_date:
                            type: string
                            description: Deadline to delivery load
                          must_ship_by_date:
                            type: string
                            description: Deadline to ship load
                          container:
                            type:
                            - object
                            - 'null'
                            description: Container related info
                            properties:
                              is_live:
                                type: boolean
                                description: True if it is a live load, False if it is a drop load
                              number:
                                type: string
                                description: Unique container identifier
                              ocean_bol_number:
                                type: string
                                description: Ocean bill of lading identifier number
                          stops:
                            type: array
                            description: All shipment stops
                            minItems: 1
                            items:
                              type: object
                              properties:
                                city:
                                  type: string
                                  description: This stop city
                                state:
                                  type: string
                                  description: This stop state
                                country:
                                  type: string
                                  description: This stop country
                                stop_customer_ref:
                                  type: string
                                  description: Shipper identifier for the stop
                                facility_ref:
                                  type: string
                                  description: Shipper identifier for the facility
                                zipcode:
                                  type: string
                                  description: This stop zipcode
                                timezone:
                                  type: string
                                  description: This stop timezone
                                stop_index:
                                  type: number
                                  description: Indicate the stop number for this event, being 0-based for pickup.
                                location:
                                  description: General location attributes
                                  properties:
                                    gln:
                                      type:
                                      - string
                                      - 'null'
                                      description: GS1 Global Location Number if registered.
                                    latitude:
                                      type: number
                                      description: The latitude where the stop is located
                                    longitude:
                                      type: number
                                      description: The longitude where the stop is located
                                facility:
                                  description: Facility information
                                  properties:
                                    company_name:
                                      type: string
                                      description: Facility's company name
                                    city:
                                      type: string
                                      description: Facility's city
                                    state:
                                      type: string
                                      description: Facility's state
                                    zipcode:
                                      type: string
                                      description: Facility's zipcode
                                    timezone:
                                      type: string
                                      description: Facility's timezone
                                    location:
                                      description: General location attributes
                                      properties:
                                        gln:
                                          type:
                                          - string
                                          - 'null'
                                          description: GS1 Global Location Number if registered.
                                        latitude:
                                          type: number
                                          description: The latitude where the stop is located
                                        longitude:
                                          type: number
                                          description: The longitude where the stop is located
                                    contact:
                                      description: Facility contact information
                                      properties:
                                        first_name:
                                          type: string
                                        last_name:
                                          type: string
                                        phone_number:
                                          type: string
                                        email:
                                          type: string
                          properties:
                            type: object
                            description: JSON object where you can set custom properties
                          stop:
                            type: object
                            description: Event stop details
                            properties:
                              city:
                                type: string
                                description: This stop city
                              state:
                                type: string
                                description: This stop state
                              country:
                                type: string
                                description: This stop country
                              stop_customer_ref:
                                type: string
                                description: Shipper identifier for the stop
                              facility_ref:
                                type: string
                                description: Shipper identifier for the facility
                              zipcode:
                                type: string
                                description: This stop zipcode
                              timezone:
                                type: string
                                description: This stop timezone
                              stop_index:
                                type: number
                                description: Indicate the stop number for this event, being 0-based for pickup.
                              location:
                                description: General localization attributes
                                properties:
                                  gln:
                                    type:
                                    - string
                                    - 'null'
                                    description: GS1 Global Location Number if registered.
                                  latitude:
                                    type: number
                                    description: The latitude where the stop is located
                                  longitude:
                                    type: number
                                    description: The longitude where the stop is located
                              delay:
                                deprecated: true
                                type: object
                                description: Delay is an optional field and will only exist if there is a new ETA and a reason for the delay
                                properties:
                                  eta:
                                    format: date-time
                                    description: New ETA.
                                  reason:
                                    type: string
                                    description: The reason which caused the delay
                                    enum:
                                    - accident
                                    - border_clearance
                                    - carrier_dispatch_error
                                    - closed_holiday
                                    - consignee_closed
                                    - consignee_related
                                    - customer_requested_future_delivery
                                    - customer_wanted_earlier_delivery
                                    - delivery_shortage
                                    - driver_not_available
                                    - driver_related
                                    - held_pending_appointment
                                    - held_per_shipper
                                    - incorrect_address
                                    - insufficient_delivery_time
                                    - insufficient_pickup_time
                                    - insufficient_time_to_complete_delivery
                                    - mechanical_breakdown
                                    - missed_delivery
                                    - missed_pickup
                                    - natural_disaster_related
                                    - normal_status
                                    - no_requested_arrival_date_provided_by_shipper
                                    - no_requested_arrival_time_provided_by_shipper
                                    - other
                                    - other_carrier_related
                                    - past_cut_off_time
                                    - previous_stop
                                    - receiving_time_restricted
                                    - recipient_unavailable_delivery_delayed
                                    - refused_customer
                                    - road_conditions
                                    - shipment_overweight
                                    - shipper_related
                                    - trailer_not_available
                                    - unable_locate
                                    - waiting_shipping_instructions
                      shipper:
                        type: object
                        properties:
                          id:
                            type: string
                            format: uuid
                            description: The shipper identified
                          name:
                            type: string
                            description: The shipper name
                      event:
                        type: object
                        properties:
                          event_date:
                            format: date-time
                            description: The date and time of the event.
                          stop_index:
                            type: integer
                            description: Indicate the stop number for this event, being 0-based for pickup.
                          is_late:
                            type: boolean
                            description: Indicate if the check in/out event is late.
                          late_reason:
                            description: Indicate the reason which caused the delay.
                            enum:
                            - accident
                            - address_corrected_delivery_attempted
                            - carrier_dispatch_error
                            - carrier_keying_error
                            - closed_holiday
                            - consignee_closed
                            - customer_wanted_earlier_delivery
                            - driver_not_available
                            - driver_related
                            - held_per_shipper
                            - hold_due_customs_documentation_problems
                            - incorrect_address
                            - insufficient_delivery_time
                            - insufficient_pickup_time
                            - insufficient_time_to_complete_delivery
                            - load_shifted
                            - mechanical_breakdown
                            - missed_pickup
                            - missing_documents
                            - natural_disaster_related
                            - normal_status
                            - other
                            - other_carrier_related
                            - past_cut_off_time
                            - previous_stop
                            - reconsigned
                            - refused_by_customer
                            - road_conditions
                            - shipment_overweight
[...]
