openapi: 3.2.0
info:
  title: Opendock Nova API Documentation YMS - Spot API
  description: '## Welcome to Opendock Nova!'
  version: v4.144.0 - 39b4253
  contact: {}
servers:
- url: https://neutron.opendock.com
  description: Production Server
- url: https://neutron.staging.opendock.com
  description: Staging Server
tags:
- name: YMS - Spot
paths:
  /yard/spot:
    get:
      operationId: getManyBaseSpotControllerSpot
      summary: Retrieve multiple Spots
      parameters:
      - name: fields
        description: Selects resource fields. <a href="https://github.com/nestjsx/crud/wiki/Requests#select" target="_blank">Docs</a>
        required: false
        in: query
        schema:
          type: array
          items:
            type: string
        style: form
        explode: false
      - name: s
        description: Adds search condition. <a href="https://github.com/nestjsx/crud/wiki/Requests#search" target="_blank">Docs</a>
        required: false
        in: query
        schema:
          type: string
      - name: filter
        description: Adds filter condition. <a href="https://github.com/nestjsx/crud/wiki/Requests#filter" target="_blank">Docs</a>
        required: false
        in: query
        schema:
          type: array
          items:
            type: string
        style: form
        explode: true
      - name: or
        description: Adds OR condition. <a href="https://github.com/nestjsx/crud/wiki/Requests#or" target="_blank">Docs</a>
        required: false
        in: query
        schema:
          type: array
          items:
            type: string
        style: form
        explode: true
      - name: sort
        description: Adds sort by field. <a href="https://github.com/nestjsx/crud/wiki/Requests#sort" target="_blank">Docs</a>
        required: false
        in: query
        schema:
          type: array
          items:
            type: string
        style: form
        explode: true
      - name: join
        description: Adds relational resources. <a href="https://github.com/nestjsx/crud/wiki/Requests#join" target="_blank">Docs</a>
        required: false
        in: query
        schema:
          type: array
          items:
            type: string
        style: form
        explode: true
      - name: limit
        description: Limit amount of resources. <a href="https://github.com/nestjsx/crud/wiki/Requests#limit" target="_blank">Docs</a>
        required: false
        in: query
        schema:
          type: integer
      - name: offset
        description: Offset amount of resources. <a href="https://github.com/nestjsx/crud/wiki/Requests#offset" target="_blank">Docs</a>
        required: false
        in: query
        schema:
          type: integer
      - name: page
        description: Page portion of resources. <a href="https://github.com/nestjsx/crud/wiki/Requests#page" target="_blank">Docs</a>
        required: false
        in: query
        schema:
          type: integer
      - name: cache
        description: Reset cache (if was enabled). <a href="https://github.com/nestjsx/crud/wiki/Requests#cache" target="_blank">Docs</a>
        required: false
        in: query
        schema:
          type: integer
          minimum: 0
          maximum: 1
      responses:
        '200':
          description: ''
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ListSpotDto'
      tags:
      - YMS - Spot
      security:
      - bearer: []
    post:
      operationId: createOneBaseSpotControllerSpot
      summary: Create a single Spot
      parameters: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CreateSpotDto'
      responses:
        '201':
          description: ''
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Spot'
      tags:
      - YMS - Spot
      security:
      - bearer: []
  /yard/spot/generate:
    post:
      operationId: SpotController_generate
      summary: Generate multiple spots
      description: Generates multiple spots in the yard
      parameters: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CreateSpotManyDto'
      responses:
        '200':
          description: ''
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/Spot'
      tags:
      - YMS - Spot
      security:
      - bearer: []
  /yard/spot/{id}:
    patch:
      operationId: updateOneBaseSpotControllerSpot
      summary: Update a single Spot
      parameters:
      - name: id
        required: true
        in: path
        schema:
          type: string
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/UpdateSpotDto'
      responses:
        '200':
          description: ''
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Spot'
      tags:
      - YMS - Spot
      security:
      - bearer: []
    delete:
      operationId: deleteOneBaseSpotControllerSpot
      summary: Delete a single Spot
      parameters:
      - name: id
        required: true
        in: path
        schema:
          type: string
      responses:
        '200':
          description: ''
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DeleteResult'
      tags:
      - YMS - Spot
      security:
      - bearer: []
    get:
      operationId: getOneBaseSpotControllerSpot
      summary: Retrieve a single Spot
      parameters:
      - name: id
        required: true
        in: path
        schema:
          type: string
      - name: fields
        description: Selects resource fields. <a href="https://github.com/nestjsx/crud/wiki/Requests#select" target="_blank">Docs</a>
        required: false
        in: query
        schema:
          type: array
          items:
            type: string
        style: form
        explode: false
      - name: join
        description: Adds relational resources. <a href="https://github.com/nestjsx/crud/wiki/Requests#join" target="_blank">Docs</a>
        required: false
        in: query
        schema:
          type: array
          items:
            type: string
        style: form
        explode: true
      - name: cache
        description: Reset cache (if was enabled). <a href="https://github.com/nestjsx/crud/wiki/Requests#cache" target="_blank">Docs</a>
        required: false
        in: query
        schema:
          type: integer
          minimum: 0
          maximum: 1
      responses:
        '200':
          description: Get one base response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Spot'
      tags:
      - YMS - Spot
      security:
      - bearer: []
  /yard/spot/delete/bulk:
    post:
      operationId: SpotController_bulkDelete
      summary: Bulk delete spots
      description: Deletes multiple spots in the yard
      parameters: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/DeleteSpotManyDto'
      responses:
        '200':
          description: ''
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DeleteResult'
      tags:
      - YMS - Spot
      security:
      - bearer: []
  /yard/spot/{id}/close:
    patch:
      operationId: SpotController_closeSpot
      summary: Close a spot
      description: Closes a spot in the yard blocking spot assignments
      parameters:
      - name: id
        required: true
        in: path
        schema:
          type: string
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/UpdateSpotStatusDto'
      responses:
        '200':
          description: ''
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Spot'
      tags:
      - YMS - Spot
      security:
      - bearer: []
  /yard/spot/{id}/open:
    patch:
      operationId: SpotController_openSpot
      summary: Open a spot
      description: Opens a spot in the yard for spot assignment
      parameters:
      - name: id
        required: true
        in: path
        schema:
          type: string
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/UpdateSpotStatusDto'
      responses:
        '200':
          description: ''
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Spot'
      tags:
      - YMS - Spot
      security:
      - bearer: []
  /yard/spot/{id}/toggle-reserve:
    patch:
      operationId: SpotController_toggleReserveSpot
      summary: Toggle spot reserve
      description: Either create or remove a spotReserve entry for such spot
      parameters:
      - name: id
        required: true
        in: path
        schema:
          type: string
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ToggleSpotReserveDto'
      responses:
        '200':
          description: ''
      tags:
      - YMS - Spot
      security:
      - bearer: []
  /yard/spot/{id}/events:
    get:
      operationId: SpotController_getSpotEvents
      summary: Get spot events
      description: Retrieves all events associated with a specific spot in the yard
      parameters:
      - name: id
        required: true
        in: path
        schema:
          type: string
      responses:
        '200':
          description: ''
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/SpotEvent'
      tags:
      - YMS - Spot
      security:
      - bearer: []
components:
  schemas:
    UpdateSpotDto:
      type: object
      properties:
        tags:
          type: object
        code:
          type: string
        type:
          $ref: '#/components/schemas/SpotType'
        spotAreaId:
          type: string
          format: uuid
        observation:
          type: string
    SpotType:
      type: string
      description: The type of the spot
      enum:
      - parking
      - docking
    SpotEvent:
      type: object
      properties:
        id:
          type: string
          description: The unique identifier of the record
          example: a0e1f2c3-d4e5-6f7g-8h9i-j0k1l2m3n4o5
          readOnly: true
        createDateTime:
          format: date-time
          type: string
          description: The date and time when the record was created
          example: '2023-10-01T12:00:00Z'
          readOnly: true
        createdBy:
          type: object
          description: The ID of the user who created the record
          example: a0e1f2c3-d4e5-6f7g-8h9i-j0k1l2m3n4o5
          readOnly: true
        lastChangedDateTime:
          format: date-time
          type: string
          description: The date and time when the record was last changed
          example: '2023-10-01T12:00:00Z'
          readOnly: true
        spotId:
          type: string
          format: uuid
          description: The id of the spot
          example: a0e4b1c2-3d4e-5f6g-7h8i-9j0k1l2m3n4o
        eventType:
          $ref: '#/components/schemas/SpotEventTypeEnum'
        reason:
          type: string
          description: The reason for the event
          example: Spot is occupied
        observation:
          type: string
          description: The observation of the event
          example: Spot is occupied by a truck
        assetContainerId:
          type: string
          description: The ID of the asset container associated with this event
          example: a0e4b1c2-3d4e-5f6g-7h8i-9j0k1l2m3n4o
        assetVisitId:
          type: string
          description: The ID of the asset visit associated with this event
          example: a0e4b1c2-3d4e-5f6g-7h8i-9j0k1l2m3n4o
      required:
      - id
      - createDateTime
      - createdBy
      - lastChangedDateTime
      - spotId
      - eventType
    ListSpotDto:
      type: object
      properties:
        entity:
          type: string
          readOnly: true
          enum:
          - Spot
        action:
          type: string
          readOnly: true
          enum:
          - read
        data:
          readOnly: true
          type: array
          items:
            $ref: '#/components/schemas/SpotItemDto'
      required:
      - entity
      - action
      - data
    ToggleSpotReserveDto:
      type: object
      properties:
        tags:
          type: object
        objectId:
          type: string
          format: uuid
        entityName:
          $ref: '#/components/schemas/SpotReserveEntityEnum'
        validUntil:
          type: string
          format: date-time
        observation:
          type: string
          maxLength: 1024
          description: Optional observation for the spot reserve action
    Spot:
      type: object
      properties:
        id:
          type: string
          description: The unique identifier of the record
          example: a0e1f2c3-d4e5-6f7g-8h9i-j0k1l2m3n4o5
          readOnly: true
        createDateTime:
          format: date-time
          type: string
          description: The date and time when the record was created
          example: '2023-10-01T12:00:00Z'
          readOnly: true
        createdBy:
          type: object
          description: The ID of the user who created the record
          example: a0e1f2c3-d4e5-6f7g-8h9i-j0k1l2m3n4o5
          readOnly: true
        lastChangedDateTime:
          format: date-time
          type: string
          description: The date and time when the record was last changed
          example: '2023-10-01T12:00:00Z'
          readOnly: true
        code:
          type: string
          description: The code of the spot
          example: SP001
        type:
          $ref: '#/components/schemas/SpotType'
        spotAreaId:
          type: string
          format: uuid
          description: The id of the spot area
          example: a0e4b1c2-3d4e-5f6g-7h8i-9j0k1l2m3n4o
        observation:
          type: string
          description: The observation of the spot
          example: Large spot for trucks
      required:
      - id
      - createDateTime
      - createdBy
      - lastChangedDateTime
      - code
      - type
      - spotAreaId
    DeleteSpotManyDto:
      type: object
      properties:
        tags:
          type: object
        spotIds:
          type: array
          items:
            type: string
            format: uuid
      required:
      - spotIds
    SpotItemDto:
      type: object
      properties:
        id:
          type: string
          readOnly: true
          format: uuid
        createDateTime:
          type: string
          readOnly: true
          format: date-time
        createdBy:
          type: string
          readOnly: true
          format: uuid
        lastChangedDateTime:
          type: string
          readOnly: true
          format: date-time
        lastChangedBy:
          type: string
          readOnly: true
          format: uuid
        isActive:
          type: boolean
          readOnly: true
        tags:
          type: array
          readOnly: true
          example:
          - external
          - waiting
        orgId:
          type: string
          readOnly: true
          format: uuid
        warehouseId:
          type: string
          readOnly: true
          format: uuid
        code:
          type: string
          readOnly: true
          example: G300
        type:
          type: string
          readOnly: true
          enum:
          - parking
          - docking
          example: parking
        spotAreaId:
          type: string
          readOnly: true
          format: uuid
        observation:
          type: string
          readOnly: true
          example: This is a spot observation.
        spotAssignments:
          readOnly: true
          type: array
          items:
            $ref: '#/components/schemas/SpotAssignment'
      required:
      - id
      - createDateTime
      - createdBy
      - lastChangedDateTime
      - lastChangedBy
      - isActive
      - tags
      - orgId
      - warehouseId
      - code
      - type
      - spotAreaId
      - observation
      - spotAssignments
    SpotAssignment:
      type: object
      properties:
        id:
          type: string
          description: The unique identifier of the record
          example: a0e1f2c3-d4e5-6f7g-8h9i-j0k1l2m3n4o5
          readOnly: true
        createDateTime:
          format: date-time
          type: string
          description: The date and time when the record was created
          example: '2023-10-01T12:00:00Z'
          readOnly: true
        createdBy:
          type: object
          description: The ID of the user who created the record
          example: a0e1f2c3-d4e5-6f7g-8h9i-j0k1l2m3n4o5
          readOnly: true
        lastChangedDateTime:
          format: date-time
          type: string
          description: The date and time when the record was last changed
          example: '2023-10-01T12:00:00Z'
          readOnly: true
        spotId:
          type: string
          format: uuid
          description: The id of the spot
          example: a0e4b1c2-3d4e-5f6g-7h8i-9j0k1l2m3n4o
        assetVisitId:
          type: object
          format: uuid
          description: The id of the asset visit
          example: a0e4b1c2-3d4e-5f6g-7h8i-9j0k1l2m3n4o
        assetContainerId:
          type: object
          format: uuid
          description: The id of the asset container
          example: a0e4b1c2-3d4e-5f6g-7h8i-9j0k1l2m3n4o
        observation:
          type: string
          description: Extra data for the spot assignment
          example: Spot assignment for truck 4
      required:
      - id
      - createDateTime
      - createdBy
      - lastChangedDateTime
      - spotId
      - assetVisitId
      - assetContainerId
    CreateSpotDto:
      type: object
      properties:
        tags:
          type: object
        code:
          type: string
        type:
          $ref: '#/components/schemas/SpotType'
        spotAreaId:
          type: string
          format: uuid
        observation:
          type: string
      required:
      - code
      - type
      - spotAreaId
    UpdateSpotStatusDto:
      type: object
      properties:
        tags:
          type: object
        reason:
          type: string
        observation:
          type: string
      required:
      - reason
    SpotReserveEntityEnum:
      type: string
      description: The entity type for the reserve action
      enum:
      - YardTask
    SpotEventTypeEnum:
      type: string
      description: The type of the event
      enum:
      - assignment
      - release
      - reserve
      - release_reserve
      - close
      - open
      - other
    CreateSpotManyDto:
      type: object
      properties:
        tags:
          type: object
        numberOfSpots:
          type: number
        startFromNumber:
          type: number
        leadingChar:
          type: string
        type:
          $ref: '#/components/schemas/SpotType'
        spotAreaId:
          type: string
          format: uuid
      required:
      - numberOfSpots
      - startFromNumber
      - type
      - spotAreaId
    DeleteResult:
      type: object
      properties: {}
  securitySchemes:
    bearer:
      scheme: bearer
      bearerFormat: JWT
      type: http
