openapi: 3.2.0
info:
  title: Loadsmart Load Offers API
  x-logo:
    altText: Loadsmart API
    url: https://developer.loadsmart.com/logo.svg
  description: Loadsmart API provides endpoints to quote, book and track shipments autonomously.
  version: 1.0.0
servers:
- url: https://api.loadsmart.com
  description: Production server
- url: https://api.sandbox.loadsmart.com
  description: Sandbox environment
tags:
- name: Load Offers
  description: 'This API allows third parties to search and accept

    available Offers.'
paths:
  /api/v2/load-offers/offers:
    get:
      summary: Search offers
      tags:
      - Load Offers
      security:
      - Application-JWT:
        - load_offers_read
      parameters:
      - in: query
        name: alcohol
        schema:
          description: Show only loads that have/don't have alcoholic commodity (shows all loads if not informed)
          type: string
          format: boolean
        required: false
      - in: query
        name: equipment_type
        schema:
          description: "The type of truck used to transport the load:\n * `DRV` - Dry van\n * `FBE` - Flatbed\n * `RFR` - Reefer\n * `CON` - Conestoga\n * `CUR` - Curtainside\n * `DDP` - Double drop\n * `IMC` - Intermodal\n * `SDK` - Step deck\n * `STK` - Straight truck\n * `LTL` - Less than truckload\n * `BLK` - Bulk\n * `TNK` - Tanker\n * `OTH` - Others\n\nRepeat the query string in order to search for multiple types at the same time, e.g: `?equipment_type=DRV&equipment_type=FBE`\n"
          type: string
          enum:
          - DRV
          - FBE
          - RFR
          - CON
          - CUR
          - DDP
          - IMC
          - SDK
          - STK
          - LTL
          - BLK
          - TNK
          - OTH
        required: false
      - in: query
        name: start_date
        schema:
          description: Date
          type: string
          format: YYYY-MM-DD
        required: false
      - in: query
        name: end_date
        schema:
          description: Date
          type: string
          format: YYYY-MM-DD
        required: false
      - in: query
        name: origin_lat
        schema:
          description: Origin latitude
          type: number
        required: false
      - in: query
        name: origin_lon
        schema:
          description: Origin longitude
          type: number
        required: false
      - in: query
        name: origin_radius
        schema:
          description: Radius for origin field (Miles)
          type: number
          format: integer
        required: false
      - in: query
        name: destination_lat
        schema:
          description: Destination latitude
          type: number
        required: false
      - in: query
        name: destination_lon
        schema:
          description: Destination longitude
          type: number
        required: false
      - in: query
        name: destination_radius
        schema:
          description: Radius for destitation field (Miles)
          type: number
          format: integer
        required: false
      - in: query
        name: mc
        schema:
          description: Carrier's MC number
          type: string
        required: false
      - in: query
        name: dot
        schema:
          description: Carrier's DOT number
          type: string
        required: false
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                type: object
                properties:
                  count:
                    description: Number of objects found
                    type: number
                    format: integer
                  next:
                    description: URL for next page of results
                    type: string
                    format: url
                  previous:
                    description: URL for previous page of results
                    type: string
                    format: url
                  results:
                    type: array
                    items:
                      type: object
                      properties:
                        id:
                          type: string
                          description: Offer unique identifier (UUID)
                        price:
                          type: number
                          description: Offer price (USD)
                        load:
                          type: object
                          properties:
                            equipment_type:
                              type: string
                              enum:
                              - DRV
                              - FBE
                              - RFR
                              - CON
                              - CUR
                              - DDP
                              - IMC
                              - SDK
                              - STK
                              - LTL
                              - BLK
                              - TNK
                              - OTH
                              description: The type of truck used to transport the load. Allowed values are DRV (dry van), FBE (flatbed), RFR (reefer), CON (conestoga), CUR (curtainside), DDP (double drop), IMC (intermodal), SDK (step deck), STK (straight truck), LTL (less than truckload), BLK (bulk), TNK (tanker) and OTH for others.
                            commodity:
                              type: string
                              maxLength: 255
                              description: Name or description of the commodity that is being shipped.
                            weight:
                              type: number
                              minimum: 1
                              description: Weight of the cargo in pounds (lbs).
                            dimensions:
                              type: object
                              description: 'Dimensions of the cargo in feet (ft).

                                A `null` dimension means that the information is unavailable.

                                '
                              properties:
                                weight:
                                  type:
                                  - number
                                  - 'null'
                                height:
                                  type:
                                  - number
                                  - 'null'
                                width:
                                  type:
                                  - number
                                  - 'null'
                            distance:
                              type: number
                              minimum: 1
                              description: Total distance of the shipment, in miles. This counts all stops.
                            stops:
                              type: array
                              items:
                                type: object
                                properties:
                                  type:
                                    type: string
                                    enum:
                                    - PU
                                    - DEL
                                    description: Type of the stop. Pickup (PU) or Delivery (DEL).
                                  address:
                                    type: string
                                  city:
                                    type: string
                                  state:
                                    type: string
                                    pattern: ^[A-Z0-9]{1,3}$
                                    description: 'Up to 3-alphanumeric characters representing state or equivalent administrative boundary,

                                      from the second part of ISO 3166-2 code definition.

                                      For example, Florida is FL, since its ISO 3166-2 is US-FL.

                                      '
                                  country:
                                    type: string
                                    pattern: ^[A-Z]{3}$
                                    description: 3 letter country code (ISO-3166-1 alpha3).
                                  latitude:
                                    type: number
                                    description: Latitude coordinate of the stop
                                  longitude:
                                    type: number
                                    description: Longitude coordinate of the stop
                                  zipcode:
                                    type: string
                                    description: Zipcode of the stop (first five digits)
                                  window_start:
                                    type: string
                                    format: naive date-time
                                    description: A datetime that represents the start of a time window for this stop (pickup or delivery). In local time.
                                  window_end:
                                    type: string
                                    format: naive date-time
                                    description: A datetime that represents the start of a time window for this stop (pickup or delivery). In local time.
                                  window_timezone:
                                    type: string
                                    description: A timezone identifier for the stop.
                                  requirements:
                                    type: array
                                    description: 'A list of requirements for the Stop, such as drop_trailer, etc.

                                      '
                                  facility_info:
                                    type: object
                                    description: Detention rate and average waiting time on the facility
                                    properties:
                                      avg_time_spent:
                                        type: object
                                        description: Average waiting on facility
                                        properties:
                                          pickup:
                                            type: number
                                            description: Average waiting time in minutes for pickup
                                          delivery:
                                            type: number
                                            description: Average waiting time in minutes for delivery
                                      detention_rate:
                                        type: number
                                        description: Facility detention rate (0 to 100)
                            requirements:
                              type: object
                              description: 'Requirements for the load

                                '
                              properties:
                                beer:
                                  type: boolean
                                chemicals:
                                  type: boolean
                                ctpat:
                                  type: boolean
                                food_grade:
                                  type: boolean
                                frozen:
                                  type: boolean
                                hazmat:
                                  type: boolean
                                hvhr:
                                  type: boolean
                                pharmaceuticals:
                                  type: boolean
                                produce:
                                  type: boolean
                                teams:
                                  type: boolean
                                tsa:
                                  type: boolean
                                twic:
                                  type: boolean
                                vented_vans:
                                  type: boolean
                            ref_number:
                              type: string
                              description: Human readable Load reference number.
                          required:
                          - ref_number
                          - equipment_type
                        actions:
                          type: object
                          properties:
                            redirect_url:
                              type: string
                              description: URL of offer on Loadsmart website.
                            accept_url:
                              type: string
                              description: URL to accept the offer via API (must be a POST method).
              example:
                count: 2
                next: null
                previous: null
                results:
                - id: ccd37107-ebe7-4a60-a20f-01d4e74355c8
                  price: 1234.56
                  load:
                    equipment_type: DRV
                    commodity: apples
                    weight: 20000
                    dimensions:
                      width: 8
                      height: 8
                      length: 54
                    distance: 50000
                    stops:
                    - type: PU
                      address: 101 Collins Avenue
                      city: Miami Beach
                      state: FL
                      country: USA
                      latitude: 41.203996
                      longitude: -96.115593
                      requirements:
                        blind_bol: false
                        drop_trailer: false
                        heavy_scale_ticket: false
                        light_scale_ticket: false
                      facility_info:
                        avg_time_spent:
                          pickup: 40
                          delivery: 180
                        detention_rate: 4
                      zipcode: '33139'
                      window_start: 2020-02-13 09:00:00
                      window_end: 2018-02-13 11:00:00
                      window_timezone: America/New_York
                    - type: DEL
                      address: 2022 Collins Avenue
                      city: Miami Beach
                      state: FL
                      country: USA
                      latitude: 42.535793
                      longitude: -70.966568
                      requirements:
                        blind_bol: false
                        drop_trailer: false
                        heavy_scale_ticket: false
                        light_scale_ticket: false
                      facility_info:
                        avg_time_spent:
                          pickup: 20
                          delivery: 20
                        detention_rate: 0
                      window_start: 2018-02-14 16:00:00
                      window_end: 2018-02-14 18:00:00
                      window_timezone: America/New_York
                    requirements:
                      beer: false
                      chemicals: false
                      ctpat: false
                      food_grade: false
                      frozen: false
                      hazmat: false
                      hvhr: false
                      pharmaceuticals: false
                      produce: false
                      teams: false
                      tsa: false
                      twic: false
                      vented_vans: false
                    ref_number: '425631'
                  actions:
                    redirect_url: https://loadsmart.com/loads/#/a440a0df-c3c2-4d70-9acd-7f03f4bc00f4
                    accept_url: https://api.loadsmart.com/api/v2/load-offers/offers/ccd37107-ebe7-4a60-a20f-01d4e74355c8/accept
                - id: e79acc24-cbfa-4cc7-92ca-7001279cf064
                  price: 1234.56
                  load:
                    equipment_type: DRV
                    commodity: apples
                    weight: 20000
                    dimensions:
                      width: null
                      height: null
                      length: null
                    distance: 50000
                    stops:
                    - type: PU
                      address: 101 Collins Avenue
                      city: Miami Beach
                      state: FL
                      country: USA
                      latitude: 41.203996
                      longitude: -96.115593
                      requirements:
                        blind_bol: false
                        drop_trailer: false
                        heavy_scale_ticket: false
                        light_scale_ticket: false
                      zipcode: '33139'
                      window_start: 2020-02-13 09:00:00
                      window_end: 2018-02-13 11:00:00
                      window_timezone: America/New_York
                    - type: DEL
                      address: 2022 Collins Avenue
                      city: Miami Beach
                      state: FL
                      country: USA
                      latitude: 42.535793
                      longitude: -70.966568
                      requirements:
                        blind_bol: false
                        drop_trailer: false
                        heavy_scale_ticket: false
                        light_scale_ticket: false
                      window_start: 2018-02-14 16:00:00
                      window_end: 2018-02-14 18:00:00
                      window_timezone: America/New_York
                    requirements:
                      beer: false
                      chemicals: false
                      ctpat: false
                      food_grade: false
                      frozen: false
                      hazmat: false
                      hvhr: false
                      pharmaceuticals: false
                      produce: false
                      teams: false
                      tsa: false
                      twic: false
                      vented_vans: false
                    ref_number: '425821'
                  actions:
                    redirect_url: https://loadsmart.com/loads/#/eec5677f-883c-4696-b13b-7539fa98e098
                    accept_url: https://api.loadsmart.com/api/v2/load-offers/offers/e79acc24-cbfa-4cc7-92ca-7001279cf064/accept
        '400':
          description: Invalid parameters
          content:
            application/json:
              schema:
                type: object
                properties:
                  error:
                    type: string
                    enum:
                    - invalid_data
                  error_description:
                    type: string
                    description: Description of what happened
                  errors:
                    type: object
                    description: Object where each field is a key and the value is an array of errors
                required:
                - error
                - error_description
      operationId: getApiV2LoadOffersOffers
      x-operation-id-source: derived
  /api/v2/load-offers/offers/{offer_id}:
    get:
      summary: Retrieve offer
      tags:
      - Load Offers
      security:
      - Application-JWT:
        - load_offers_read
      parameters:
      - in: query
        name: offer_id
        required: true
        schema:
          description: Offer UUID
          type: string
          format: uuid
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                type: object
                properties:
                  id:
                    type: string
                    description: Offer unique identifier (UUID)
                  price:
                    type: number
                    description: Offer price (USD)
                  load:
                    type: object
                    properties:
                      equipment_type:
                        type: string
                        enum:
                        - DRV
                        - FBE
                        - RFR
                        - CON
                        - CUR
                        - DDP
                        - IMC
                        - SDK
                        - STK
                        - LTL
                        - BLK
                        - TNK
                        - OTH
                        description: The type of truck used to transport the load. Allowed values are DRV (dry van), FBE (flatbed), RFR (reefer), CON (conestoga), CUR (curtainside), DDP (double drop), IMC (intermodal), SDK (step deck), STK (straight truck), LTL (less than truckload), BLK (bulk), TNK (tanker) and OTH for others.
                      commodity:
                        type: string
                        maxLength: 255
                        description: Name or description of the commodity that is being shipped.
                      weight:
                        type: number
                        minimum: 1
                        description: Weight of the cargo in pounds (lbs).
                      dimensions:
                        type: object
                        description: 'Dimensions of the cargo in feet (ft).

                          A `null` dimension means that the information is unavailable.

                          '
                        properties:
                          weight:
                            type:
                            - number
                            - 'null'
                          height:
                            type:
                            - number
                            - 'null'
                          width:
                            type:
                            - number
                            - 'null'
                      distance:
                        type: number
                        minimum: 1
                        description: Total distance of the shipment, in miles. This counts all stops.
                      stops:
                        type: array
                        items:
                          type: object
                          properties:
                            type:
                              type: string
                              enum:
                              - PU
                              - DEL
                              description: Type of the stop. Pickup (PU) or Delivery (DEL).
                            address:
                              type: string
                            city:
                              type: string
                            state:
                              type: string
                              pattern: ^[A-Z0-9]{1,3}$
                              description: 'Up to 3-alphanumeric characters representing state or equivalent administrative boundary,

                                from the second part of ISO 3166-2 code definition.

                                For example, Florida is FL, since its ISO 3166-2 is US-FL.

                                '
                            country:
                              type: string
                              pattern: ^[A-Z]{3}$
                              description: 3 letter country code (ISO-3166-1 alpha3).
                            latitude:
                              type: number
                              description: Latitude coordinate of the stop
                            longitude:
                              type: number
                              description: Longitude coordinate of the stop
                            zipcode:
                              type: string
                              description: Zipcode of the stop (first five digits)
                            window_start:
                              type: string
                              format: naive date-time
                              description: A datetime that represents the start of a time window for this stop (pickup or delivery). In local time.
                            window_end:
                              type: string
                              format: naive date-time
                              description: A datetime that represents the start of a time window for this stop (pickup or delivery). In local time.
                            window_timezone:
                              type: string
                              description: A timezone identifier for the stop.
                            requirements:
                              type: array
                              description: 'A list of requirements for the Stop, such as drop_trailer, etc.

                                '
                            facility_info:
                              type: object
                              description: Detention rate and average waiting time on the facility
                              properties:
                                avg_time_spent:
                                  type: object
                                  description: Average waiting on facility
                                  properties:
                                    pickup:
                                      type: number
                                      description: Average waiting time in minutes for pickup
                                    delivery:
                                      type: number
                                      description: Average waiting time in minutes for delivery
                                detention_rate:
                                  type: number
                                  description: Facility detention rate (0 to 100)
                      requirements:
                        type: object
                        description: 'Requirements for the load

                          '
                        properties:
                          beer:
                            type: boolean
                          chemicals:
                            type: boolean
                          ctpat:
                            type: boolean
                          food_grade:
                            type: boolean
                          frozen:
                            type: boolean
                          hazmat:
                            type: boolean
                          hvhr:
                            type: boolean
                          pharmaceuticals:
                            type: boolean
                          produce:
                            type: boolean
                          teams:
                            type: boolean
                          tsa:
                            type: boolean
                          twic:
                            type: boolean
                          vented_vans:
                            type: boolean
                      ref_number:
                        type: string
                        description: Human readable Load reference number.
                    required:
                    - ref_number
                    - equipment_type
                  actions:
                    type: object
                    properties:
                      redirect_url:
                        type: string
                        description: URL of offer on Loadsmart website.
                      accept_url:
                        type: string
                        description: URL to accept the offer via API (must be a POST method).
              example:
                id: ccd37107-ebe7-4a60-a20f-01d4e74355c8
                price: 1234.56
                load:
                  equipment_type: DRV
                  commodity: apples
                  weight: 20000
                  dimensions:
                    width: 8
                    height: 8
                    length: 54
                  distance: 50000
                  stops:
                  - type: PU
                    address: 101 Collins Avenue
                    city: Miami Beach
                    state: FL
                    country: USA
                    latitude: 41.203996
                    longitude: -96.115593
                    requirements:
                      blind_bol: false
                      drop_trailer: false
                      heavy_scale_ticket: false
                      light_scale_ticket: false
                    facility_info:
                      avg_time_spent:
                        pickup: 40
                        delivery: 180
                      detention_rate: 4
                    zipcode: '33139'
                    window_start: 2020-02-13 09:00:00
                    window_end: 2018-02-13 11:00:00
                    window_timezone: America/New_York
                  - type: DEL
                    address: 2022 Collins Avenue
                    city: Miami Beach
                    state: FL
                    country: USA
                    latitude: 42.535793
                    longitude: -70.966568
                    requirements:
                      blind_bol: false
                      drop_trailer: false
                      heavy_scale_ticket: false
                      light_scale_ticket: false
                    facility_info:
                      avg_time_spent:
                        pickup: 20
                        delivery: 20
                      detention_rate: 0
                    window_start: 2018-02-14 16:00:00
                    window_end: 2018-02-14 18:00:00
                    window_timezone: America/New_York
                  requirements:
                    beer: false
                    chemicals: false
                    ctpat: false
                    food_grade: false
                    frozen: false
                    hazmat: false
                    hvhr: false
                    pharmaceuticals: false
                    produce: false
                    teams: false
                    tsa: false
                    twic: false
                    vented_vans: false
                  ref_number: '425631'
                actions:
                  redirect_url: https://loadsmart.com/loads/#/a440a0df-c3c2-4d70-9acd-7f03f4bc00f4
                  accept_url: https://api.loadsmart.com/api/v2/load-offers/offers/ccd37107-ebe7-4a60-a20f-01d4e74355c8/accept
      operationId: getApiV2LoadOffersOffersByOfferId
      x-operation-id-source: derived
  /api/v2/load-offers/offers/{offer_id}/accept:
    post:
      summary: Accept an offer
      tags:
      - Load Offers
      security:
      - User-JWT:
        - load_offers_write
      description: Accept an Offer for a Carrier
      parameters:
      - in: path
        name: offer_id
        schema:
          description: Offer UUID
          type: string
          format: uuid
        required: true
      responses:
        '202':
          description: Accepted
          content:
            application/json:
              schema:
                properties:
                  id:
                    type: string
                    description: Load unique identifier (UUID)
              example:
                id: 2ed37107-ebe7-4a60-a20f-01d4e74355c8
        '400':
          description: Invalid parameters
          content:
            application/json:
              schema:
                type: object
                properties:
                  error:
                    type: string
                    enum:
                    - invalid_data
                  error_description:
                    type: string
                    description: Description of what happened
                  errors:
                    type: object
                    description: Object where each field is a key and the value is an array of errors
                required:
                - error
                - error_description
        '404':
          description: Offer not found
          content:
            application/json:
              schema:
                type: object
                properties:
                  error:
                    type: string
                    enum:
                    - invalid_data
                  error_description:
                    type: string
                    description: Description of what happened
                  errors:
                    type: object
                    description: Object where each field is a key and the value is an array of errors
                required:
                - error
                - error_description
              example:
                error: object_not_found
                error_description: Object not found
        '410':
          description: Offer no longer available
          content:
            application/json:
              schema:
                type: object
                properties:
                  error:
                    type: string
                    enum:
                    - invalid_data
                  error_description:
                    type: string
                    description: Description of what happened
                  errors:
                    type: object
                    description: Object where each field is a key and the value is an array of errors
                required:
                - error
                - error_description
        '412':
          description: Carrier is not eligible to move the Load
          content:
            application/json:
              schema:
                type: object
                properties:
                  error:
                    type: string
                    enum:
                    - invalid_data
                  error_description:
                    type: string
                    description: Description of what happened
                  errors:
                    type: object
                    description: Object where each field is a key and the value is an array of errors
                required:
                - error
                - error_description
      operationId: postApiV2LoadOffersOffersByOfferIdAccept
      x-operation-id-source: derived
  /api/v2/load-offers/offers/{offer_id}/related:
    get:
      summary: Search related offers
      tags:
      - Load Offers
      security:
      - Application-JWT:
        - load_offers_read
      description: Search related offers of another offer
      parameters:
      - in: path
        name: offer_id
        required: true
        schema:
          description: Offer UUID
          type: string
          format: uuid
      - in: query
        name: relation
        required: false
        schema:
          description: 'Relation type with the Offer.

            Possible values `backhaul`, `similar_lane`, `similar_pickup`, `similar_delivery` or `from_delivery`

            '
          type: string
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                type: object
                properties:
                  count:
                    description: Number of objects found
                    type: number
                    format: integer
                  next:
                    description: URL for next page of results
                    type: string
                    format: url
                  previous:
                    description: URL for previous page of results
                    type: string
                    format: url
                  results:
                    type: array
                    items:
                      type: object
                      properties:
                        id:
                          type: string
                          description: Offer unique identifier (UUID)
                        price:
                          type: number
                          description: Offer price (USD)
                        relation:
                          type: string
                          description: 'Relation type with the Offer.

                            Possible values `backhaul`, `similar_lane`, `similar_pickup`, `similar_delivery` or `from_delivery`

                            '
                        load:
                          type: object
                          properties:
                            equipment_type:
                              type: string
                              enum:
                              - DRV
                              - FBE
                              - RFR
                              - CON
                              - CUR
                              - DDP
                              - IMC
                              - SDK
                              - STK
                              - LTL
                              - BLK
                              - TNK
                              - OTH
                              description: The type of truck used to transport the load. Allowed values are DRV (dry van), FBE (flatbed), RFR (reefer), CON (conestoga), CUR (curtainside), DDP (double drop), IMC (intermodal), SDK (step deck), STK (straight truck), LTL (less than truckload), BLK (bulk), TNK (tanker) and OTH for others.
                            commodity:
                              type: string
                              maxLength: 255
                              description: Name or description of the commodity that is being shipped.
                            weight:
                              type: number
                              minimum: 1
                              description: Weight of the cargo in pounds (lbs).
                            dimensions:
                              type: object
                              description: 'Dimensions of the cargo in feet (ft).

                                A `null` dimension means that the information is unavailable.

                                '
                              properties:
                                weight:
                                  type:
                                  - number
                                  - 'null'
                                height:
                                  type:
                                  - number
                                  - 'null'
                                width:
                                  type:
                                  - number
                                  - 'null'
                            distance:
                              type: number
                              minimum: 1
                              description: Total distance of the shipment, in miles. This counts all stops.
                            stops:
                              type: array
                              items:
                                type: object
                                properties:
                                  type:
                                    type: string
                                    enum:
                                    - PU
                                    - DEL
                                    description: Type of the stop. Pickup (PU) or Delivery (DEL).
                                  address:
                                    type: string
                                  city:
                                    type: string
                                  state:
                                    type: string
                                    pattern: ^[A-Z0-9]{1,3}$
                                    description: 'Up to 3-alphanumeric characters representing state or equivalent administrative boundary,

                                      from the second part of ISO 3166-2 code definition.

                                      For example, Florida is FL, since its ISO 3166-2 is US-FL.

                                      '
                                  country:
                                    type: string
                                    pattern: ^[A-Z]{3}$
                                    description: 3 letter country code (ISO-3166-1 alpha3).
                                  latitude:
                                    type: number
                                    description: Latitude coordinate of the stop
                                  longitude:
                                    type: number
                                    description: Longitude coordinate of the stop
                                  zipcode:
                                    type: string
                                    description: Zipcode of the stop (first five digits)
                                  window_start:
                                    type: string
                                    format: naive date-time
                                    description: A datetime that represents the start of a time window for this stop (pickup or delivery). In local time.
                                  window_end:
                                    type: string
                                    format: naive date-time
                                    description: A datetime that represents the start of a time window for this stop (pickup or delivery). In local time.
                                  window_timezone:
                                    type: string
                                    description: A timezone identifier for the stop.
                                  requirements:
                                    type: array
                                    description: 'A list of requirements for the Stop, such as drop_trailer, etc.

                                      '
                                  facility_info:
                                    type: object
                                    description: Detention rate and average waiting time on the facility
                                    properties:
                                      avg_time_spent:
                                        type: object
                                        description: Average waiting on facility
                                        properties:
                                          pickup:
                                            type: number
                                            description: Average waiting time in minutes for pickup
                                          delivery:
                                            type: number
                                            description: Average waiting time in minutes for delivery
                                      detention_rate:
                                        type: number
                                        description: Facility detention rate (0 to 100)
                            requirements:
                              type: object
                              description: 'Requirements for the load

                                '
                              properties:
                                beer:
                                  type: boolean
                                chemicals:
                                  type: boolean
                                ctpat:
                                  type: boolean
                                food_grade:
                                  type: boolean
                                frozen:
                                  type: boolean
                                hazmat:
                                  type: boolean
                                hvhr:
                                  type: boolean
                                pharmaceuticals:
                                  type: boolean
                                produce:
                                  type: boolean
                                teams:
                                  type: boolean
                                tsa:
                                  type: boolean
                                twic:
                                  type: boolean
                                vented_vans:
                                  type: boolean
                            ref_number:
                              type: string
                              description: Human readable Load reference number.
                          required:
                          - ref_number
                          - equipment_type
                        actions:
                          type: object
                          properties:
                            redirect_url:
                              type: string
                              description: URL of offer on Loadsmart website.
                            accept_url:
                              type: string
                              description: URL to accept the offer via API (must be a POST method).
              example:
                count: 2
                next: null
                previous: null
                results:
                - id: ccd37107-ebe7-4a60-a20f-01d4e74355c8
                  price: 1234.56
                  relation: similar_lane
                  load:
                    equipment_type: DRV
                    commodity: apples
                    weight: 20000
                    dimensions:
                      width: 8
                      height: 9
                      length: 54
                    distance: 50000
                    stops:
                    - type: PU
                      address: 101 Collins Avenue
                      city: Miami Beach
                      state: FL
                      country: USA
                      latitude: 41.203996
                      longitude: -96.115593
                      requirements:
                        blind_bol: false
                        drop_trailer: false
                        heavy_scale_ticket: false
                        light_scale_ticket: false
                      facility_info:
                        avg_time_spent:
                          pickup: 40
                          delivery: 180
                        detention_rate: 4
                      zipcode: '33139'
                      window_start: 2020-02-13 09:00:00
                      window_end: 2018-02-13 11:00:00
                      window_timezone: America/New_York
                    - type: DEL
                      address: 2022 Collins Avenue
                      city: Miami Beach
                      state: FL
                      country: USA
                      latitude: 42.535793
                      longitude: -70.966568
                      requirements:
                        blind_bol: false
                        drop_trailer: false
                        heavy_scale_ticket: false
                        light_scale_ticket: false
                      facility_info:
                        avg_time_spent:
                          pickup: 20
                          delivery: 20
                        detention_rate: 0
                      window_start: 2018-02-14 16:00:00
                      window_end: 2018-02-14 18:00:00
                      window_timezone: America/New_York
                    requirements:
                      beer: false
                      chemicals: false
                      ctpat: false
                      food_grade: false
                      frozen: false
                      hazmat: false
                      hvhr: false
                      pharmaceuticals: false
                      produce: false
                      teams: false
                      tsa: false
                      twic: false
                      vented_vans: false
                    ref_number: '425631'
                  actions:
                    redirect_url: https://loadsmart.com/loads/#/a440a0df-c3c2-4d70-9acd-7f03f4bc00f4
                    accept_url: https://api.loadsmart.com/api/v2/load-offers/offers/ccd37107-ebe7-4a60-a20f-01d4e74355c8/accept
                - id: e79acc24-cbfa-4cc7-92ca-7001279cf064
                  price: 1234.56
                  relation: similar_pickup
                  load:
                    equipment_type: DRV
                    commodity: apples
                    weight: 20000
                    dimensions:
                      width: null
                      height: null
                      length: null
                    distance: 50000
                    stops:
                    - type: PU
                      address: 101 Collins Avenue
                      city: Miami Beach
                      state: FL
                      country: USA
                      latitude: 41.203996
                      longitude: -96.115593
                      requirements:
                        blind_bol: false
                        drop_trailer: false
                        heavy_scale_ticket: false
                        light_scale_ticket: false
                      zipcode: '33139'
                      window_start: 2020-02-13 09:00:00
                      window_end: 2018-02-13 11:00:00
                      window_timezone: America/New_York
                    - type: DEL
                      address: 2022 Collins Avenue
                      city: Miami Beach
                      state: FL
                      country: USA
                      latitude: 42.535793
                      longitude: -70.966568
                      requirements:
                        blind_bol: false
                        drop_trailer: false
                        heavy_scale_ticket: false
                        light_scale_ticket: false
                      window_start: 2018-02-14 16:00:00
                      window_end: 2018-02-14 18:00:00
                      window_timezone: America/New_York
                    requirements:
                      beer: false
                      chemicals: false
                      ctpat: false
                      food_grade: false
                      frozen: false
                      hazmat: false
                      hvhr: false
                      pharmaceuticals: false
                      produce: false
                      teams: false
                      tsa: false
                      twic: false
                      vented_vans: false
                    ref_number: '425821'
                  actions:
                    redirect_url: https://loadsmart.com/loads/#/eec5677f-883c-4696-b13b-7539fa98e098
                    accept_url: https://api.loadsmart.com/api/v2/load-offers/offers/e79acc24-cbfa-4cc7-92ca-7001279cf064/accept
        '400':
          description: Invalid parameters
          content:
            application/json:
              schema:
                type: object
                properties:
                  error:
                    type: string
                    enum:
                    - invalid_data
                  error_description:
                    type: string
                    description: Description of what happened
                  errors:
                    type: object
                    description: Object where each field is a key and the value is an array of errors
                required:
                - error
                - error_description
      operationId: getApiV2LoadOffersOffersByOfferIdRelated
      x-operation-id-source: derived
  /api/v2/load-offers/loads/:
    get:
      summary: List loads
      tags:
      - Load Offers
      security:
      - Application-JWT:
        - load_offers_read
      description: List accepted loads
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                type: object
                properties:
                  count:
                    description: Number of objects found
                    type: number
                    format: integer
                  next:
                    description: URL for next page of results
                    type: string
                    format: url
                  previous:
                    description: URL for previous page of results
                    type: string
                    format: url
                  results:
                    type: array
                    items:
                      allOf:
                      - type: object
                        properties:
                          id:
                            type: string
                            description: Load unique identifier (UUID)
                          active_offer:
                            type: object
                            description: Offer associated to the load
                            properties:
                              id:
                                type: string
                                description: Offer unique identifier (UUID)
                              price:
                                type: number
                                format: float
                                description: Offer price (USD)
                          carrier:
                            type: object
                            description: Carrier assigned to the load
                            properties:
                              id:
                                description: Carrier id
                                type: string
                                format: uuid
                              dot:
                                description: Carrier DOT number
                                type: string
                                format: integer
                              mc:
                                description: Carrier MC number
                                type: string
                                format: integer
                      - type: object
                        properties:
                          equipment_type:
                            type: string
                            enum:
                            - DRV
                            - FBE
                            - RFR
                            - CON
                            - CUR
                            - DDP
                            - IMC
                            - SDK
                            - STK
                            - LTL
                            - BLK
                            - TNK
                            - OTH
                            description: The type of truck used to transport the load. Allowed values are DRV (dry van), FBE (flatbed), RFR (reefer), CON (conestoga), CUR (curtainside), DDP (double drop), IMC (intermodal), SDK (step deck), STK (straight truck), LTL (less than truckload), BLK (bulk), TNK (tanker) and OTH for others.
                          commodity:
                            type: string
                            maxLength: 255
                            description: Name or description of the commodity that is being shipped.
                          weight:
                            type: number
                            minimum: 1
                            description: Weight of the cargo in pounds (lbs).
                          dimensions:
                            type: object
                            description: 'Dimensions of the cargo in feet (ft).

                              A `null` dimension means that the information is unavailable.

                              '
                            properties:
                              weight:
                                type:
                                - number
                                - 'null'
                              height:
                                type:
                                - number
                                - 'null'
                              width:
                                type:
                                - number
                                - 'null'
                          distance:
                            type: number
                            minimum: 1
                            description: Total distance of the shipment, in miles. This counts all stops.
                          stops:
                            type: array
                            items:
                              type: object
                              properties:
                                type:
                                  type: string
                                  enum:
                                  - PU
                                  - DEL
                                  description: Type of the stop. Pickup (PU) or Delivery (DEL).
                                address:
                                  type: string
                                city:
                                  type: string
                                state:
                                  type: string
                                  pattern: ^[A-Z0-9]{1,3}$
                                  description: 'Up to 3-alphanumeric characters representing state or equivalent administrative boundary,

                                    from the second part of ISO 3166-2 code definition.

                                    For example, Florida is FL, since its ISO 3166-2 is US-FL.

                                    '
                                country:
                                  type: string
                                  pattern: ^[A-Z]{3}$
                                  description: 3 letter country code (ISO-3166-1 alpha3).
                                latitude:
                                  type: number
                                  description: Latitude coordinate of the stop
                                longitude:
                                  type: number
                                  description: Longitude coordinate of the stop
                                zipcode:
                                  type: string
                                  description: Zipcode of the stop (first five digits)
                                window_start:
                                  type: string
                                  format: naive date-time
                                  description: A datetime that represents the start of a time window for this stop (pickup or delivery). In local time.
                                window_end:
                                  type: string
                                  format: naive date-time
                                  description: A datetime that represents the start of a time window for this stop (pickup or delivery). In local time.
                                window_timezone:
                                  type: string
                                  description: A timezone identifier for the stop.
                                requirements:
                                  type: array
                                  description: 'A list of requirements for the Stop, such as drop_trailer, etc.

                                    '
                                facility_info:
                                  type: object
                                  description: Detention rate and average waiting time on the facility
                                  properties:
                                    avg_time_spent:
                                      type: object
                                      description: Average waiting on facility
                                      properties:
                                        pickup:
                                          type: number
                                          description: Average waiting time in minutes for pickup
                                        delivery:
                                          type: number
                                          description: Average waiting time in minutes for delivery
                                    detention_rate:
                                      type: number
                                      description: Facility detention rate (0 to 100)
                          requirements:
                            type: object
                            description: 'Requirements for the load

                              '
                            properties:
                              beer:
                                type: boolean
                              chemicals:
                                type: boolean
                              ctpat:
                                type: boolean
                              food_grade:
                                type: boolean
                              frozen:
                                type: boolean
                              hazmat:
                                type: boolean
                              hvhr:
                                type: boolean
                              pharmaceuticals:
                                type: boolean
                              produce:
                                type: boolean
                              teams:
                                type: boolean
                              tsa:
                                type: boolean
                              twic:
                                type: boolean
                              vented_vans:
                                type: boolean
                          ref_number:
                            type: string
                            description: Human readable Load reference number.
                        required:
                        - ref_number
                        - equipment_type
        '400':
          description: Invalid parameters
          content:
            application/json:
              schema:
                type: object
                properties:
                  error:
                    type: string
                    enum:
                    - invalid_data
                  error_description:
                    type: string
                    description: Description of what happened
                  errors:
                    type: object
                    description: Object where each field is a key and the value is an array of errors
                required:
                - error
                - error_description
        '404':
          description: Load not found
          content:
            application/json:
              schema:
                type: object
                properties:
                  error:
                    type: string
                    enum:
                    - invalid_data
                  error_description:
                    type: string
                    description: Description of what happened
                  errors:
                    type: object
                    description: Object where each field is a key and the value is an array of errors
                required:
                - error
                - error_description
              example:
                error: object_not_found
                error_description: Object not found
      operationId: getApiV2LoadOffersLoads
      x-operation-id-source: derived
  /api/v2/load-offers/loads/{load_id}:
    get:
      summary: Retrieve a load
      tags:
      - Load Offers
      security:
      - Application-JWT:
        - load_offers_read
      description: Retrieve an accepted load
      parameters:
      - in: path
        name: load_id
        required: true
        schema:
          description: Load UUID
          type: string
          format: uuid
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                allOf:
                - type: object
                  properties:
                    id:
                      type: string
                      description: Load unique identifier (UUID)
                    active_offer:
                      type: object
                      description: Offer associated to the load
                      properties:
                        id:
                          type: string
                          description: Offer unique identifier (UUID)
                        price:
                          type: number
                          format: float
                          description: Offer price (USD)
                    carrier:
                      type: object
                      description: Carrier assigned to the load
                      properties:
                        id:
                          description: Carrier id
                          type: string
                          format: uuid
                        dot:
                          description: Carrier DOT number
                          type: string
                          format: integer
                        mc:
                          description: Carrier MC number
                          type: string
                          format: integer
                - type: object
                  properties:
                    equipment_type:
                      type: string
                      enum:
                      - DRV
                      - FBE
                      - RFR
                      - CON
                      - CUR
                      - DDP
                      - IMC
                      - SDK
                      - STK
                      - LTL
                      - BLK
                      - TNK
                      - OTH
                      description: The type of truck used to transport the load. Allowed values are DRV (dry van), FBE (flatbed), RFR (reefer), CON (conestoga), CUR (curtainside), DDP (double drop), IMC (intermodal), SDK (step deck), STK (straight truck), LTL (less than truckload), BLK (bulk), TNK (tanker) and OTH for others.
                    commodity:
                      type: string
                      maxLength: 255
                      description: Name or description of the commodity that is being shipped.
                    weight:
                      type: number
                      minimum: 1
                      description: Weight of the cargo in pounds (lbs).
                    dimensions:
                      type: object
                      description: 'Dimensions of the cargo in feet (ft).

                        A `null` dimension means that the information is unavailable.

                        '
                      properties:
                        weight:
                          type:
                          - number
                          - 'null'
                        height:
                          type:
                          - number
                          - 'null'
                        width:
                          type:
                          - number
                          - 'null'
                    distance:
                      type: number
                      minimum: 1
                      description: Total distance of the shipment, in miles. This counts all stops.
                    stops:
                      type: array
                      items:
                        type: object
                        properties:
                          type:
                            type: string
                            enum:
                            - PU
                            - DEL
                            description: Type of the stop. Pickup (PU) or Delivery (DEL).
                          address:
                            type: string
                          city:
                            type: string
                          state:
                            type: string
                            pattern: ^[A-Z0-9]{1,3}$
                            description: 'Up to 3-alphanumeric characters representing state or equivalent administrative boundary,

                              from the second part of ISO 3166-2 code definition.

                              For example, Florida is FL, since its ISO 3166-2 is US-FL.

                              '
                          country:
                            type: string
                            pattern: ^[A-Z]{3}$
                            description: 3 letter country code (ISO-3166-1 alpha3).
                          latitude:
                            type: number
                            description: Latitude coordinate of the stop
                          longitude:
                            type: number
                            description: Longitude coordinate of the stop
                          zipcode:
                            type: string
                            description: Zipcode of the stop (first five digits)
                          window_start:
                            type: string
                            format: naive date-time
                            description: A datetime that represents the start of a time window for this stop (pickup or delivery). In local time.
                          window_end:
                            type: string
                            format: naive date-time
                            description: A datetime that represents the start of a time window for this stop (pickup or delivery). In local time.
                          window_timezone:
                            type: string
                            description: A timezone identifier for the stop.
                          requirements:
                            type: array
                            description: 'A list of requirements for the Stop, such as drop_trailer, etc.

                              '
                          facility_info:
                            type: object
                            description: Detention rate and average waiting time on the facility
                            properties:
                              avg_time_spent:
                                type: object
                                description: Average waiting on facility
                                properties:
                                  pickup:
                                    type: number
                                    description: Average waiting time in minutes for pickup
                                  delivery:
                                    type: number
                                    description: Average waiting time in minutes for delivery
                              detention_rate:
                                type: number
                                description: Facility detention rate (0 to 100)
                    requirements:
                      type: object
                      description: 'Requirements for the load

                        '
                      properties:
                        beer:
                          type: boolean
                        chemicals:
                          type: boolean
                        ctpat:
                          type: boolean
                        food_grade:
                          type: boolean
                        frozen:
                          type: boolean
                        hazmat:
                          type: boolean
                        hvhr:
                          type: boolean
                        pharmaceuticals:
                          type: boolean
                        produce:
                          type: boolean
                        teams:
                          type: boolean
                        tsa:
                          type: boolean
                        twic:
                          type: boolean
                        vented_vans:
                          type: boolean
                    ref_number:
                      type: string
                      description: Human readable Load reference number.
                  required:
                  - ref_number
                  - equipment_type
              example:
                id: 2ed37107-ebe7-4a60-a20f-01d4e74355c8
                equipment_type: DRV
                commodity: apples
                weight: 20000
                dimensions:
                  width: 8
                  height: 9
                  length: 54
                distance: 50000
                stops:
                - type: PU
                  address: 101 Collins Avenue
                  city: Miami Beach
                  state: FL
                  country: USA
                  latitude: 41.203996
                  longitude: -96.115593
                  requirements:
                    blind_bol: false
                    drop_trailer: false
                    heavy_scale_ticket: false
                    light_scale_ticket: false
                  facility_info:
                    avg_time_spent:
                      pickup: 40
                      delivery: 180
                    detention_rate: 4
                  zipcode: '33139'
                  window_start: 2020-02-13 09:00:00
                  window_end: 2018-02-13 11:00:00
                  window_timezone: America/New_York
                - type: DEL
                  address: 2022 Collins Avenue
                  city: Miami Beach
                  state: FL
                  country: USA
                  latitude: 42.535793
                  longitude: -70.966568
                  requirements:
                    blind_bol: false
                    drop_trailer: false
                    heavy_scale_ticket: false
                    light_scale_ticket: false
                  facility_info:
                    avg_time_spent:
                      pickup: 20
                      delivery: 20
                    detention_rate: 0
                  window_start: 2018-02-14 16:00:00
                  window_end: 2018-02-14 18:00:00
                  window_timezone: America/New_York
                requirements:
                  beer: false
                  chemicals: false
                  ctpat: false
                  food_grade: false
                  frozen: false
                  hazmat: false
                  hvhr: false
                  pharmaceuticals: false
                  produce: false
                  teams: false
                  tsa: false
                  twic: false
                  vented_vans: false
                active_offer:
                  id: ccd37107-ebe7-4a60-a20f-01d4e74355c8
                  price: 1234.56
                carrier:
                  id: 89ef54c7-52d5-44a0-b94d-df41eb1aab15
                  mc: 123456
                  dot: 987654
                ref_number: '425631'
        '404':
          description: Load not found
          content:
            application/json:
              schema:
                type: object
                properties:
                  error:
                    type: string
                    enum:
                    - invalid_data
                  error_description:
                    type: string
                    description: Description of what happened
                  errors:
                    type: object
                    description: Object where each field is a key and the value is an array of errors
                required:
                - error
                - error_description
              example:
                error: object_not_found
                error_description: Object not found
      operationId: getApiV2LoadOffersLoadsByLoadId
      x-operation-id-source: derived
    delete:
      summary: Drop a load
      tags:
      - Load Offers
      security:
      - User-JWT:
        - load_offers_write
      parameters:
      - in: path
        name: load_id
        required: true
        schema:
          description: Load UUID
          type: string
          format: uuid
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                reason:
                  description: Reason for dropping the load
                  type: string
              required:
              - reason
      responses:
        '204':
          description: Success
        '400':
          description: Invalid parameters
          content:
            application/json:
              schema:
                type: object
                properties:
                  error:
                    type: string
                    enum:
                    - invalid_data
                  error_description:
                    type: string
                    description: Description of what happened
                  errors:
                    type: object
                    description: Object where each field is a key and the value is an array of errors
                required:
                - error
                - error_description
        '404':
          description: Load not found
          content:
            application/json:
              schema:
                type: object
                properties:
                  error:
                    type: string
                    enum:
                    - invalid_data
                  error_description:
                    type: string
                    description: Description of what happened
                  errors:
                    type: object
                    description: Object where each field is a key and the value is an array of errors
                required:
                - error
                - error_description
              example:
                error: object_not_found
                error_description: Object not found
        '500':
          description: Internal error
          content:
            application/json:
              schema:
                type: object
                properties:
                  error:
                    type: string
                    enum:
                    - invalid_data
                  error_description:
                    type: string
                    description: Description of what happened
                  errors:
                    type: object
                    description: Object where each field is a key and the value is an array of errors
                required:
                - error
                - error_description
      operationId: deleteApiV2LoadOffersLoadsByLoadId
      x-operation-id-source: derived
  /api/v2/load-offers/loads/{load_id}/rate_confirmation:
    get:
      summary: Download ratecon
      tags:
      - Load Offers
      security:
      - User-JWT:
        - load_offers_read
      description: Download rate confirmation PDF file
      parameters:
      - in: path
        name: load_id
        required: true
        schema:
          description: Load UUID
          type: string
          format: uuid
      responses:
        '200':
          description: The Rate Confirmation file was generated and downloaded
          content:
            application/pdf:
              schema:
                type: string
                format: binary
        '403':
          description: Invalid token type.
          content:
            application/json:
              schema:
                type: object
                properties:
                  error:
                    type: string
                    enum:
                    - invalid_data
                  error_description:
                    type: string
                    description: Description of what happened
                  errors:
                    type: object
                    description: Object where each field is a key and the value is an array of errors
                required:
                - error
                - error_description
              example:
                error: forbiden_access
                error_description: An user is trying to access a not authorized resource.
        '404':
          description: Load not found
          content:
            application/json:
              schema:
                type: object
                properties:
                  error:
                    type: string
                    enum:
                    - invalid_data
                  error_description:
                    type: string
                    description: Description of what happened
                  errors:
                    type: object
                    description: Object where each field is a key and the value is an array of errors
                required:
                - error
                - error_description
              example:
                error: object_not_found
                error_description: Object not found
      operationId: getApiV2LoadOffersLoadsByLoadIdRateConfirmation
      x-operation-id-source: derived
  /api/v2/load-offers/loads/{load_id}/related-offers:
    get:
      summary: Search related offers
      tags:
      - Load Offers
      security:
      - Application-JWT:
        - load_offers_read
      description: Search related offers of a Load
      parameters:
      - in: path
        name: load_id
        required: true
        schema:
          description: Load UUID
          type: string
          format: uuid
      - in: query
        name: relation
        required: false
        schema:
          description: 'Relation type with the Offer.

            Possible values `backhaul`, `similar_lane`, `similar_pickup`, `similar_delivery` or `from_delivery`

            '
          type: string
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                type: object
                properties:
                  count:
                    description: Number of objects found
                    type: number
                    format: integer
                  next:
                    description: URL for next page of results
                    type: string
                    format: url
                  previous:
                    description: URL for previous page of results
                    type: string
                    format: url
                  results:
                    type: array
                    items:
                      type: object
                      properties:
                        id:
                          type: string
                          description: Offer unique identifier (UUID)
                        price:
                          type: number
                          description: Offer price (USD)
                        relation:
                          type: string
                          description: 'Relation type with the Offer.

                            Possible values `backhaul`, `similar_lane`, `similar_pickup`, `similar_delivery` or `from_delivery`

                            '
                        load:
                          type: object
                          properties:
                            equipment_type:
                              type: string
                              enum:
                              - DRV
                              - FBE
                              - RFR
                              - CON
                              - CUR
                              - DDP
                              - IMC
                              - SDK
                              - STK
                              - LTL
                              - BLK
                              - TNK
                              - OTH
                              description: The type of truck used to transport the load. Allowed values are DRV (dry van), FBE (flatbed), RFR (reefer), CON (conestoga), CUR (curtainside), DDP (double drop), IMC (intermodal), SDK (step deck), STK (straight truck), LTL (less than truckload), BLK (bulk), TNK (tanker) and OTH for others.
                            commodity:
                              type: string
                              maxLength: 255
                              description: Name or description of the commodity that is being shipped.
                            weight:
                              type: number
                              minimum: 1
                              description: Weight of the cargo in pounds (lbs).
                            dimensions:
                              type: object
                              description: 'Dimensions of the cargo in feet (ft).

                                A `null` dimension means that the information is unavailable.

                                '
                              properties:
                                weight:
                                  type:
                                  - number
                                  - 'null'
                                height:
                                  type:
                                  - number
                                  - 'null'
                                width:
                                  type:
                                  - number
                                  - 'null'
                            distance:
                              type: number
                              minimum: 1
                              description: Total distance of the shipment, in miles. This counts all stops.
                            stops:
                              type: array
                              items:
                                type: object
                                properties:
                                  type:
                                    type: string
                                    enum:
                                    - PU
                                    - DEL
                                    description: Type of the stop. Pickup (PU) or Delivery (DEL).
                                  address:
                                    type: string
                                  city:
                                    type: string
                                  state:
                                    type: string
                                    pattern: ^[A-Z0-9]{1,3}$
                                    description: 'Up to 3-alphanumeric characters representing state or equivalent administrative boundary,

                                      from the second part of ISO 3166-2 code definition.

                                      For example, Florida is FL, since its ISO 3166-2 is US-FL.

                                      '
                                  country:
                                    type: string
                                    pattern: ^[A-Z]{3}$
                                    description: 3 letter country code (ISO-3166-1 alpha3).
                                  latitude:
                                    type: number
                                    description: Latitude coordinate of the stop
                                  longitude:
                                    type: number
                                    description: Longitude coordinate of the stop
                                  zipcode:
                                    type: string
                                    description: Zipcode of the stop (first five digits)
                                  window_start:
                                    type: string
                                    format: naive date-time
                                    description: A datetime that represents the start of a time window for this stop (pickup or delivery). In local time.
                                  window_end:
                                    type: string
                                    format: naive date-time
                                    description: A datetime that represents the start of a time window for this stop (pickup or delivery). In local time.
                                  window_timezone:
                                    type: string
                                    description: A timezone identifier for the stop.
                                  requirements:
                                    type: array
                                    description: 'A list of requirements for the Stop, such as drop_trailer, etc.

                                      '
                                  facility_info:
                                    type: object
                                    description: Detention rate and average waiting time on the facility
                                    properties:
                                      avg_time_spent:
                                        type: object
                                        description: Average waiting on facility
                                        properties:
                                          pickup:
                                            type: number
                                            description: Average waiting time in minutes for pickup
                                          delivery:
                                            type: number
                                            description: Average waiting time in minutes for delivery
                                      detention_rate:
                                        type: number
                                        description: Facility detention rate (0 to 100)
                            requirements:
                              type: object
                              description: 'Requirements for the load

                                '
                              properties:
                                beer:
                                  type: boolean
                                chemicals:
                                  type: boolean
                                ctpat:
                                  type: boolean
                                food_grade:
                                  type: boolean
                                frozen:
                                  type: boolean
                                hazmat:
                                  type: boolean
                                hvhr:
                                  type: boolean
                                pharmaceuticals:
                                  type: boolean
                                produce:
                                  type: boolean
                                teams:
                                  type: boolean
                                tsa:
                                  type: boolean
                                twic:
                                  type: boolean
                                vented_vans:
                                  type: boolean
                            ref_number:
                              type: string
                              description: Human readable Load reference number.
                          required:
                          - ref_number
                          - equipment_type
                        actions:
                          type: object
                          properties:
                            redirect_url:
                              type: string
                              description: URL of offer on Loadsmart website.
                            accept_url:
                              type: string
                              description: URL to accept the offer via API (must be a POST method).
              example:
                count: 2
                next: null
                previous: null
                results:
                - id: ccd37107-ebe7-4a60-a20f-01d4e74355c8
                  price: 1234.56
                  relation: similar_lane
                  load:
                    equipment_type: DRV
                    commodity: apples
                    weight: 20000
                    dimensions:
                      width: 8
                      height: 9
                      length: 54
                    distance: 50000
                    stops:
                    - type: PU
                      address: 101 Collins Avenue
                      city: Miami Beach
                      state: FL
                      country: USA
                      latitude: 41.203996
                      longitude: -96.115593
                      requirements:
                        blind_bol: false
                        drop_trailer: false
                        heavy_scale_ticket: false
                        light_scale_ticket: false
                      facility_info:
                        avg_time_spent:
                          pickup: 40
                          delivery: 180
                        detention_rate: 4
                      zipcode: '33139'
                      window_start: 2020-02-13 09:00:00
                      window_end: 2018-02-13 11:00:00
                      window_timezone: America/New_York
                    - type: DEL
                      address: 2022 Collins Avenue
                      city: Miami Beach
                      state: FL
                      country: USA
                      latitude: 42.535793
                      longitude: -70.966568
                      requirements:
                        blind_bol: false
                        drop_trailer: false
                        heavy_scale_ticket: false
                        light_scale_ticket: false
                      facility_info:
                        avg_time_spent:
                          pickup: 20
                          delivery: 20
                        detention_rate: 0
                      window_start: 2018-02-14 16:00:00
                      window_end: 2018-02-14 18:00:00
                      window_timezone: America/New_York
                    requirements:
                      beer: false
                      chemicals: false
                      ctpat: false
                      food_grade: false
                      frozen: false
                      hazmat: false
                      hvhr: false
                      pharmaceuticals: false
                      produce: false
                      teams: false
                      tsa: false
                      twic: false
                      vented_vans: false
                    ref_number: '425631'
                  actions:
                    redirect_url: https://loadsmart.com/loads/#/a440a0df-c3c2-4d70-9acd-7f03f4bc00f4
                    accept_url: https://api.loadsmart.com/api/v2/load-offers/offers/ccd37107-ebe7-4a60-a20f-01d4e74355c8/accept
                - id: e79acc24-cbfa-4cc7-92ca-7001279cf064
                  price: 1234.56
                  relation: similar_pickup
                  load:
                    equipment_type: DRV
                    commodity: apples
                    weight: 20000
                    dimensions:
                      width: null
                      height: null
                      length: null
                    distance: 50000
                    stops:
                    - type: PU
                      address: 101 Collins Avenue
                      city: Miami Beach
                      state: FL
                      country: USA
                      latitude: 41.203996
                      longitude: -96.115593
                      requirements:
                        blind_bol: false
                        drop_trailer: false
                        heavy_scale_ticket: false
                        light_scale_ticket: false
                      zipcode: '33139'
                      window_start: 2020-02-13 09:00:00
                      window_end: 2018-02-13 11:00:00
                      window_timezone: America/New_York
                    - type: DEL
                      address: 2022 Collins Avenue
                      city: Miami Beach
                      state: FL
                      country: USA
                      latitude: 42.535793
                      longitude: -70.966568
                      requirements:
                        blind_bol: false
                        drop_trailer: false
                        heavy_scale_ticket: false
                        light_scale_ticket: false
                      window_start: 2018-02-14 16:00:00
                      window_end: 2018-02-14 18:00:00
                      window_timezone: America/New_York
                    requirements:
                      beer: false
                      chemicals: false
                      ctpat: false
                      food_grade: false
                      frozen: false
                      hazmat: false
                      hvhr: false
                      pharmaceuticals: false
                      produce: false
                      teams: false
                      tsa: false
                      twic: false
                      vented_vans: false
                    ref_number: '425821'
                  actions:
                    redirect_url: https://loadsmart.com/loads/#/eec5677f-883c-4696-b13b-7539fa98e098
                    accept_url: https://api.loadsmart.com/api/v2/load-offers/offers/e79acc24-cbfa-4cc7-92ca-7001279cf064/accept
        '400':
          description: Invalid parameters
          content:
            application/json:
              schema:
                type: object
                properties:
                  error:
                    type: string
                    enum:
                    - invalid_data
                  error_description:
                    type: string
                    description: Description of what happened
                  errors:
                    type: object
                    description: Object where each field is a key and the value is an array of errors
                required:
                - error
                - error_description
      operationId: getApiV2LoadOffersLoadsByLoadIdRelatedOffers
      x-operation-id-source: derived
  /api/v2/load-offers/webhooks:
    get:
      summary: List webhooks
      tags:
      - Load Offers
      security:
[...]
