openapi: 3.2.0
info:
  title: Opendock Nova API Documentation BOL API
  description: '## Welcome to Opendock Nova!'
  version: v4.144.0 - 39b4253
  contact: {}
servers:
- url: https://neutron.opendock.com
  description: Production Server
- url: https://neutron.staging.opendock.com
  description: Staging Server
tags:
- name: BOL
paths:
  /bol:
    post:
      operationId: BolController_create
      parameters: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CreateBolRequestDto'
      responses:
        '201':
          description: ''
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CreateBolResponseDto'
      tags:
      - BOL
      security:
      - bearer: []
      summary: Bol controller create
      x-summary-source: derived
  /bol/appointment/{appointmentId}:
    get:
      operationId: BolController_getByAppointmentId
      parameters:
      - name: appointmentId
        required: true
        in: path
        schema:
          type: string
      responses:
        '200':
          description: ''
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GetBolResponseDto'
      tags:
      - BOL
      security:
      - bearer: []
      summary: Bol controller get by appointment id
      x-summary-source: derived
  /bol/{bolId}:
    get:
      operationId: BolController_get
      parameters:
      - name: bolId
        required: true
        in: path
        schema:
          type: string
      responses:
        '200':
          description: ''
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GetBolResponseDto'
      tags:
      - BOL
      security:
      - bearer: []
      summary: Bol controller get
      x-summary-source: derived
components:
  schemas:
    CreateBolRequestDto:
      type: object
      properties:
        appointmentId:
          type: string
          format: uuid
        documentUrl:
          type: string
      required:
      - appointmentId
      - documentUrl
    GetBolResponseDto:
      type: object
      properties:
        id:
          type: string
          format: uuid
        originalDoc:
          type: object
          properties:
            originalDocId:
              type: string
              format: uuid
            externalKey:
              type: string
        signedDoc:
          type: object
          properties:
            id:
              type: string
              format: uuid
            externalKey:
              type: string
        signedAt:
          type:
          - string
          - 'null'
          format: date-time
          description: Date when the BOL was signed
      required:
      - id
      - originalDoc
      - signedDoc
      - signedAt
    CreateBolResponseDto:
      type: object
      properties:
        id:
          type: string
          format: uuid
      required:
      - id
  securitySchemes:
    bearer:
      scheme: bearer
      bearerFormat: JWT
      type: http
