openapi: 3.2.0
info:
  title: Opendock Nova API Documentation Custom Forms - Form Fields…
  description: '## Welcome to Opendock Nova!'
  version: v4.144.0 - 39b4253
  contact: {}
servers:
- url: https://neutron.opendock.com
  description: Production Server
- url: https://neutron.staging.opendock.com
  description: Staging Server
tags:
- name: Custom Forms - Form Fields
  description: Form Fields are instances of global Field definitions within a specific Form. While Fields define the data type and general properties, Form Fields customize these instances with form-specific attributes like required status, custom labels, and validation rules.
paths:
  /custom-forms/form-field:
    post:
      operationId: createOneBaseFormFieldControllerFormField
      summary: Create a single FormField
      parameters: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CreateFormFieldDto'
      responses:
        '201':
          description: ''
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/FormField'
      tags:
      - Custom Forms - Form Fields
      security:
      - bearer: []
    get:
      operationId: getManyBaseFormFieldControllerFormField
      summary: Retrieve multiple FormFields
      parameters:
      - name: fields
        description: Selects resource fields. <a href="https://github.com/nestjsx/crud/wiki/Requests#select" target="_blank">Docs</a>
        required: false
        in: query
        schema:
          type: array
          items:
            type: string
        style: form
        explode: false
      - name: s
        description: Adds search condition. <a href="https://github.com/nestjsx/crud/wiki/Requests#search" target="_blank">Docs</a>
        required: false
        in: query
        schema:
          type: string
      - name: filter
        description: Adds filter condition. <a href="https://github.com/nestjsx/crud/wiki/Requests#filter" target="_blank">Docs</a>
        required: false
        in: query
        schema:
          type: array
          items:
            type: string
        style: form
        explode: true
      - name: or
        description: Adds OR condition. <a href="https://github.com/nestjsx/crud/wiki/Requests#or" target="_blank">Docs</a>
        required: false
        in: query
        schema:
          type: array
          items:
            type: string
        style: form
        explode: true
      - name: sort
        description: Adds sort by field. <a href="https://github.com/nestjsx/crud/wiki/Requests#sort" target="_blank">Docs</a>
        required: false
        in: query
        schema:
          type: array
          items:
            type: string
        style: form
        explode: true
      - name: join
        description: Adds relational resources. <a href="https://github.com/nestjsx/crud/wiki/Requests#join" target="_blank">Docs</a>
        required: false
        in: query
        schema:
          type: array
          items:
            type: string
        style: form
        explode: true
      - name: limit
        description: Limit amount of resources. <a href="https://github.com/nestjsx/crud/wiki/Requests#limit" target="_blank">Docs</a>
        required: false
        in: query
        schema:
          type: integer
      - name: offset
        description: Offset amount of resources. <a href="https://github.com/nestjsx/crud/wiki/Requests#offset" target="_blank">Docs</a>
        required: false
        in: query
        schema:
          type: integer
      - name: page
        description: Page portion of resources. <a href="https://github.com/nestjsx/crud/wiki/Requests#page" target="_blank">Docs</a>
        required: false
        in: query
        schema:
          type: integer
      - name: cache
        description: Reset cache (if was enabled). <a href="https://github.com/nestjsx/crud/wiki/Requests#cache" target="_blank">Docs</a>
        required: false
        in: query
        schema:
          type: integer
          minimum: 0
          maximum: 1
      responses:
        '200':
          description: Get paginated response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GetManyFormFieldResponseDto'
      tags:
      - Custom Forms - Form Fields
      security:
      - bearer: []
  /custom-forms/form-field/{id}:
    patch:
      operationId: updateOneBaseFormFieldControllerFormField
      summary: Update a single FormField
      parameters:
      - name: id
        required: true
        in: path
        schema:
          type: string
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/UpdateFormFieldDto'
      responses:
        '200':
          description: ''
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/FormField'
      tags:
      - Custom Forms - Form Fields
      security:
      - bearer: []
    get:
      operationId: getOneBaseFormFieldControllerFormField
      summary: Retrieve a single FormField
      parameters:
      - name: id
        required: true
        in: path
        schema:
          type: string
      - name: fields
        description: Selects resource fields. <a href="https://github.com/nestjsx/crud/wiki/Requests#select" target="_blank">Docs</a>
        required: false
        in: query
        schema:
          type: array
          items:
            type: string
        style: form
        explode: false
      - name: join
        description: Adds relational resources. <a href="https://github.com/nestjsx/crud/wiki/Requests#join" target="_blank">Docs</a>
        required: false
        in: query
        schema:
          type: array
          items:
            type: string
        style: form
        explode: true
      - name: cache
        description: Reset cache (if was enabled). <a href="https://github.com/nestjsx/crud/wiki/Requests#cache" target="_blank">Docs</a>
        required: false
        in: query
        schema:
          type: integer
          minimum: 0
          maximum: 1
      responses:
        '200':
          description: Get one base response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/FormField'
      tags:
      - Custom Forms - Form Fields
      security:
      - bearer: []
    delete:
      operationId: deleteOneBaseFormFieldControllerFormField
      summary: Delete a single FormField
      parameters:
      - name: id
        required: true
        in: path
        schema:
          type: string
      responses:
        '200':
          description: Delete one base response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/FormField'
      tags:
      - Custom Forms - Form Fields
      security:
      - bearer: []
components:
  schemas:
    CreateFormFieldDto:
      type: object
      properties:
        tags:
          type: object
        order:
          type: number
          description: The order of the field in the form
          example: 1
        formId:
          type: string
        fieldId:
          type: string
        required:
          type: boolean
        overrideLabel:
          type: string
          description: The label of the field for this form instance, overrides the field label
          example: Last Name
      required:
      - order
      - formId
      - fieldId
    UpdateFormFieldDto:
      type: object
      properties:
        tags:
          type: object
        order:
          type: integer
        fieldId:
          type: string
        overrideLabel:
          type: string
        required:
          type: boolean
    GetManyFormFieldResponseDto:
      type: object
      properties:
        data:
          type: array
          items:
            $ref: '#/components/schemas/FormField'
        count:
          type: number
        total:
          type: number
        page:
          type: number
        pageCount:
          type: number
      required:
      - data
      - count
      - total
      - page
      - pageCount
    FormField:
      type: object
      properties:
        id:
          type: string
          description: The unique identifier of the record
          example: a0e1f2c3-d4e5-6f7g-8h9i-j0k1l2m3n4o5
          readOnly: true
        createDateTime:
          format: date-time
          type: string
          description: The date and time when the record was created
          example: '2023-10-01T12:00:00Z'
          readOnly: true
        createdBy:
          type: object
          description: The ID of the user who created the record
          example: a0e1f2c3-d4e5-6f7g-8h9i-j0k1l2m3n4o5
          readOnly: true
        lastChangedDateTime:
          format: date-time
          type: string
          description: The date and time when the record was last changed
          example: '2023-10-01T12:00:00Z'
          readOnly: true
        order:
          type: number
          description: The order of the field in the form, must be unique per form
          example: 1
        required:
          type: boolean
          description: Whether the field is required or not
          example: true
        overrideLabel:
          type: string
          description: The label of the field for this form instance, overrides the field label
          example: Last Name
        formId:
          type: string
          description: The ID of the form that this field belongs to
          example: a0e1f2c3-d4e5-6f7g-8h9i-j0k1l2m3n4o5
        fieldId:
          type: string
          description: The ID of the field that this form field is based on
          example: a0e1f2c3-d4e5-6f7g-8h9i-j0k1l2m3n4o5
      required:
      - id
      - createDateTime
      - createdBy
      - lastChangedDateTime
      - order
      - formId
      - fieldId
  securitySchemes:
    bearer:
      scheme: bearer
      bearerFormat: JWT
      type: http
