openapi: 3.2.0
info:
  title: Opendock Nova API Documentation Custom Forms - Fields API
  description: '## Welcome to Opendock Nova!'
  version: v4.144.0 - 39b4253
  contact: {}
servers:
- url: https://neutron.opendock.com
  description: Production Server
- url: https://neutron.staging.opendock.com
  description: Staging Server
tags:
- name: Custom Forms - Fields
  description: Fields are global definitions that specify fundamental attributes like data type (text, number, dropdown, etc.), validation rules, and base properties. Fields are organization-wide resources that can be instantiated as Form Fields across multiple Forms.
paths:
  /custom-forms/field:
    post:
      operationId: createOneBaseFieldControllerField
      summary: Create a single Field
      parameters: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CreateFieldDto'
      responses:
        '201':
          description: ''
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Field'
      tags:
      - Custom Forms - Fields
      security:
      - bearer: []
    get:
      operationId: getManyBaseFieldControllerField
      summary: Retrieve multiple Fields
      parameters:
      - name: fields
        description: Selects resource fields. <a href="https://github.com/nestjsx/crud/wiki/Requests#select" target="_blank">Docs</a>
        required: false
        in: query
        schema:
          type: array
          items:
            type: string
        style: form
        explode: false
      - name: s
        description: Adds search condition. <a href="https://github.com/nestjsx/crud/wiki/Requests#search" target="_blank">Docs</a>
        required: false
        in: query
        schema:
          type: string
      - name: filter
        description: Adds filter condition. <a href="https://github.com/nestjsx/crud/wiki/Requests#filter" target="_blank">Docs</a>
        required: false
        in: query
        schema:
          type: array
          items:
            type: string
        style: form
        explode: true
      - name: or
        description: Adds OR condition. <a href="https://github.com/nestjsx/crud/wiki/Requests#or" target="_blank">Docs</a>
        required: false
        in: query
        schema:
          type: array
          items:
            type: string
        style: form
        explode: true
      - name: sort
        description: Adds sort by field. <a href="https://github.com/nestjsx/crud/wiki/Requests#sort" target="_blank">Docs</a>
        required: false
        in: query
        schema:
          type: array
          items:
            type: string
        style: form
        explode: true
      - name: join
        description: Adds relational resources. <a href="https://github.com/nestjsx/crud/wiki/Requests#join" target="_blank">Docs</a>
        required: false
        in: query
        schema:
          type: array
          items:
            type: string
        style: form
        explode: true
      - name: limit
        description: Limit amount of resources. <a href="https://github.com/nestjsx/crud/wiki/Requests#limit" target="_blank">Docs</a>
        required: false
        in: query
        schema:
          type: integer
      - name: offset
        description: Offset amount of resources. <a href="https://github.com/nestjsx/crud/wiki/Requests#offset" target="_blank">Docs</a>
        required: false
        in: query
        schema:
          type: integer
      - name: page
        description: Page portion of resources. <a href="https://github.com/nestjsx/crud/wiki/Requests#page" target="_blank">Docs</a>
        required: false
        in: query
        schema:
          type: integer
      - name: cache
        description: Reset cache (if was enabled). <a href="https://github.com/nestjsx/crud/wiki/Requests#cache" target="_blank">Docs</a>
        required: false
        in: query
        schema:
          type: integer
          minimum: 0
          maximum: 1
      responses:
        '200':
          description: Get paginated response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GetManyFieldResponseDto'
      tags:
      - Custom Forms - Fields
      security:
      - bearer: []
  /custom-forms/field/{id}:
    patch:
      operationId: updateOneBaseFieldControllerField
      summary: Update a single Field
      parameters:
      - name: id
        required: true
        in: path
        schema:
          type: string
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/UpdateFieldDto'
      responses:
        '200':
          description: ''
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Field'
      tags:
      - Custom Forms - Fields
      security:
      - bearer: []
    get:
      operationId: getOneBaseFieldControllerField
      summary: Retrieve a single Field
      parameters:
      - name: id
        required: true
        in: path
        schema:
          type: string
      - name: fields
        description: Selects resource fields. <a href="https://github.com/nestjsx/crud/wiki/Requests#select" target="_blank">Docs</a>
        required: false
        in: query
        schema:
          type: array
          items:
            type: string
        style: form
        explode: false
      - name: join
        description: Adds relational resources. <a href="https://github.com/nestjsx/crud/wiki/Requests#join" target="_blank">Docs</a>
        required: false
        in: query
        schema:
          type: array
          items:
            type: string
        style: form
        explode: true
      - name: cache
        description: Reset cache (if was enabled). <a href="https://github.com/nestjsx/crud/wiki/Requests#cache" target="_blank">Docs</a>
        required: false
        in: query
        schema:
          type: integer
          minimum: 0
          maximum: 1
      responses:
        '200':
          description: Get one base response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Field'
      tags:
      - Custom Forms - Fields
      security:
      - bearer: []
    delete:
      operationId: deleteOneBaseFieldControllerField
      summary: Delete a single Field
      parameters:
      - name: id
        required: true
        in: path
        schema:
          type: string
      responses:
        '200':
          description: Delete one base response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Field'
      tags:
      - Custom Forms - Fields
      security:
      - bearer: []
components:
  schemas:
    CustomFieldType:
      type: string
      description: The type of the field used at the moment of the data submission, used to render the field in the UI and validate the data on the API level
      enum:
      - str
      - bigstr
      - date
      - bool
      - doc
      - multidoc
      - int
      - email
      - phone
      - dropdown
      - dropdownmultiselect
      - combobox
      - timestamp
      - action
    Field:
      type: object
      properties:
        id:
          type: string
          description: The unique identifier of the record
          example: a0e1f2c3-d4e5-6f7g-8h9i-j0k1l2m3n4o5
          readOnly: true
        createDateTime:
          format: date-time
          type: string
          description: The date and time when the record was created
          example: '2023-10-01T12:00:00Z'
          readOnly: true
        createdBy:
          type: object
          description: The ID of the user who created the record
          example: a0e1f2c3-d4e5-6f7g-8h9i-j0k1l2m3n4o5
          readOnly: true
        lastChangedDateTime:
          format: date-time
          type: string
          description: The date and time when the record was last changed
          example: '2023-10-01T12:00:00Z'
          readOnly: true
        label:
          type: string
          description: The label of the field, it can be overriden when instantiated by a FormField entity
          example: First Name
        description:
          type: string
          description: The helper text for the particular field
          example: Enter your first name
        placeholder:
          type: string
          description: The placeholder for the particular field
          example: John Doe
        type:
          $ref: '#/components/schemas/CustomFieldType'
        extraFields:
          description: Extra fields for the field, used to render the field in the UI, such as Dropdown options and number validation rules
          example:
            dropDownValues:
            - Option 1
            - Option 2
            - Option 3
            minLengthOrValue: 1
            maxLengthOrValue: 10
          allOf:
          - $ref: '#/components/schemas/FieldExtraFields'
        semanticLabel:
          type: object
          description: Optional semantic label grouping for this field
      required:
      - id
      - createDateTime
      - createdBy
      - lastChangedDateTime
      - label
      - type
    GetManyFieldResponseDto:
      type: object
      properties:
        data:
          type: array
          items:
            $ref: '#/components/schemas/Field'
        count:
          type: number
        total:
          type: number
        page:
          type: number
        pageCount:
          type: number
      required:
      - data
      - count
      - total
      - page
      - pageCount
    FieldExtraFields:
      type: object
      properties: {}
    UpdateFieldDto:
      type: object
      properties:
        tags:
          type: object
        label:
          type: string
        type:
          $ref: '#/components/schemas/CustomFieldType'
        description:
          type: string
        placeholder:
          type: string
        extraFields:
          example:
            dropdownOptions:
            - Option 1
            - Option 2
            maxLengthOrValue: 100
            minLengthOrValue: 1
          allOf:
          - $ref: '#/components/schemas/FieldExtraFields'
        formId:
          type: string
    CreateFieldDto:
      type: object
      properties:
        tags:
          type: object
        label:
          type: string
        type:
          $ref: '#/components/schemas/CustomFieldType'
        description:
          type: string
        placeholder:
          type: string
        extraFields:
          example:
            dropDownValues:
            - Option 1
            - Option 2
            - Option 3
            minLengthOrValue: 1
            maxLengthOrValue: 10
          allOf:
          - $ref: '#/components/schemas/FieldExtraFields'
      required:
      - label
      - type
      - description
      - placeholder
  securitySchemes:
    bearer:
      scheme: bearer
      bearerFormat: JWT
      type: http
