openapi: 3.2.0
info:
  title: Opendock Nova API Documentation YMS - Spot Assignment API
  description: '## Welcome to Opendock Nova!'
  version: v4.144.0 - 39b4253
  contact: {}
servers:
- url: https://neutron.opendock.com
  description: Production Server
- url: https://neutron.staging.opendock.com
  description: Staging Server
tags:
- name: YMS - Spot Assignment
paths:
  /yard/spot-assignment:
    post:
      operationId: createOneBaseSpotAssignmentControllerSpotAssignment
      summary: Create a single SpotAssignment
      parameters: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CreateSpotAssignmentDto'
      responses:
        '201':
          description: ''
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SpotAssignment'
      tags:
      - YMS - Spot Assignment
      security:
      - bearer: []
    get:
      operationId: getManyBaseSpotAssignmentControllerSpotAssignment
      summary: Retrieve multiple SpotAssignments
      parameters:
      - name: fields
        description: Selects resource fields. <a href="https://github.com/nestjsx/crud/wiki/Requests#select" target="_blank">Docs</a>
        required: false
        in: query
        schema:
          type: array
          items:
            type: string
        style: form
        explode: false
      - name: s
        description: Adds search condition. <a href="https://github.com/nestjsx/crud/wiki/Requests#search" target="_blank">Docs</a>
        required: false
        in: query
        schema:
          type: string
      - name: filter
        description: Adds filter condition. <a href="https://github.com/nestjsx/crud/wiki/Requests#filter" target="_blank">Docs</a>
        required: false
        in: query
        schema:
          type: array
          items:
            type: string
        style: form
        explode: true
      - name: or
        description: Adds OR condition. <a href="https://github.com/nestjsx/crud/wiki/Requests#or" target="_blank">Docs</a>
        required: false
        in: query
        schema:
          type: array
          items:
            type: string
        style: form
        explode: true
      - name: sort
        description: Adds sort by field. <a href="https://github.com/nestjsx/crud/wiki/Requests#sort" target="_blank">Docs</a>
        required: false
        in: query
        schema:
          type: array
          items:
            type: string
        style: form
        explode: true
      - name: join
        description: Adds relational resources. <a href="https://github.com/nestjsx/crud/wiki/Requests#join" target="_blank">Docs</a>
        required: false
        in: query
        schema:
          type: array
          items:
            type: string
        style: form
        explode: true
      - name: limit
        description: Limit amount of resources. <a href="https://github.com/nestjsx/crud/wiki/Requests#limit" target="_blank">Docs</a>
        required: false
        in: query
        schema:
          type: integer
      - name: offset
        description: Offset amount of resources. <a href="https://github.com/nestjsx/crud/wiki/Requests#offset" target="_blank">Docs</a>
        required: false
        in: query
        schema:
          type: integer
      - name: page
        description: Page portion of resources. <a href="https://github.com/nestjsx/crud/wiki/Requests#page" target="_blank">Docs</a>
        required: false
        in: query
        schema:
          type: integer
      - name: cache
        description: Reset cache (if was enabled). <a href="https://github.com/nestjsx/crud/wiki/Requests#cache" target="_blank">Docs</a>
        required: false
        in: query
        schema:
          type: integer
          minimum: 0
          maximum: 1
      responses:
        '200':
          description: Get paginated response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GetManySpotAssignmentResponseDto'
      tags:
      - YMS - Spot Assignment
      security:
      - bearer: []
  /yard/spot-assignment/{id}:
    patch:
      operationId: updateOneBaseSpotAssignmentControllerSpotAssignment
      summary: Update a single SpotAssignment
      parameters:
      - name: id
        required: true
        in: path
        schema:
          type: string
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/UpdateSpotAssignmentDto'
      responses:
        '200':
          description: ''
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SpotAssignment'
      tags:
      - YMS - Spot Assignment
      security:
      - bearer: []
    delete:
      operationId: deleteOneBaseSpotAssignmentControllerSpotAssignment
      summary: Delete a single SpotAssignment
      parameters:
      - name: id
        required: true
        in: path
        schema:
          type: string
      responses:
        '200':
          description: ''
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SpotAssignment'
      tags:
      - YMS - Spot Assignment
      security:
      - bearer: []
    get:
      operationId: getOneBaseSpotAssignmentControllerSpotAssignment
      summary: Retrieve a single SpotAssignment
      parameters:
      - name: id
        required: true
        in: path
        schema:
          type: string
      - name: fields
        description: Selects resource fields. <a href="https://github.com/nestjsx/crud/wiki/Requests#select" target="_blank">Docs</a>
        required: false
        in: query
        schema:
          type: array
          items:
            type: string
        style: form
        explode: false
      - name: join
        description: Adds relational resources. <a href="https://github.com/nestjsx/crud/wiki/Requests#join" target="_blank">Docs</a>
        required: false
        in: query
        schema:
          type: array
          items:
            type: string
        style: form
        explode: true
      - name: cache
        description: Reset cache (if was enabled). <a href="https://github.com/nestjsx/crud/wiki/Requests#cache" target="_blank">Docs</a>
        required: false
        in: query
        schema:
          type: integer
          minimum: 0
          maximum: 1
      responses:
        '200':
          description: Get one base response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SpotAssignment'
      tags:
      - YMS - Spot Assignment
      security:
      - bearer: []
  /yard/spot-assignment/{id}/depart:
    patch:
      operationId: SpotAssignmentController_depart
      summary: Depart a spot assignment
      description: Depart a the contents of a spot assignment from the waiting list, adding a event type DEPARTED to each item inside the spot assignment
      parameters:
      - name: id
        required: true
        in: path
        schema:
          type: string
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/DepartSpotAssignmentDto'
      responses:
        '200':
          description: ''
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SpotAssignment'
      tags:
      - YMS - Spot Assignment
      security:
      - bearer: []
  /yard/spot-assignment/{id}/reassign:
    patch:
      operationId: SpotAssignmentController_reassignSpot
      summary: Reassign a spot assignment
      description: Reassign a the contents of a spot assignment to a new spot dynamically
      parameters:
      - name: id
        required: true
        in: path
        schema:
          type: string
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ReassignSpotDto'
      responses:
        '200':
          description: ''
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SpotAssignment'
      tags:
      - YMS - Spot Assignment
      security:
      - bearer: []
components:
  schemas:
    DepartSpotAssignmentDto:
      type: object
      properties:
        tags:
          type: object
        departType:
          $ref: '#/components/schemas/DepartTypeEnum'
      required:
      - departType
    ReassignSpotDto:
      type: object
      properties:
        tags:
          type: object
        spotId:
          type: string
          format: uuid
        reason:
          type: string
        observation:
          type: string
        moveContainer:
          type: boolean
          description: When set to true, it moves only the asset container
      required:
      - spotId
    CreateSpotAssignmentDto:
      type: object
      properties:
        tags:
          type: object
        assetVisitId:
          type: string
          format: uuid
        assetContainerId:
          type: string
          format: uuid
        spotId:
          type: string
          format: uuid
        observation:
          type: string
      required:
      - spotId
    GetManySpotAssignmentResponseDto:
      type: object
      properties:
        data:
          type: array
          items:
            $ref: '#/components/schemas/SpotAssignment'
        count:
          type: number
        total:
          type: number
        page:
          type: number
        pageCount:
          type: number
      required:
      - data
      - count
      - total
      - page
      - pageCount
    SpotAssignment:
      type: object
      properties:
        id:
          type: string
          description: The unique identifier of the record
          example: a0e1f2c3-d4e5-6f7g-8h9i-j0k1l2m3n4o5
          readOnly: true
        createDateTime:
          format: date-time
          type: string
          description: The date and time when the record was created
          example: '2023-10-01T12:00:00Z'
          readOnly: true
        createdBy:
          type: object
          description: The ID of the user who created the record
          example: a0e1f2c3-d4e5-6f7g-8h9i-j0k1l2m3n4o5
          readOnly: true
        lastChangedDateTime:
          format: date-time
          type: string
          description: The date and time when the record was last changed
          example: '2023-10-01T12:00:00Z'
          readOnly: true
        spotId:
          type: string
          format: uuid
          description: The id of the spot
          example: a0e4b1c2-3d4e-5f6g-7h8i-9j0k1l2m3n4o
        assetVisitId:
          type: object
          format: uuid
          description: The id of the asset visit
          example: a0e4b1c2-3d4e-5f6g-7h8i-9j0k1l2m3n4o
        assetContainerId:
          type: object
          format: uuid
          description: The id of the asset container
          example: a0e4b1c2-3d4e-5f6g-7h8i-9j0k1l2m3n4o
        observation:
          type: string
          description: Extra data for the spot assignment
          example: Spot assignment for truck 4
      required:
      - id
      - createDateTime
      - createdBy
      - lastChangedDateTime
      - spotId
      - assetVisitId
      - assetContainerId
    DepartTypeEnum:
      type: string
      enum:
      - All
      - AssetVisit
      - AssetContainer
    UpdateSpotAssignmentDto:
      type: object
      properties:
        tags:
          type: object
        observation:
          type: string
        assetVisitId:
          type: string
          format: uuid
        assetContainerId:
          type: string
          format: uuid
  securitySchemes:
    bearer:
      scheme: bearer
      bearerFormat: JWT
      type: http
