openapi: 3.2.0
info:
  title: Opendock Nova API Documentation Settings Metadata API
  description: '## Welcome to Opendock Nova!'
  version: v4.144.0 - 39b4253
  contact: {}
servers:
- url: https://neutron.opendock.com
  description: Production Server
- url: https://neutron.staging.opendock.com
  description: Staging Server
tags:
- name: Settings Metadata
paths:
  /settings-metadata/{entityType}:
    get:
      operationId: SettingsMetadataController_getAll
      parameters: []
      responses:
        '200':
          description: ''
      tags:
      - Settings Metadata
      security:
      - bearer: []
      summary: Settings metadata controller get all
      x-summary-source: derived
  /settings-metadata/{entityType}/{settingKey}:
    get:
      operationId: SettingsMetadataController_getOne
      parameters:
      - name: entityType
        required: true
        in: path
        schema:
          type: string
      - name: settingKey
        required: true
        in: path
        schema:
          type: string
      responses:
        '200':
          description: ''
      tags:
      - Settings Metadata
      security:
      - bearer: []
      summary: Settings metadata controller get one
      x-summary-source: derived
  /settings-metadata/validate/{entityType}:
    post:
      operationId: SettingsMetadataController_validateSetting
      parameters:
      - name: entityType
        required: true
        in: path
        schema:
          type: string
      responses:
        '200':
          description: ''
      tags:
      - Settings Metadata
      security:
      - bearer: []
      summary: Settings metadata controller validate setting
      x-summary-source: derived
components:
  securitySchemes:
    bearer:
      scheme: bearer
      bearerFormat: JWT
      type: http
