openapi: 3.2.0
info:
  title: Opendock Nova API Documentation Documents API
  description: '## Welcome to Opendock Nova!'
  version: v4.144.0 - 39b4253
  contact: {}
servers:
- url: https://neutron.opendock.com
  description: Production Server
- url: https://neutron.staging.opendock.com
  description: Staging Server
tags:
- name: Documents
paths:
  /document:
    get:
      operationId: DocumentController_list
      parameters:
      - name: offset
        required: false
        in: query
        schema:
          minimum: 0
          default: 0
          type: number
      - name: limit
        required: false
        in: query
        schema:
          minimum: 1
          maximum: 500
          default: 100
          type: number
      - name: relatedEntity
        required: true
        in: query
        description: The type of the related entity
        schema:
          enum:
          - Appointment
          - AssetContainer
          - AssetContainerEvent
          - AssetVisit
          - AssetVisitEvent
          - Company
          - Dock
          - LoadType
          - LoadTypeGroup
          - OrgCarrierSettings
          - Org
          - User
          - Warehouse
          - WarehouseGroup
          - WarehouseFeature
          - NotificationConfig
          - MessageThread
          - MessageThreadMessage
          - MessageThreadEvent
          - Form
          - Field
          - Flow
          - CustomFormData
          - FormField
          - Trigger
          - Spot
          - SpotArea
          - SpotAssignment
          - SpotReserve
          - YardTask
          - YardTaskCheck
          - YardTaskCheckAssetContainer
          - YardTaskMove
          - YardTaskEvent
          - Site
          - Gate
          - AssetObservation
          - VehicleObservation
          - UnitLimit
          - UnitLimitCount
          - Document
          - Comment
          - Bol
          type: string
      - name: relatedId
        required: true
        in: query
        description: The UUID of the related entity
        schema:
          format: uuid
          example: 7725172f-367d-4900-9931-5832cafdcfd1
          type: string
      - name: expirationInSeconds
        required: false
        in: query
        schema:
          minimum: 1
          maximum: 172800
          default: 3600
          type: number
      responses:
        '200':
          description: ''
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DocumentListDto'
      tags:
      - Documents
      security:
      - bearer: []
      summary: Document controller list
      x-summary-source: derived
  /document/{id}/download:
    get:
      operationId: DocumentController_download
      summary: Download a file using its ID
      parameters:
      - name: id
        required: true
        in: path
        schema:
          type: string
      responses:
        '200':
          description: Binary file content
          content:
            application/octet-stream:
              schema:
                type: string
                format: binary
      tags:
      - Documents
      security:
      - bearer: []
components:
  schemas:
    Sort:
      type: object
      properties:
        field:
          type: string
        order:
          type: string
          enum:
          - ASC
          - DESC
          default: ASC
      required:
      - field
      - order
    QueryResultMeta:
      type: object
      properties:
        totalRecords:
          type: number
        totalPages:
          type: number
        limit:
          type: number
        offset:
          type: number
        sorts:
          type: array
          items:
            $ref: '#/components/schemas/Sort'
        page:
          type: number
      required:
      - totalRecords
      - totalPages
      - limit
      - offset
      - sorts
      - page
    DocumentListDto:
      type: object
      properties:
        items:
          type: array
          items:
            type: string
        meta:
          $ref: '#/components/schemas/QueryResultMeta'
      required:
      - items
      - meta
  securitySchemes:
    bearer:
      scheme: bearer
      bearerFormat: JWT
      type: http
