openapi: 3.2.0
info:
  title: Opendock Nova API Documentation Authentication API
  description: '## Welcome to Opendock Nova!'
  version: v4.144.0 - 39b4253
  contact: {}
servers:
- url: https://neutron.opendock.com
  description: Production Server
- url: https://neutron.staging.opendock.com
  description: Staging Server
tags:
- name: Authentication
paths:
  /auth/login:
    post:
      operationId: AuthController_login
      parameters: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/LoginDto'
      responses:
        '200':
          description: Successful login
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/LoginResponseDto'
      tags:
      - Authentication
      summary: Auth controller login
      x-summary-source: derived
  /auth/refresh:
    get:
      operationId: AuthController_refresh
      parameters: []
      responses:
        '200':
          description: Refreshed token
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/LoginResponseDto'
      tags:
      - Authentication
      security:
      - bearer: []
      summary: Auth controller refresh
      x-summary-source: derived
  /auth/profile:
    get:
      operationId: AuthController_getProfile
      parameters: []
      responses:
        '200':
          description: Current authenticated user profile
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AuthProfileResponseDto'
      tags:
      - Authentication
      security:
      - bearer: []
      summary: Auth controller get profile
      x-summary-source: derived
  /auth/me:
    get:
      operationId: AuthController_getProfile
      parameters: []
      responses:
        '200':
          description: Current authenticated user profile
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AuthProfileResponseDto'
      tags:
      - Authentication
      security:
      - bearer: []
      summary: Auth controller get profile
      x-summary-source: derived
components:
  schemas:
    LoginResponseDto:
      type: object
      properties:
        access_token:
          type: string
          example: eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9...
          description: JWT access token
        expires_in:
          type: number
          example: 3600
          description: Token expiration time in seconds
      required:
      - access_token
      - expires_in
    AuthProfileResponseDto:
      type: object
      properties:
        id:
          type: string
          format: uuid
          example: 867cef72-a49d-42f1-a605-f49c5fbc7ae4
        createDateTime:
          type: string
          format: date-time
          example: '2024-07-09T20:14:00.475Z'
        createdBy:
          type: string
          format: uuid
          example: 867cef72-a49d-42f1-a605-f49c5fbc7ae4
        lastChangedDateTime:
          type: string
          format: date-time
          example: '2026-02-27T14:33:00.461Z'
        lastChangedBy:
          type: string
          format: uuid
          example: 867cef72-a49d-42f1-a605-f49c5fbc7ae4
        isActive:
          type: boolean
          example: true
        tags:
          example: null
          type:
          - array
          - 'null'
          items:
            type: string
        email:
          type: string
          example: user@example.com
        firstName:
          type: string
          example: Cave
        lastName:
          type: string
          example: Johnson
        phone:
          type:
          - object
          - 'null'
          example: null
        extension:
          type:
          - object
          - 'null'
          example: null
        isEmailVerified:
          type: boolean
          example: true
        role:
          type: string
          enum:
          - role_owner
          - role_admin
          - role_operator
          - role_attendant
          - role_spectator
          - role_yard_driver
          - role_carrier_admin
          - role_carrier
          - role_base
          example: role_owner
        companyId:
          type:
          - object
          - 'null'
          format: uuid
          example: null
        orgId:
          type:
          - object
          - 'null'
          format: uuid
          example: 7e77fbe1-9517-44ce-b08b-5a18b478b79f
        warehouseAccessList:
          example: null
          type:
          - array
          - 'null'
          items:
            type: string
        invalidLoginAttempts:
          type:
          - object
          - 'null'
          example: null
        tcConfirmedAt:
          type:
          - object
          - 'null'
          format: date-time
          example: '2024-07-09T20:14:20.814Z'
        lastLoginAt:
          type:
          - object
          - 'null'
          format: date-time
          example: '2026-02-27T14:33:00.459Z'
        passwordResetRequired:
          type: boolean
          example: false
        passwordResetEmailSentAt:
          type:
          - object
          - 'null'
          format: date-time
          example: null
        orgIsActive:
          type: boolean
          example: true
        orgName:
          type: string
          example: My Organization
        orgCreateDateTime:
          type: string
          format: date-time
          example: '2024-07-09T20:14:43.349Z'
        orgType:
          type: string
          example: Client
      required:
      - id
      - createDateTime
      - createdBy
      - lastChangedDateTime
      - isActive
      - email
      - firstName
      - lastName
      - isEmailVerified
      - role
    LoginDto:
      type: object
      properties:
        email:
          type: string
          example: user@example.com
          description: User email address
        password:
          type: string
          example: P@ssw0rd!
          description: User password
      required:
      - email
      - password
  securitySchemes:
    bearer:
      scheme: bearer
      bearerFormat: JWT
      type: http
