openapi: 3.2.0
info:
  title: Opendock Nova API Documentation Observations API
  description: '## Welcome to Opendock Nova!'
  version: v4.144.0 - 39b4253
  contact: {}
servers:
- url: https://neutron.opendock.com
  description: Production Server
- url: https://neutron.staging.opendock.com
  description: Staging Server
tags:
- name: Observations
paths:
  /observations:
    get:
      operationId: ObservationController_getObservations
      parameters: []
      responses:
        '200':
          description: ''
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/VehicleObservation'
      tags:
      - Observations
      security:
      - bearer: []
      summary: Observation controller get observations
      x-summary-source: derived
  /observations/{id}:
    get:
      operationId: ObservationController_getObservation
      parameters:
      - name: id
        required: true
        in: path
        schema:
          type: string
      responses:
        '200':
          description: ''
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/VehicleObservation'
      tags:
      - Observations
      security:
      - bearer: []
      summary: Observation controller get observation
      x-summary-source: derived
  /observations/{id}/asset-visit:
    post:
      operationId: ObservationController_createAssetVisit
      parameters:
      - name: id
        required: true
        in: path
        schema:
          type: string
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ObservationCreateAssetVisitDto'
      responses:
        '200':
          description: ''
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ObservationCreateAssetVisitResponse'
      tags:
      - Observations
      security:
      - bearer: []
      summary: Observation controller create asset visit
      x-summary-source: derived
components:
  schemas:
    ObservationCreateAssetVisitDto:
      type: object
      properties:
        tags:
          type: object
    VehicleObservation:
      type: object
      properties:
        id:
          type: string
          description: The unique identifier of the record
          example: a0e1f2c3-d4e5-6f7g-8h9i-j0k1l2m3n4o5
          readOnly: true
        createDateTime:
          format: date-time
          type: string
          description: The date and time when the record was created
          example: '2023-10-01T12:00:00Z'
          readOnly: true
        createdBy:
          type: object
          description: The ID of the user who created the record
          example: a0e1f2c3-d4e5-6f7g-8h9i-j0k1l2m3n4o5
          readOnly: true
        lastChangedDateTime:
          format: date-time
          type: string
          description: The date and time when the record was last changed
          example: '2023-10-01T12:00:00Z'
          readOnly: true
      required:
      - id
      - createDateTime
      - createdBy
      - lastChangedDateTime
    ObservationCreateAssetVisitResponse:
      type: object
      properties: {}
  securitySchemes:
    bearer:
      scheme: bearer
      bearerFormat: JWT
      type: http
