openapi: 3.2.0
info:
  title: Opendock Nova API Documentation Storage API
  description: '## Welcome to Opendock Nova!'
  version: v4.144.0 - 39b4253
  contact: {}
servers:
- url: https://neutron.opendock.com
  description: Production Server
- url: https://neutron.staging.opendock.com
  description: Staging Server
tags:
- name: Storage
paths:
  /storage:
    post:
      operationId: StorageController_saveFile
      parameters: []
      requestBody:
        required: true
        content:
          multipart/form-data:
            schema:
              type: object
              properties:
                file:
                  type: string
                  format: binary
      responses:
        '200':
          description: ''
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/StorageDto'
      tags:
      - Storage
      security:
      - bearer: []
      summary: Storage controller save file
      x-summary-source: derived
  /storage/files:
    post:
      operationId: StorageController_saveFiles
      parameters: []
      requestBody:
        required: true
        content:
          multipart/form-data:
            schema:
              type: object
              properties:
                files:
                  type: array
                  items:
                    type: string
                    format: binary
      responses:
        '200':
          description: ''
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/StorageDto'
      tags:
      - Storage
      security:
      - bearer: []
      summary: Storage controller save files
      x-summary-source: derived
components:
  schemas:
    StorageDto:
      type: object
      properties:
        url:
          type: string
          example: https://opendock-neutron-staging.s3.amazonaws.com/storage/328a170a-6dc6-4e79-afeb-c2b5e436eee4/d285b6b549/file.pdf
        key:
          type: string
          example: storage/328a170a-6dc6-4e79-afeb-c2b5e436eee4/d285b6b549/file.pdf
      required:
      - url
      - key
  securitySchemes:
    bearer:
      scheme: bearer
      bearerFormat: JWT
      type: http
