openapi: 3.2.0
info:
  title: Opendock Nova API Documentation Load Type Groups API
  description: '## Welcome to Opendock Nova!'
  version: v4.144.0 - 39b4253
  contact: {}
servers:
- url: https://neutron.opendock.com
  description: Production Server
- url: https://neutron.staging.opendock.com
  description: Staging Server
tags:
- name: Load Type Groups
paths:
  /loadtype-group:
    post:
      operationId: LoadTypeGroupController_createLoadTypeGroup
      summary: Create a new load type group
      description: Creates a load type group, which is a collection of load types that can be managed together for unit limiting purposes. Load type groups allow you to apply the same unit limits to multiple load types simultaneously, simplifying capacity management.
      parameters: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CreateLoadTypeGroupDto'
      responses:
        '200':
          description: Load type group successfully created
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ResponseLoadTypeGroupDto'
      tags:
      - Load Type Groups
      security:
      - bearer: []
    get:
      operationId: LoadTypeGroupController_getLoadTypeGroups
      summary: Retrieve load type groups
      description: Fetches all load type groups for a specific warehouse. Returns a list of groups with their associated load types, useful for displaying configuration options or managing unit limits.
      parameters: []
      responses:
        '200':
          description: List of load type groups for the specified warehouse
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/ResponseLoadTypeGroupDto'
      tags:
      - Load Type Groups
      security:
      - bearer: []
  /loadtype-group/{id}:
    patch:
      operationId: LoadTypeGroupController_updateLoadTypeGroup
      summary: Update an existing load type group
      description: Updates the name or load type membership of an existing load type group. This allows you to modify which load types are included in the group without recreating it.
      parameters:
      - name: id
        required: true
        in: path
        description: The unique identifier of the load type group to update
        schema:
          format: uuid
          type: string
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/UpdateLoadTypeGroupDto'
      responses:
        '200':
          description: Load type group successfully updated
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ResponseLoadTypeGroupDto'
      tags:
      - Load Type Groups
      security:
      - bearer: []
    delete:
      operationId: LoadTypeGroupController_deleteLoadTypeGroup
      summary: Delete a load type group
      description: Deletes a load type group. This removes the group itself but does not affect the individual load types that were part of the group. Any unit limits referencing this group will need to be reconfigured.
      parameters:
      - name: id
        required: true
        in: path
        description: The unique identifier of the load type group to delete
        schema:
          format: uuid
          type: string
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/DeleteLoadTypeGroupDto'
      responses:
        '200':
          description: Load type group successfully deleted
          content:
            application/json:
              schema:
                type: object
                properties:
                  success:
                    type: boolean
                    example: true
      tags:
      - Load Type Groups
      security:
      - bearer: []
components:
  schemas:
    DeleteLoadTypeGroupDto:
      type: object
      properties:
        tags:
          type: object
    CreateLoadTypeGroupDto:
      type: object
      properties:
        tags:
          type: object
    ResponseLoadTypeGroupDto:
      type: object
      properties: {}
    UpdateLoadTypeGroupDto:
      type: object
      properties:
        tags:
          type: object
  securitySchemes:
    bearer:
      scheme: bearer
      bearerFormat: JWT
      type: http
