openapi: 3.2.0
info:
  title: Opendock Nova API Documentation General API
  description: '## Welcome to Opendock Nova!'
  version: v4.144.0 - 39b4253
  contact: {}
servers:
- url: https://neutron.opendock.com
  description: Production Server
- url: https://neutron.staging.opendock.com
  description: Staging Server
tags:
- name: General
paths:
  /:
    get:
      operationId: AppController_getBase
      summary: Shows a greeting message
      parameters: []
      responses:
        '200':
          description: ''
          content:
            application/json:
              schema:
                type: string
      tags:
      - General
  /version:
    get:
      operationId: AppController_getVersion
      summary: Shows the current Nova version
      parameters: []
      responses:
        '200':
          description: ''
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/VersionDto'
      tags:
      - General
  /app-environment:
    get:
      operationId: AppController_getAppEnvironment
      summary: Gets public environment data for the app
      parameters: []
      responses:
        '200':
          description: ''
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AppEnvironmentDto'
      tags:
      - General
components:
  schemas:
    AppEnvironmentDto:
      type: object
      properties:
        S3_BUCKET:
          type: string
          example: bucket-name
        S3_BASE:
          type: string
          example: s3base.name
        S3_DOWNLOAD_URL:
          type: string
          example: files.opendock.com
      required:
      - S3_BUCKET
      - S3_BASE
      - S3_DOWNLOAD_URL
    VersionDto:
      type: object
      properties:
        major:
          type: number
          example: 2
        minor:
          type: number
          example: 2
        patch:
          type: number
          example: 1
        commit:
          type: string
          example: 77af713
      required:
      - major
      - minor
      - patch
      - commit
  securitySchemes:
    bearer:
      scheme: bearer
      bearerFormat: JWT
      type: http
