openapi: 3.2.0
info:
  title: Opendock Nova API Documentation Carrier Users API
  description: '## Welcome to Opendock Nova!'
  version: v4.144.0 - 39b4253
  contact: {}
servers:
- url: https://neutron.opendock.com
  description: Production Server
- url: https://neutron.staging.opendock.com
  description: Staging Server
tags:
- name: Carrier Users
paths:
  /carrier:
    get:
      operationId: getManyBaseCarrierControllerUser
      summary: Retrieve multiple Users
      parameters:
      - name: onlyIncludeFavorites
        required: false
        in: query
        description: Filters returned carriers to only include "Favorite" carriers.
        schema:
          type: boolean
      - name: fields
        description: Selects resource fields. <a href="https://github.com/nestjsx/crud/wiki/Requests#select" target="_blank">Docs</a>
        required: false
        in: query
        schema:
          type: array
          items:
            type: string
        style: form
        explode: false
      - name: s
        description: Adds search condition. <a href="https://github.com/nestjsx/crud/wiki/Requests#search" target="_blank">Docs</a>
        required: false
        in: query
        schema:
          type: string
      - name: filter
        description: Adds filter condition. <a href="https://github.com/nestjsx/crud/wiki/Requests#filter" target="_blank">Docs</a>
        required: false
        in: query
        schema:
          type: array
          items:
            type: string
        style: form
        explode: true
      - name: or
        description: Adds OR condition. <a href="https://github.com/nestjsx/crud/wiki/Requests#or" target="_blank">Docs</a>
        required: false
        in: query
        schema:
          type: array
          items:
            type: string
        style: form
        explode: true
      - name: sort
        description: Adds sort by field. <a href="https://github.com/nestjsx/crud/wiki/Requests#sort" target="_blank">Docs</a>
        required: false
        in: query
        schema:
          type: array
          items:
            type: string
        style: form
        explode: true
      - name: join
        description: Adds relational resources. <a href="https://github.com/nestjsx/crud/wiki/Requests#join" target="_blank">Docs</a>
        required: false
        in: query
        schema:
          type: array
          items:
            type: string
        style: form
        explode: true
      - name: limit
        description: Limit amount of resources. <a href="https://github.com/nestjsx/crud/wiki/Requests#limit" target="_blank">Docs</a>
        required: false
        in: query
        schema:
          type: integer
      - name: offset
        description: Offset amount of resources. <a href="https://github.com/nestjsx/crud/wiki/Requests#offset" target="_blank">Docs</a>
        required: false
        in: query
        schema:
          type: integer
      - name: page
        description: Page portion of resources. <a href="https://github.com/nestjsx/crud/wiki/Requests#page" target="_blank">Docs</a>
        required: false
        in: query
        schema:
          type: integer
      - name: cache
        description: Reset cache (if was enabled). <a href="https://github.com/nestjsx/crud/wiki/Requests#cache" target="_blank">Docs</a>
        required: false
        in: query
        schema:
          type: integer
          minimum: 0
          maximum: 1
      responses:
        '200':
          description: ''
          content:
            application/json:
              schema:
                allOf:
                - $ref: '#/components/schemas/PaginatedDto'
                - properties:
                    entity:
                      type: string
                      example: User
                    data:
                      type: array
                      items:
                        $ref: '#/components/schemas/User'
      tags:
      - Carrier Users
      security:
      - bearer: []
    post:
      operationId: createOneBaseCarrierControllerUser
      summary: Create a single User
      parameters: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CreateCarrierDto'
      responses:
        '200':
          description: ''
          content:
            application/json:
              schema:
                allOf:
                - $ref: '#/components/schemas/PaginatedDto'
                - properties:
                    entity:
                      type: string
                      example: User
                    data:
                      type: array
                      items:
                        $ref: '#/components/schemas/User'
        '201':
          description: Get create one base response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/User'
      tags:
      - Carrier Users
      security:
      - bearer: []
  /carrier/booked:
    get:
      operationId: CarrierController_getManyBooked
      parameters: []
      responses:
        '200':
          description: ''
      tags:
      - Carrier Users
      security:
      - bearer: []
      summary: Carrier controller get many booked
      x-summary-source: derived
  /carrier/{id}/org-carrier-settings:
    get:
      operationId: CarrierController_getOrgCarrierSettingsOrg
      summary: Carrier controller get org carrier settings org
      deprecated: true
      parameters:
      - name: id
        required: true
        in: path
        schema:
          type: string
      responses:
        '200':
          description: ''
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/OrgCarrierSettingsDto'
      tags:
      - Carrier Users
      security:
      - bearer: []
      x-summary-source: derived
    patch:
      operationId: CarrierController_updateOrgCarrierSettings
      summary: Carrier controller update org carrier settings
      deprecated: true
      parameters:
      - name: id
        required: true
        in: path
        schema:
          type: string
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/OrgCarrierSettingsDto'
      responses:
        '200':
          description: ''
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/OrgCarrierSettingsDto'
      tags:
      - Carrier Users
      security:
      - bearer: []
      x-summary-source: derived
  /carrier/org-carrier-settings/{id}:
    get:
      operationId: CarrierController_getOrgCarrierSettingsCarrier
      summary: Carrier controller get org carrier settings carrier
      deprecated: true
      parameters:
      - name: id
        required: true
        in: path
        schema:
          type: string
      responses:
        '200':
          description: ''
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/OrgCarrierSettingsDto'
      tags:
      - Carrier Users
      security:
      - bearer: []
      x-summary-source: derived
  /carrier/preview:
    post:
      operationId: CarrierController_getCarrierPreviewToken
      parameters: []
      responses:
        '200':
          description: ''
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GetPreviewAsCarrierResponseDto'
      tags:
      - Carrier Users
      security:
      - bearer: []
      summary: Carrier controller get carrier preview token
      x-summary-source: derived
  /carrier/settings:
    get:
      operationId: CarrierController_getCarrierSettings
      parameters: []
      responses:
        '200':
          description: ''
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GetPreviewAsCarrierResponseDto'
      tags:
      - Carrier Users
      security:
      - bearer: []
      summary: Carrier controller get carrier settings
      x-summary-source: derived
  /carrier/settings/favorite-warehouses:
    get:
      operationId: CarrierController_getFavoriteWarehouses
      parameters: []
      responses:
        '200':
          description: ''
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GetPreviewAsCarrierResponseDto'
      tags:
      - Carrier Users
      security:
      - bearer: []
      summary: Carrier controller get favorite warehouses
      x-summary-source: derived
    post:
      operationId: CarrierController_addFavoriteWarehouse
      parameters: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/AddCarrierFavoriteWarehouseDto'
      responses:
        '200':
          description: ''
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GetPreviewAsCarrierResponseDto'
      tags:
      - Carrier Users
      security:
      - bearer: []
      summary: Carrier controller add favorite warehouse
      x-summary-source: derived
    delete:
      operationId: CarrierController_removeFavoriteWarehouse
      parameters: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/RemoveCarrierFavoriteWarehouseDto'
      responses:
        '200':
          description: ''
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GetPreviewAsCarrierResponseDto'
      tags:
      - Carrier Users
      security:
      - bearer: []
      summary: Carrier controller remove favorite warehouse
      x-summary-source: derived
  /carrier/{id}:
    get:
      operationId: getOneBaseCarrierControllerUser
      summary: Retrieve a single User
      parameters:
      - name: id
        required: true
        in: path
        schema:
          type: string
      - name: fields
        description: Selects resource fields. <a href="https://github.com/nestjsx/crud/wiki/Requests#select" target="_blank">Docs</a>
        required: false
        in: query
        schema:
          type: array
          items:
            type: string
        style: form
        explode: false
      - name: join
        description: Adds relational resources. <a href="https://github.com/nestjsx/crud/wiki/Requests#join" target="_blank">Docs</a>
        required: false
        in: query
        schema:
          type: array
          items:
            type: string
        style: form
        explode: true
      - name: cache
        description: Reset cache (if was enabled). <a href="https://github.com/nestjsx/crud/wiki/Requests#cache" target="_blank">Docs</a>
        required: false
        in: query
        schema:
          type: integer
          minimum: 0
          maximum: 1
      responses:
        '200':
          description: ''
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/User'
      tags:
      - Carrier Users
      security:
      - bearer: []
components:
  schemas:
    OrgCarrierSettingsDto:
      type: object
      properties: {}
    User:
      type: object
      properties:
        id:
          type: string
          description: The unique identifier of the record
          example: a0e1f2c3-d4e5-6f7g-8h9i-j0k1l2m3n4o5
          readOnly: true
        createDateTime:
          format: date-time
          type: string
          description: The date and time when the record was created
          example: '2023-10-01T12:00:00Z'
          readOnly: true
        createdBy:
          type: object
          description: The ID of the user who created the record
          example: a0e1f2c3-d4e5-6f7g-8h9i-j0k1l2m3n4o5
          readOnly: true
        lastChangedDateTime:
          format: date-time
          type: string
          description: The date and time when the record was last changed
          example: '2023-10-01T12:00:00Z'
          readOnly: true
        role:
          type: string
          enum:
          - role_owner
          - role_admin
          - role_operator
          - role_attendant
          - role_spectator
          - role_yard_driver
          - role_carrier_admin
          - role_carrier
          - role_base
        appointments:
          type: array
          items:
            $ref: '#/components/schemas/Appointment'
        company:
          type: Company
        orgCarrierSettings:
          type: array
          items:
            type: OrgCarrierSettings
        org:
          type: Org
        warehouseAccessList:
          type: UUID
        tcConfirmedAt:
          format: date-time
          type: string
      required:
      - id
      - createDateTime
      - createdBy
      - lastChangedDateTime
    AddCarrierFavoriteWarehouseDto:
      type: object
      properties: {}
    RemoveCarrierFavoriteWarehouseDto:
      type: object
      properties: {}
    Appointment:
      type: object
      properties:
        id:
          type: string
          description: The unique identifier of the record
          example: a0e1f2c3-d4e5-6f7g-8h9i-j0k1l2m3n4o5
          readOnly: true
        createDateTime:
          format: date-time
          type: string
          description: The date and time when the record was created
          example: '2023-10-01T12:00:00Z'
          readOnly: true
        createdBy:
          type: object
          description: The ID of the user who created the record
          example: a0e1f2c3-d4e5-6f7g-8h9i-j0k1l2m3n4o5
          readOnly: true
        lastChangedDateTime:
          format: date-time
          type: string
          description: The date and time when the record was last changed
          example: '2023-10-01T12:00:00Z'
          readOnly: true
        type:
          type: string
          enum:
          - Standard
          - Reserve
        status:
          type: string
          enum:
          - NoShow
          - Cancelled
          - Requested
          - Scheduled
          - Arrived
          - InProgress
          - Completed
        user:
          $ref: '#/components/schemas/User'
        userId:
          type: object
        loadType:
          type: LoadType
        loadTypeId:
          type: string
        dock:
          type: Dock
        org:
          type: Org
        orgId:
          type: string
        end:
          format: date-time
          type: string
        eta:
          format: date-time
          type: string
        refNumber:
          type: string
        refNumbers:
          type: array
          items:
            type: string
        customFields:
          type: array
          items:
            type: string
        notes:
          type: object
        ccEmails:
          type: array
          items:
            type: string
        recurringParentId:
          type: string
        recurringParent:
          $ref: '#/components/schemas/Appointment'
        recurringChildren:
          $ref: '#/components/schemas/Appointment'
        recurringPattern:
          type: object
        reschedules:
          type: array
          items:
            type: string
        muteNotifications:
          type: boolean
        isCheckedInByCarrier:
          type: boolean
      required:
      - id
      - createDateTime
      - createdBy
      - lastChangedDateTime
    CreateCarrierDto:
      type: object
      properties:
        phone:
          type: string
        orgCarrierSettings:
          $ref: '#/components/schemas/OrgCarrierSettingsDto'
        tags:
          type: object
    PaginatedDto:
      type: object
      properties:
        count:
          type: number
          example: 2
        total:
          type: number
          example: 2
        page:
          type: number
          example: 1
        pageCount:
          type: number
          example: 1
        action:
          type: string
          example: read
        entity:
          type: string
          example: Appointment
        data:
          type: array
          items:
            type: string
      required:
      - count
      - total
      - page
      - pageCount
      - action
      - entity
      - data
    GetPreviewAsCarrierResponseDto:
      type: object
      properties: {}
  securitySchemes:
    bearer:
      scheme: bearer
      bearerFormat: JWT
      type: http
