openapi: 3.2.0
info:
  title: Opendock Nova API Documentation Custom Forms - Data API
  description: '## Welcome to Opendock Nova!'
  version: v4.144.0 - 39b4253
  contact: {}
servers:
- url: https://neutron.opendock.com
  description: Production Server
- url: https://neutron.staging.opendock.com
  description: Staging Server
tags:
- name: Custom Forms - Data
  description: Data entities store the actual values submitted through Forms. Each form submission creates multiple Data records - one for each Form Field with a value. These records maintain the relationship between the entity (like an appointment), the form field, and the submitted value.
paths:
  /custom-forms/form-data/{id}:
    get:
      operationId: getOneBaseCustomFormDataControllerCustomFormData
      summary: Retrieve a single CustomFormData
      parameters:
      - name: id
        required: true
        in: path
        schema:
          type: string
      - name: fields
        description: Selects resource fields. <a href="https://github.com/nestjsx/crud/wiki/Requests#select" target="_blank">Docs</a>
        required: false
        in: query
        schema:
          type: array
          items:
            type: string
        style: form
        explode: false
      - name: join
        description: Adds relational resources. <a href="https://github.com/nestjsx/crud/wiki/Requests#join" target="_blank">Docs</a>
        required: false
        in: query
        schema:
          type: array
          items:
            type: string
        style: form
        explode: true
      - name: cache
        description: Reset cache (if was enabled). <a href="https://github.com/nestjsx/crud/wiki/Requests#cache" target="_blank">Docs</a>
        required: false
        in: query
        schema:
          type: integer
          minimum: 0
          maximum: 1
      responses:
        '200':
          description: ''
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CustomFormData'
      tags:
      - Custom Forms - Data
      security:
      - bearer: []
    patch:
      operationId: updateOneBaseCustomFormDataControllerCustomFormData
      summary: Update a single CustomFormData
      parameters:
      - name: id
        required: true
        in: path
        schema:
          type: string
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/UpdateCustomFormDataDto'
      responses:
        '200':
          description: ''
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CustomFormData'
      tags:
      - Custom Forms - Data
      security:
      - bearer: []
    delete:
      operationId: deleteOneBaseCustomFormDataControllerCustomFormData
      summary: Delete a single CustomFormData
      parameters:
      - name: id
        required: true
        in: path
        schema:
          type: string
      responses:
        '200':
          description: Delete one base response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CustomFormData'
      tags:
      - Custom Forms - Data
      security:
      - bearer: []
  /custom-forms/form-data:
    get:
      operationId: getManyBaseCustomFormDataControllerCustomFormData
      summary: Retrieve multiple CustomFormData
      parameters:
      - name: fields
        description: Selects resource fields. <a href="https://github.com/nestjsx/crud/wiki/Requests#select" target="_blank">Docs</a>
        required: false
        in: query
        schema:
          type: array
          items:
            type: string
        style: form
        explode: false
      - name: s
        description: Adds search condition. <a href="https://github.com/nestjsx/crud/wiki/Requests#search" target="_blank">Docs</a>
        required: false
        in: query
        schema:
          type: string
      - name: filter
        description: Adds filter condition. <a href="https://github.com/nestjsx/crud/wiki/Requests#filter" target="_blank">Docs</a>
        required: false
        in: query
        schema:
          type: array
          items:
            type: string
        style: form
        explode: true
      - name: or
        description: Adds OR condition. <a href="https://github.com/nestjsx/crud/wiki/Requests#or" target="_blank">Docs</a>
        required: false
        in: query
        schema:
          type: array
          items:
            type: string
        style: form
        explode: true
      - name: sort
        description: Adds sort by field. <a href="https://github.com/nestjsx/crud/wiki/Requests#sort" target="_blank">Docs</a>
        required: false
        in: query
        schema:
          type: array
          items:
            type: string
        style: form
        explode: true
      - name: join
        description: Adds relational resources. <a href="https://github.com/nestjsx/crud/wiki/Requests#join" target="_blank">Docs</a>
        required: false
        in: query
        schema:
          type: array
          items:
            type: string
        style: form
        explode: true
      - name: limit
        description: Limit amount of resources. <a href="https://github.com/nestjsx/crud/wiki/Requests#limit" target="_blank">Docs</a>
        required: false
        in: query
        schema:
          type: integer
      - name: offset
        description: Offset amount of resources. <a href="https://github.com/nestjsx/crud/wiki/Requests#offset" target="_blank">Docs</a>
        required: false
        in: query
        schema:
          type: integer
      - name: page
        description: Page portion of resources. <a href="https://github.com/nestjsx/crud/wiki/Requests#page" target="_blank">Docs</a>
        required: false
        in: query
        schema:
          type: integer
      - name: cache
        description: Reset cache (if was enabled). <a href="https://github.com/nestjsx/crud/wiki/Requests#cache" target="_blank">Docs</a>
        required: false
        in: query
        schema:
          type: integer
          minimum: 0
          maximum: 1
      responses:
        '200':
          description: ''
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CustomFormData'
      tags:
      - Custom Forms - Data
      security:
      - bearer: []
    post:
      operationId: createOneBaseCustomFormDataControllerCustomFormData
      summary: Create a single CustomFormData
      parameters: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CreateSingleCustomFormDataDto'
      responses:
        '201':
          description: ''
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CustomFormData'
      tags:
      - Custom Forms - Data
      security:
      - bearer: []
  /custom-forms/form-data/bulk:
    post:
      operationId: createManyBaseCustomFormDataControllerCustomFormData
      summary: Create multiple CustomFormData
      parameters: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CreateManyCustomFormDataDto'
      responses:
        '201':
          description: ''
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CustomFormData'
      tags:
      - Custom Forms - Data
      security:
      - bearer: []
components:
  schemas:
    CreateSingleCustomFormDataDto:
      type: object
      properties:
        tags:
          type: object
        objectId:
          type: string
          description: The ID of the object that this data belongs to, the type is dependent on the entityName
          example: a0e1f2c3-d4e5-6f7g-8h9i-j0k1l2m3n4o5
        entityName:
          $ref: '#/components/schemas/CustomFormDataEntitiesEnum'
        value:
          type: object
          description: The value of the field, stored as string, but it gets validated as the field type by the API
          example: John Doe
        formFieldId:
          type: string
          description: The ID of the form field that this data refers to
          example: a0e1f2c3-d4e5-6f7g-8h9i-j0k1l2m3n4o5
        triggerId:
          type: string
          description: The ID of the trigger that this data refers to
          example: a0e1f2c3-d4e5-6f7g-8h9i-j0k1l2m3n4o5
      required:
      - objectId
      - entityName
      - value
      - formFieldId
      - triggerId
    CustomFormDataEntitiesEnum:
      type: string
      description: The entity name of the object that this data belongs to
      enum:
      - appointment
      - assetvisit
      - assetcontainer
    CreateManyCustomFormDataDto:
      type: object
      properties:
        bulk:
          type: array
          items:
            $ref: '#/components/schemas/CustomFormData'
      required:
      - bulk
    CustomFieldType:
      type: string
      description: The type of the field used at the moment of the data submission, used to render the field in the UI and validate the data on the API level
      enum:
      - str
      - bigstr
      - date
      - bool
      - doc
      - multidoc
      - int
      - email
      - phone
      - dropdown
      - dropdownmultiselect
      - combobox
      - timestamp
      - action
    UpdateCustomFormDataDto:
      type: object
      properties:
        tags:
          type: object
        value:
          type: string
      required:
      - value
    CustomFormData:
      type: object
      properties:
        id:
          type: string
          description: The unique identifier of the record
          example: a0e1f2c3-d4e5-6f7g-8h9i-j0k1l2m3n4o5
          readOnly: true
        createDateTime:
          format: date-time
          type: string
          description: The date and time when the record was created
          example: '2023-10-01T12:00:00Z'
          readOnly: true
        createdBy:
          type: object
          description: The ID of the user who created the record
          example: a0e1f2c3-d4e5-6f7g-8h9i-j0k1l2m3n4o5
          readOnly: true
        lastChangedDateTime:
          format: date-time
          type: string
          description: The date and time when the record was last changed
          example: '2023-10-01T12:00:00Z'
          readOnly: true
        objectId:
          type: string
          description: The ID of the object that this data belongs to, the type is dependent on the entityName
          example: a0e1f2c3-d4e5-6f7g-8h9i-j0k1l2m3n4o5
        entityName:
          $ref: '#/components/schemas/CustomFormDataEntitiesEnum'
        label:
          type: string
          description: The label of the field used at the moment of the data submission
          example: First Name
        value:
          type: object
          description: The value of this field, entered by the user, store as string, but validated as the Field type
          example: John Doe
        type:
          $ref: '#/components/schemas/CustomFieldType'
        formFieldId:
          type: object
          description: The ID of the FormField that this data refers to
          example: a0e1f2c3-d4e5-6f7g-8h9i-j0k1l2m3n4o5
        triggerId:
          type: object
          description: The ID of the Trigger that this data refers to
          example: a0e1f2c3-d4e5-6f7g-8h9i-j0k1l2m3n4o5
        warehouseId:
          type: object
          description: The ID of the Warehouse that this data refers to
          example: a0e1f2c3-d4e5-6f7g-8h9i-j0k1l2m3n4o5
      required:
      - id
      - createDateTime
      - createdBy
      - lastChangedDateTime
      - objectId
      - entityName
      - label
      - value
      - type
      - formFieldId
      - triggerId
      - warehouseId
  securitySchemes:
    bearer:
      scheme: bearer
      bearerFormat: JWT
      type: http
