openapi: 3.2.0
info:
  title: Opendock Nova API Documentation Orgs API
  description: '## Welcome to Opendock Nova!'
  version: v4.144.0 - 39b4253
  contact: {}
servers:
- url: https://neutron.opendock.com
  description: Production Server
- url: https://neutron.staging.opendock.com
  description: Staging Server
tags:
- name: Orgs
paths:
  /org/{id}:
    get:
      operationId: getOneBaseOrgControllerOrg
      summary: Retrieve a single Org
      parameters:
      - name: id
        required: true
        in: path
        schema:
          type: string
      - name: fields
        description: Selects resource fields. <a href="https://github.com/nestjsx/crud/wiki/Requests#select" target="_blank">Docs</a>
        required: false
        in: query
        schema:
          type: array
          items:
            type: string
        style: form
        explode: false
      - name: join
        description: Adds relational resources. <a href="https://github.com/nestjsx/crud/wiki/Requests#join" target="_blank">Docs</a>
        required: false
        in: query
        schema:
          type: array
          items:
            type: string
        style: form
        explode: true
      - name: cache
        description: Reset cache (if was enabled). <a href="https://github.com/nestjsx/crud/wiki/Requests#cache" target="_blank">Docs</a>
        required: false
        in: query
        schema:
          type: integer
          minimum: 0
          maximum: 1
      responses:
        '200':
          description: ''
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Org'
      tags:
      - Orgs
      security:
      - bearer: []
    patch:
      operationId: updateOneBaseOrgControllerOrg
      summary: Update a single Org
      parameters:
      - name: id
        required: true
        in: path
        schema:
          type: string
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/UpdateOrgDto'
      responses:
        '200':
          description: Response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Org'
      tags:
      - Orgs
      security:
      - bearer: []
  /org/{orgId}/report-search:
    post:
      operationId: OrgController_createReportSearch
      parameters: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CreateReportSearchDto'
      responses:
        '201':
          description: ''
      tags:
      - Orgs
      security:
      - bearer: []
      summary: Org controller create report search
      x-summary-source: derived
    get:
      operationId: OrgController_getAllReportSearches
      parameters: []
      responses:
        '200':
          description: ''
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ReportSearchResponseDto'
      tags:
      - Orgs
      security:
      - bearer: []
      summary: Org controller get all report searches
      x-summary-source: derived
  /org/{orgId}/report-search/{reportSearchKey}:
    patch:
      operationId: OrgController_updateReportSearch
      parameters:
      - name: reportSearchKey
        required: true
        in: path
        schema:
          type: string
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/UpdateReportSearchDto'
      responses:
        '200':
          description: ''
      tags:
      - Orgs
      security:
      - bearer: []
      summary: Org controller update report search
      x-summary-source: derived
    delete:
      operationId: OrgController_deleteReportSearch
      parameters:
      - name: reportSearchKey
        required: true
        in: path
        schema:
          type: string
      responses:
        '200':
          description: ''
      tags:
      - Orgs
      security:
      - bearer: []
      summary: Org controller delete report search
      x-summary-source: derived
  /org/{orgId}/favorite-carriers:
    patch:
      operationId: OrgController_updateFavoriteCarriers
      parameters:
      - name: orgId
        required: true
        in: path
        schema:
          type: string
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: array
              items:
                type: string
      responses:
        '200':
          description: ''
      tags:
      - Orgs
      security:
      - bearer: []
      summary: Org controller update favorite carriers
      x-summary-source: derived
  /org/{id}/custom-tags:
    patch:
      operationId: OrgController_updateCustomTags
      parameters:
      - name: id
        required: true
        in: path
        schema:
          type: string
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/UpdateCustomTagsDto'
      responses:
        '200':
          description: ''
      tags:
      - Orgs
      security:
      - bearer: []
      summary: Org controller update custom tags
      x-summary-source: derived
components:
  schemas:
    UpdateReportSearchDto:
      type: object
      properties: {}
    CreateReportSearchDto:
      type: object
      properties: {}
    ClockSpan:
      type: object
      properties:
        end:
          type: string
          example: '18:00'
        start:
          type: string
          example: 06:00
      required:
      - end
      - start
    UpdateOrgDto:
      type: object
      properties:
        tags:
          type: object
        name:
          type: string
        settings:
          type: object
        favoriteCarrierIds:
          type: array
          items:
            type: string
    ScheduleDto:
      type: object
      properties:
        sunday:
          type: array
          items:
            $ref: '#/components/schemas/ClockSpan'
        monday:
          type: array
          items:
            $ref: '#/components/schemas/ClockSpan'
        tuesday:
          type: array
          items:
            $ref: '#/components/schemas/ClockSpan'
        wednesday:
          type: array
          items:
            $ref: '#/components/schemas/ClockSpan'
        thursday:
          type: array
          items:
            $ref: '#/components/schemas/ClockSpan'
        friday:
          type: array
          items:
            $ref: '#/components/schemas/ClockSpan'
        saturday:
          type: array
          items:
            $ref: '#/components/schemas/ClockSpan'
        version:
          type: number
          example: 1
        closedIntervals:
          type: array
          items:
            $ref: '#/components/schemas/TimeInterval'
      required:
      - sunday
      - monday
      - tuesday
      - wednesday
      - thursday
      - friday
      - saturday
      - version
      - closedIntervals
    Warehouse:
      type: object
      properties:
        id:
          type: string
          description: The unique identifier of the record
          example: a0e1f2c3-d4e5-6f7g-8h9i-j0k1l2m3n4o5
          readOnly: true
        createDateTime:
          format: date-time
          type: string
          description: The date and time when the record was created
          example: '2023-10-01T12:00:00Z'
          readOnly: true
        createdBy:
          type: object
          description: The ID of the user who created the record
          example: a0e1f2c3-d4e5-6f7g-8h9i-j0k1l2m3n4o5
          readOnly: true
        lastChangedDateTime:
          format: date-time
          type: string
          description: The date and time when the record was last changed
          example: '2023-10-01T12:00:00Z'
          readOnly: true
        schedule:
          $ref: '#/components/schemas/ScheduleDto'
        country:
          type: string
        timezone:
          type: string
        docks:
          type: Dock
        loadTypes:
          type: LoadType
        org:
          type: Warehouse
        orgId:
          type: string
        contactName:
          type: string
        phone:
          type: string
        email:
          type: string
        notes:
          type: string
        instructions:
          type: string
        customApptFieldsTemplate:
          type: array
          items:
            $ref: '#/components/schemas/CustomFieldTemplateDto'
        refNumberValidationVersion:
          type: string
          enum:
          - V1
          - V2
        refNumberValidationUrl:
          type: string
        refNumberValidationPasscode:
          type: string
        settings:
          type: object
        allowCarrierScheduling:
          type: boolean
        geolocation:
          type: object
        ccEmails:
          type: array
          items:
            type: string
        amenities:
          type: array
          example:
          - Lumper services
          - Drivers restroom
          - Overnight parking
          - Free Wi-Fi
          items:
            type: string
            enum:
            - Lumper services
            - Drivers restroom
            - Overnight parking
            - Free Wi-Fi
        ppeRequirements:
          type: array
          example:
          - Face Mask
          - Safety Glasses
          - Hard Hat
          - Safety Boots
          - Gloves
          - High Visibility Vest
          - Long Pants
          - Long Sleeves
          - No Smoking
          - Hair and Beard Net
          items:
            type: string
            enum:
            - Face Mask
            - Safety Glasses
            - Hard Hat
            - Safety Boots
            - Gloves
            - High Visibility Vest
            - Long Pants
            - Long Sleeves
            - No Smoking
            - Hair and Beard Net
        intervalTrimForCarriers:
          type: number
        customBookingUrl:
          type: string
      required:
      - id
      - createDateTime
      - createdBy
      - lastChangedDateTime
      - schedule
      - amenities
      - ppeRequirements
    Org:
      type: object
      properties:
        id:
          type: string
          description: The unique identifier of the record
          example: a0e1f2c3-d4e5-6f7g-8h9i-j0k1l2m3n4o5
          readOnly: true
        createDateTime:
          format: date-time
          type: string
          description: The date and time when the record was created
          example: '2023-10-01T12:00:00Z'
          readOnly: true
        createdBy:
          type: object
          description: The ID of the user who created the record
          example: a0e1f2c3-d4e5-6f7g-8h9i-j0k1l2m3n4o5
          readOnly: true
        lastChangedDateTime:
          format: date-time
          type: string
          description: The date and time when the record was last changed
          example: '2023-10-01T12:00:00Z'
          readOnly: true
        warehouses:
          type: array
          items:
            $ref: '#/components/schemas/Warehouse'
        reportSearches:
          type: object
        customTags:
          type: array
          items:
            type: string
        samlConfig:
          type: object
        orgType:
          type: string
          enum:
          - Trial
          - Test
          - Client
        expiresAt:
          format: date-time
          type: string
      required:
      - id
      - createDateTime
      - createdBy
      - lastChangedDateTime
    CustomFieldTemplateDto:
      type: object
      properties:
        semanticLabelId:
          type: object
          format: uuid
          description: Semantic label id (FK to semanticlabel)
        type:
          type: string
          enum:
          - str
          - bigstr
          - date
          - bool
          - doc
          - multidoc
          - int
          - email
          - phone
          - dropdown
          - dropdownmultiselect
          - combobox
          - timestamp
          - action
      required:
      - type
    ReportSearchResponseDto:
      type: object
      properties: {}
    TimeInterval:
      type: object
      properties:
        end:
          format: date-time
          type: string
        start:
          format: date-time
          type: string
      required:
      - end
      - start
    UpdateCustomTagsDto:
      type: object
      properties: {}
  securitySchemes:
    bearer:
      scheme: bearer
      bearerFormat: JWT
      type: http
