openapi: 3.2.0
info:
  title: Opendock Nova API Documentation Custom Forms - Flows API
  description: '## Welcome to Opendock Nova!'
  version: v4.144.0 - 39b4253
  contact: {}
servers:
- url: https://neutron.opendock.com
  description: Production Server
- url: https://neutron.staging.opendock.com
  description: Staging Server
tags:
- name: Custom Forms - Flows
  description: Flows define the sequence and logic of form presentation. Each Flow must have a primary "fromForm" and may optionally include a secondary "formTo" that appears after the first form is completed. Flows connect Triggers to the actual Forms that collect data.
paths:
  /custom-forms/flow:
    post:
      operationId: createOneBaseFlowControllerFlow
      summary: Create a single Flow
      parameters: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CreateFlowDto'
      responses:
        '201':
          description: ''
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Flow'
      tags:
      - Custom Forms - Flows
      security:
      - bearer: []
    get:
      operationId: getManyBaseFlowControllerFlow
      summary: Retrieve multiple Flows
      parameters:
      - name: fields
        description: Selects resource fields. <a href="https://github.com/nestjsx/crud/wiki/Requests#select" target="_blank">Docs</a>
        required: false
        in: query
        schema:
          type: array
          items:
            type: string
        style: form
        explode: false
      - name: s
        description: Adds search condition. <a href="https://github.com/nestjsx/crud/wiki/Requests#search" target="_blank">Docs</a>
        required: false
        in: query
        schema:
          type: string
      - name: filter
        description: Adds filter condition. <a href="https://github.com/nestjsx/crud/wiki/Requests#filter" target="_blank">Docs</a>
        required: false
        in: query
        schema:
          type: array
          items:
            type: string
        style: form
        explode: true
      - name: or
        description: Adds OR condition. <a href="https://github.com/nestjsx/crud/wiki/Requests#or" target="_blank">Docs</a>
        required: false
        in: query
        schema:
          type: array
          items:
            type: string
        style: form
        explode: true
      - name: sort
        description: Adds sort by field. <a href="https://github.com/nestjsx/crud/wiki/Requests#sort" target="_blank">Docs</a>
        required: false
        in: query
        schema:
          type: array
          items:
            type: string
        style: form
        explode: true
      - name: join
        description: Adds relational resources. <a href="https://github.com/nestjsx/crud/wiki/Requests#join" target="_blank">Docs</a>
        required: false
        in: query
        schema:
          type: array
          items:
            type: string
        style: form
        explode: true
      - name: limit
        description: Limit amount of resources. <a href="https://github.com/nestjsx/crud/wiki/Requests#limit" target="_blank">Docs</a>
        required: false
        in: query
        schema:
          type: integer
      - name: offset
        description: Offset amount of resources. <a href="https://github.com/nestjsx/crud/wiki/Requests#offset" target="_blank">Docs</a>
        required: false
        in: query
        schema:
          type: integer
      - name: page
        description: Page portion of resources. <a href="https://github.com/nestjsx/crud/wiki/Requests#page" target="_blank">Docs</a>
        required: false
        in: query
        schema:
          type: integer
      - name: cache
        description: Reset cache (if was enabled). <a href="https://github.com/nestjsx/crud/wiki/Requests#cache" target="_blank">Docs</a>
        required: false
        in: query
        schema:
          type: integer
          minimum: 0
          maximum: 1
      responses:
        '200':
          description: Get paginated response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GetManyFlowResponseDto'
      tags:
      - Custom Forms - Flows
      security:
      - bearer: []
  /custom-forms/flow/{id}:
    patch:
      operationId: updateOneBaseFlowControllerFlow
      summary: Update a single Flow
      parameters:
      - name: id
        required: true
        in: path
        schema:
          type: string
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/UpdateFlowDto'
      responses:
        '200':
          description: ''
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Flow'
      tags:
      - Custom Forms - Flows
      security:
      - bearer: []
    get:
      operationId: getOneBaseFlowControllerFlow
      summary: Retrieve a single Flow
      parameters:
      - name: id
        required: true
        in: path
        schema:
          type: string
      - name: fields
        description: Selects resource fields. <a href="https://github.com/nestjsx/crud/wiki/Requests#select" target="_blank">Docs</a>
        required: false
        in: query
        schema:
          type: array
          items:
            type: string
        style: form
        explode: false
      - name: join
        description: Adds relational resources. <a href="https://github.com/nestjsx/crud/wiki/Requests#join" target="_blank">Docs</a>
        required: false
        in: query
        schema:
          type: array
          items:
            type: string
        style: form
        explode: true
      - name: cache
        description: Reset cache (if was enabled). <a href="https://github.com/nestjsx/crud/wiki/Requests#cache" target="_blank">Docs</a>
        required: false
        in: query
        schema:
          type: integer
          minimum: 0
          maximum: 1
      responses:
        '200':
          description: Get one base response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Flow'
      tags:
      - Custom Forms - Flows
      security:
      - bearer: []
    delete:
      operationId: deleteOneBaseFlowControllerFlow
      summary: Delete a single Flow
      parameters:
      - name: id
        required: true
        in: path
        schema:
          type: string
      responses:
        '200':
          description: Delete one base response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Flow'
      tags:
      - Custom Forms - Flows
      security:
      - bearer: []
components:
  schemas:
    UpdateFlowDto:
      type: object
      properties:
        tags:
          type: object
        name:
          type: string
        description:
          type: string
        formFromId:
          type: string
    TriggerOperatorsEnum:
      type: string
      description: The operator that will be used to compare the value of the field to determine whether to show the second form "FormTo" or not
      enum:
      - '>'
      - <
      - '>='
      - <=
      - '='
      - <>
    Flow:
      type: object
      properties:
        id:
          type: string
          description: The unique identifier of the record
          example: a0e1f2c3-d4e5-6f7g-8h9i-j0k1l2m3n4o5
          readOnly: true
        createDateTime:
          format: date-time
          type: string
          description: The date and time when the record was created
          example: '2023-10-01T12:00:00Z'
          readOnly: true
        createdBy:
          type: object
          description: The ID of the user who created the record
          example: a0e1f2c3-d4e5-6f7g-8h9i-j0k1l2m3n4o5
          readOnly: true
        lastChangedDateTime:
          format: date-time
          type: string
          description: The date and time when the record was last changed
          example: '2023-10-01T12:00:00Z'
          readOnly: true
        parentCode:
          type: string
          description: The parent code of the flow, used to group flows together, generated by the API
          example: acfb1234-5678-90ab-cdef-1234567890ab
        entityTags:
          description: The tags that will be applied to the corresponding entity that triggered this flow, added to the tags field for the entity stated at dataEntityName field of the trigger table
          example:
          - tag1
          - tag2
          type: array
          items:
            type: string
        tagFromFormFieldId:
          type: string
          description: When set, the value of the submitted form field will be added as a tag, same as the entityTags field, but this will be the value of the field, not the tag itself
          example: a0e1f2c3-d4e5-6f7g-8h9i-j0k1l2m3n4o5
        formFromId:
          type: string
          description: The ID of the first form of this flow, used to load the form
          example: a0e1f2c3-d4e5-6f7g-8h9i-j0k1l2m3n4o5
        formToId:
          type: string
          description: The ID of the second form of this flow, used to load the form sequence, it is optional
          example: a0e1f2c3-d4e5-6f7g-8h9i-j0k1l2m3n4o5
        conditionOperator:
          $ref: '#/components/schemas/TriggerOperatorsEnum'
        conditionValue:
          type: string
          description: The value that will be used to compare the value of the field to determine whether to show the second form "FormTo" or not
          example: value
        conditionFormFieldId:
          type: string
          description: The field that will be used to compare the value of the field to determine whether to show the second form "FormTo" or not
          example: a0e1f2c3-d4e5-6f7g-8h9i-j0k1l2m3n4o5
      required:
      - id
      - createDateTime
      - createdBy
      - lastChangedDateTime
      - formFromId
    CreateFlowDto:
      type: object
      properties:
        tags:
          type: object
        name:
          type: string
        description:
          type: string
        formFromId:
          type: string
        warehouseId:
          type: string
      required:
      - name
      - description
      - formFromId
      - warehouseId
    GetManyFlowResponseDto:
      type: object
      properties:
        data:
          type: array
          items:
            $ref: '#/components/schemas/Flow'
        count:
          type: number
        total:
          type: number
        page:
          type: number
        pageCount:
          type: number
      required:
      - data
      - count
      - total
      - page
      - pageCount
  securitySchemes:
    bearer:
      scheme: bearer
      bearerFormat: JWT
      type: http
