openapi: 3.2.0
info:
  title: Opendock Nova API Documentation Load Types API
  description: '## Welcome to Opendock Nova!'
  version: v4.144.0 - 39b4253
  contact: {}
servers:
- url: https://neutron.opendock.com
  description: Production Server
- url: https://neutron.staging.opendock.com
  description: Staging Server
tags:
- name: Load Types
paths:
  /loadtype:
    post:
      operationId: createOneBaseLoadTypeControllerLoadType
      summary: Create a single LoadType
      parameters: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CreateLoadTypeDto'
      responses:
        '201':
          description: Get create one base response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/LoadType'
      tags:
      - Load Types
      security:
      - bearer: []
    get:
      operationId: getManyBaseLoadTypeControllerLoadType
      summary: Retrieve multiple LoadTypes
      parameters:
      - name: warehouseId
        required: false
        in: query
        description: When set, returns Loadtypes that can be used at this Warehouse.
        schema:
          type: string
      - name: includeOrgLoadTypes
        required: false
        in: query
        schema: {}
      - name: showOnlyAssignedLoadTypes
        required: false
        in: query
        schema: {}
      - name: includeHierarchySettings
        required: false
        in: query
        schema: {}
      - name: fields
        description: Selects resource fields. <a href="https://github.com/nestjsx/crud/wiki/Requests#select" target="_blank">Docs</a>
        required: false
        in: query
        schema:
          type: array
          items:
            type: string
        style: form
        explode: false
      - name: s
        description: Adds search condition. <a href="https://github.com/nestjsx/crud/wiki/Requests#search" target="_blank">Docs</a>
        required: false
        in: query
        schema:
          type: string
      - name: filter
        description: Adds filter condition. <a href="https://github.com/nestjsx/crud/wiki/Requests#filter" target="_blank">Docs</a>
        required: false
        in: query
        schema:
          type: array
          items:
            type: string
        style: form
        explode: true
      - name: or
        description: Adds OR condition. <a href="https://github.com/nestjsx/crud/wiki/Requests#or" target="_blank">Docs</a>
        required: false
        in: query
        schema:
          type: array
          items:
            type: string
        style: form
        explode: true
      - name: sort
        description: Adds sort by field. <a href="https://github.com/nestjsx/crud/wiki/Requests#sort" target="_blank">Docs</a>
        required: false
        in: query
        schema:
          type: array
          items:
            type: string
        style: form
        explode: true
      - name: join
        description: Adds relational resources. <a href="https://github.com/nestjsx/crud/wiki/Requests#join" target="_blank">Docs</a>
        required: false
        in: query
        schema:
          type: array
          items:
            type: string
        style: form
        explode: true
      - name: limit
        description: Limit amount of resources. <a href="https://github.com/nestjsx/crud/wiki/Requests#limit" target="_blank">Docs</a>
        required: false
        in: query
        schema:
          type: integer
      - name: offset
        description: Offset amount of resources. <a href="https://github.com/nestjsx/crud/wiki/Requests#offset" target="_blank">Docs</a>
        required: false
        in: query
        schema:
          type: integer
      - name: page
        description: Page portion of resources. <a href="https://github.com/nestjsx/crud/wiki/Requests#page" target="_blank">Docs</a>
        required: false
        in: query
        schema:
          type: integer
      - name: cache
        description: Reset cache (if was enabled). <a href="https://github.com/nestjsx/crud/wiki/Requests#cache" target="_blank">Docs</a>
        required: false
        in: query
        schema:
          type: integer
          minimum: 0
          maximum: 1
      responses:
        '200':
          description: ''
          content:
            application/json:
              schema:
                allOf:
                - $ref: '#/components/schemas/PaginatedDto'
                - properties:
                    entity:
                      type: string
                      example: LoadType
                    data:
                      type: array
                      items:
                        $ref: '#/components/schemas/LoadType'
      tags:
      - Load Types
      security:
      - bearer: []
  /loadtype/{id}:
    delete:
      operationId: deleteOneBaseLoadTypeControllerLoadType
      summary: Delete a single LoadType
      parameters:
      - name: id
        required: true
        in: path
        schema:
          type: string
      responses:
        '200':
          description: Delete one base response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/LoadType'
      tags:
      - Load Types
      security:
      - bearer: []
    get:
      operationId: getOneBaseLoadTypeControllerLoadType
      summary: Retrieve a single LoadType
      parameters:
      - name: id
        required: true
        in: path
        schema:
          type: string
      - name: fields
        description: Selects resource fields. <a href="https://github.com/nestjsx/crud/wiki/Requests#select" target="_blank">Docs</a>
        required: false
        in: query
        schema:
          type: array
          items:
            type: string
        style: form
        explode: false
      - name: join
        description: Adds relational resources. <a href="https://github.com/nestjsx/crud/wiki/Requests#join" target="_blank">Docs</a>
        required: false
        in: query
        schema:
          type: array
          items:
            type: string
        style: form
        explode: true
      - name: cache
        description: Reset cache (if was enabled). <a href="https://github.com/nestjsx/crud/wiki/Requests#cache" target="_blank">Docs</a>
        required: false
        in: query
        schema:
          type: integer
          minimum: 0
          maximum: 1
      responses:
        '200':
          description: ''
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/LoadType'
      tags:
      - Load Types
      security:
      - bearer: []
    patch:
      operationId: updateOneBaseLoadTypeControllerLoadType
      summary: Update a single LoadType
      parameters:
      - name: id
        required: true
        in: path
        schema:
          type: string
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/UpdateLoadTypeDto'
      responses:
        '200':
          description: Response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/LoadType'
      tags:
      - Load Types
      security:
      - bearer: []
  /loadtype/{id}/get-availability:
    post:
      operationId: LoadTypeController_availability
      parameters:
      - name: id
        required: true
        in: path
        schema:
          type: string
      - name: forceAsCarrier
        required: false
        in: query
        description: When passing this argument as true, the availability will consider the availability for a carrier user, default = false
        schema:
          example: 'true'
          type: boolean
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/AvailabilityFromLoadTypeDto'
      responses:
        '200':
          description: ''
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/AvailabilityResponseDto'
      tags:
      - Load Types
      security:
      - bearer: []
      summary: Load type controller availability
      x-summary-source: derived
  /loadtype/{id}/appointment-count:
    get:
      operationId: LoadTypeController_getAppointmentCount
      summary: Returns the appointment count grouped by warehouse
      parameters:
      - name: id
        required: true
        in: path
        schema:
          type: string
      responses:
        '200':
          description: ''
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/AppointmentCountResponseDto'
      tags:
      - Load Types
      security:
      - bearer: []
components:
  schemas:
    ClockSpan:
      type: object
      properties:
        end:
          type: string
          example: '18:00'
        start:
          type: string
          example: 06:00
      required:
      - end
      - start
    ScheduleDto:
      type: object
      properties:
        sunday:
          type: array
          items:
            $ref: '#/components/schemas/ClockSpan'
        monday:
          type: array
          items:
            $ref: '#/components/schemas/ClockSpan'
        tuesday:
          type: array
          items:
            $ref: '#/components/schemas/ClockSpan'
        wednesday:
          type: array
          items:
            $ref: '#/components/schemas/ClockSpan'
        thursday:
          type: array
          items:
            $ref: '#/components/schemas/ClockSpan'
        friday:
          type: array
          items:
            $ref: '#/components/schemas/ClockSpan'
        saturday:
          type: array
          items:
            $ref: '#/components/schemas/ClockSpan'
        version:
          type: number
          example: 1
        closedIntervals:
          type: array
          items:
            $ref: '#/components/schemas/TimeInterval'
      required:
      - sunday
      - monday
      - tuesday
      - wednesday
      - thursday
      - friday
      - saturday
      - version
      - closedIntervals
    UpdateLoadTypeDto:
      type: object
      properties:
        tags:
          type: object
        orgId:
          type: string
        warehouseId:
          type: string
        direction:
          type: string
          enum:
          - Inbound
          - Outbound
          - Inbound/Outbound
        operation:
          type: string
          enum:
          - Live
          - Drop
          - Other
        equipmentType:
          type: string
          enum:
          - Dry Van
          - Flatbed
          - Reefer
          - Other
        transportationMode:
          type: string
          enum:
          - FTL
          - PTL
          - Other
        allowCarrierScheduling:
          type: boolean
        description:
          type: object
        settings:
          type: object
        schedule:
          $ref: '#/components/schemas/ScheduleDto'
        name:
          type: string
        duration_min:
          type: number
    AppointmentCountResponseDto:
      type: object
      properties: {}
    TimeInterval:
      type: object
      properties:
        end:
          format: date-time
          type: string
        start:
          format: date-time
          type: string
      required:
      - end
      - start
    PaginatedDto:
      type: object
      properties:
        count:
          type: number
          example: 2
        total:
          type: number
          example: 2
        page:
          type: number
          example: 1
        pageCount:
          type: number
          example: 1
        action:
          type: string
          example: read
        entity:
          type: string
          example: Appointment
        data:
          type: array
          items:
            type: string
      required:
      - count
      - total
      - page
      - pageCount
      - action
      - entity
      - data
    LoadType:
      type: object
      properties:
        id:
          type: string
          description: The unique identifier of the record
          example: a0e1f2c3-d4e5-6f7g-8h9i-j0k1l2m3n4o5
          readOnly: true
        createDateTime:
          format: date-time
          type: string
          description: The date and time when the record was created
          example: '2023-10-01T12:00:00Z'
          readOnly: true
        createdBy:
          type: object
          description: The ID of the user who created the record
          example: a0e1f2c3-d4e5-6f7g-8h9i-j0k1l2m3n4o5
          readOnly: true
        lastChangedDateTime:
          format: date-time
          type: string
          description: The date and time when the record was last changed
          example: '2023-10-01T12:00:00Z'
          readOnly: true
        org:
          $ref: '#/components/schemas/LoadType'
        orgId:
          type: string
        direction:
          type: string
          enum:
          - Inbound
          - Outbound
          - Inbound/Outbound
        operation:
          type: string
          enum:
          - Live
          - Drop
          - Other
        equipmentType:
          type: string
          enum:
          - Dry Van
          - Flatbed
          - Reefer
          - Other
        transportationMode:
          type: string
          enum:
          - FTL
          - PTL
          - Other
        allowCarrierScheduling:
          type: boolean
        description:
          type: string
        settings:
          type: object
        schedule:
          $ref: '#/components/schemas/ScheduleDto'
      required:
      - id
      - createDateTime
      - createdBy
      - lastChangedDateTime
    AvailabilityResponseDto:
      type: object
      properties: {}
    CreateLoadTypeDto:
      type: object
      properties:
        tags:
          type: object
        orgId:
          type: string
        warehouseId:
          type: string
        direction:
          type: string
          enum:
          - Inbound
          - Outbound
          - Inbound/Outbound
        operation:
          type: string
          enum:
          - Live
          - Drop
          - Other
        equipmentType:
          type: string
          enum:
          - Dry Van
          - Flatbed
          - Reefer
          - Other
        transportationMode:
          type: string
          enum:
          - FTL
          - PTL
          - Other
        allowCarrierScheduling:
          type: boolean
        description:
          type: object
        settings:
          type: object
        schedule:
          $ref: '#/components/schemas/ScheduleDto'
      required:
      - direction
    AvailabilityFromLoadTypeDto:
      type: object
      properties:
        start:
          format: date-time
          type: string
          example: '2026-05-24T19:16:46.221Z'
        end:
          format: date-time
          type: string
          example: '2026-05-24T19:16:46.221Z'
      required:
      - start
      - end
  securitySchemes:
    bearer:
      scheme: bearer
      bearerFormat: JWT
      type: http
