openapi: 3.2.0
info:
  title: Opendock Nova API Documentation SAML API
  description: '## Welcome to Opendock Nova!'
  version: v4.144.0 - 39b4253
  contact: {}
servers:
- url: https://neutron.opendock.com
  description: Production Server
- url: https://neutron.staging.opendock.com
  description: Staging Server
tags:
- name: SAML
paths:
  /saml/config:
    get:
      operationId: SamlController_getConfig
      parameters: []
      responses:
        '200':
          description: ''
      tags:
      - SAML
      security:
      - bearer: []
      summary: Saml controller get config
      x-summary-source: derived
    patch:
      operationId: SamlController_updateConfig
      parameters: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/UpdateSamlConfigDto'
      responses:
        '200':
          description: ''
      tags:
      - SAML
      security:
      - bearer: []
      summary: Saml controller update config
      x-summary-source: derived
    delete:
      operationId: SamlController_resetConfig
      parameters: []
      responses:
        '200':
          description: ''
      tags:
      - SAML
      security:
      - bearer: []
      summary: Saml controller reset config
      x-summary-source: derived
  /saml/metadata-url:
    get:
      operationId: SamlController_getSpMetadataUrl
      parameters: []
      responses:
        '200':
          description: ''
      tags:
      - SAML
      security:
      - bearer: []
      summary: Saml controller get sp metadata url
      x-summary-source: derived
  /saml/ac/{orgId}:
    post:
      operationId: SamlController_samlAssertionConsumer
      parameters: []
      responses:
        '201':
          description: ''
      tags:
      - SAML
      summary: Saml controller saml assertion consumer
      x-summary-source: derived
  /saml/login/{orgId}:
    get:
      operationId: SamlController_samlLogin
      parameters: []
      responses:
        '200':
          description: ''
      tags:
      - SAML
      summary: Saml controller saml login
      x-summary-source: derived
  /saml/metadata/{orgId}:
    get:
      operationId: SamlController_getSpMetadata
      parameters: []
      responses:
        '200':
          description: ''
      tags:
      - SAML
      summary: Saml controller get sp metadata
      x-summary-source: derived
components:
  schemas:
    UpdateSamlConfigDto:
      type: object
      properties: {}
  securitySchemes:
    bearer:
      scheme: bearer
      bearerFormat: JWT
      type: http
