openapi: 3.2.0
info:
  title: Opendock Nova API Documentation Users API
  description: '## Welcome to Opendock Nova!'
  version: v4.144.0 - 39b4253
  contact: {}
servers:
- url: https://neutron.opendock.com
  description: Production Server
- url: https://neutron.staging.opendock.com
  description: Staging Server
tags:
- name: Users
paths:
  /user/invite:
    post:
      operationId: UserController_invite
      parameters: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/InviteDto'
      responses:
        '200':
          description: ''
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/User'
      tags:
      - Users
      security:
      - bearer: []
      summary: User controller invite
      x-summary-source: derived
  /user/{id}:
    get:
      operationId: getOneBaseUserControllerUser
      summary: Retrieve a single User
      parameters:
      - name: id
        required: true
        in: path
        schema:
          type: string
      - name: fields
        description: Selects resource fields. <a href="https://github.com/nestjsx/crud/wiki/Requests#select" target="_blank">Docs</a>
        required: false
        in: query
        schema:
          type: array
          items:
            type: string
        style: form
        explode: false
      - name: join
        description: Adds relational resources. <a href="https://github.com/nestjsx/crud/wiki/Requests#join" target="_blank">Docs</a>
        required: false
        in: query
        schema:
          type: array
          items:
            type: string
        style: form
        explode: true
      - name: cache
        description: Reset cache (if was enabled). <a href="https://github.com/nestjsx/crud/wiki/Requests#cache" target="_blank">Docs</a>
        required: false
        in: query
        schema:
          type: integer
          minimum: 0
          maximum: 1
      responses:
        '200':
          description: ''
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/User'
      tags:
      - Users
      security:
      - bearer: []
    delete:
      operationId: deleteOneBaseUserControllerUser
      summary: Delete a single User
      parameters:
      - name: id
        required: true
        in: path
        schema:
          type: string
      responses:
        '200':
          description: ''
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/User'
      tags:
      - Users
      security:
      - bearer: []
    patch:
      operationId: updateOneBaseUserControllerUser
      summary: Update a single User
      parameters:
      - name: id
        required: true
        in: path
        schema:
          type: string
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/UpdateUserDto'
      responses:
        '200':
          description: ''
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/User'
      tags:
      - Users
      security:
      - bearer: []
  /user:
    get:
      operationId: getManyBaseUserControllerUser
      summary: Retrieve multiple Users
      parameters:
      - name: fields
        description: Selects resource fields. <a href="https://github.com/nestjsx/crud/wiki/Requests#select" target="_blank">Docs</a>
        required: false
        in: query
        schema:
          type: array
          items:
            type: string
        style: form
        explode: false
      - name: s
        description: Adds search condition. <a href="https://github.com/nestjsx/crud/wiki/Requests#search" target="_blank">Docs</a>
        required: false
        in: query
        schema:
          type: string
      - name: filter
        description: Adds filter condition. <a href="https://github.com/nestjsx/crud/wiki/Requests#filter" target="_blank">Docs</a>
        required: false
        in: query
        schema:
          type: array
          items:
            type: string
        style: form
        explode: true
      - name: or
        description: Adds OR condition. <a href="https://github.com/nestjsx/crud/wiki/Requests#or" target="_blank">Docs</a>
        required: false
        in: query
        schema:
          type: array
          items:
            type: string
        style: form
        explode: true
      - name: sort
        description: Adds sort by field. <a href="https://github.com/nestjsx/crud/wiki/Requests#sort" target="_blank">Docs</a>
        required: false
        in: query
        schema:
          type: array
          items:
            type: string
        style: form
        explode: true
      - name: join
        description: Adds relational resources. <a href="https://github.com/nestjsx/crud/wiki/Requests#join" target="_blank">Docs</a>
        required: false
        in: query
        schema:
          type: array
          items:
            type: string
        style: form
        explode: true
      - name: limit
        description: Limit amount of resources. <a href="https://github.com/nestjsx/crud/wiki/Requests#limit" target="_blank">Docs</a>
        required: false
        in: query
        schema:
          type: integer
      - name: offset
        description: Offset amount of resources. <a href="https://github.com/nestjsx/crud/wiki/Requests#offset" target="_blank">Docs</a>
        required: false
        in: query
        schema:
          type: integer
      - name: page
        description: Page portion of resources. <a href="https://github.com/nestjsx/crud/wiki/Requests#page" target="_blank">Docs</a>
        required: false
        in: query
        schema:
          type: integer
      - name: cache
        description: Reset cache (if was enabled). <a href="https://github.com/nestjsx/crud/wiki/Requests#cache" target="_blank">Docs</a>
        required: false
        in: query
        schema:
          type: integer
          minimum: 0
          maximum: 1
      responses:
        '200':
          description: ''
          content:
            application/json:
              schema:
                allOf:
                - $ref: '#/components/schemas/PaginatedDto'
                - properties:
                    entity:
                      type: string
                      example: User
                    data:
                      type: array
                      items:
                        $ref: '#/components/schemas/User'
      tags:
      - Users
      security:
      - bearer: []
  /user/email-available/{email}:
    get:
      operationId: UserController_isEmailAvailable
      parameters:
      - name: email
        required: true
        in: path
        schema:
          type: string
      responses:
        '200':
          description: ''
          content:
            application/json:
              schema:
                type: boolean
      tags:
      - Users
      security:
      - bearer: []
      summary: User controller is email available
      x-summary-source: derived
  /user/change-password:
    post:
      operationId: UserController_changePassword
      parameters: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ChangePasswordDto'
      responses:
        '200':
          description: ''
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/User'
      tags:
      - Users
      security:
      - bearer: []
      summary: User controller change password
      x-summary-source: derived
  /user/accept-tc:
    post:
      operationId: UserController_acceptTC
      parameters: []
      responses:
        '200':
          description: ''
      tags:
      - Users
      security:
      - bearer: []
      summary: User controller accept TC
      x-summary-source: derived
components:
  schemas:
    ClockSpan:
      type: object
      properties:
        end:
          type: string
          example: '18:00'
        start:
          type: string
          example: 06:00
      required:
      - end
      - start
    User:
      type: object
      properties:
        id:
          type: string
          description: The unique identifier of the record
          example: a0e1f2c3-d4e5-6f7g-8h9i-j0k1l2m3n4o5
          readOnly: true
        createDateTime:
          format: date-time
          type: string
          description: The date and time when the record was created
          example: '2023-10-01T12:00:00Z'
          readOnly: true
        createdBy:
          type: object
          description: The ID of the user who created the record
          example: a0e1f2c3-d4e5-6f7g-8h9i-j0k1l2m3n4o5
          readOnly: true
        lastChangedDateTime:
          format: date-time
          type: string
          description: The date and time when the record was last changed
          example: '2023-10-01T12:00:00Z'
          readOnly: true
        role:
          type: string
          enum:
          - role_owner
          - role_admin
          - role_operator
          - role_attendant
          - role_spectator
          - role_yard_driver
          - role_carrier_admin
          - role_carrier
          - role_base
        appointments:
          type: array
          items:
            $ref: '#/components/schemas/Appointment'
        company:
          type: Company
        orgCarrierSettings:
          type: array
          items:
            type: OrgCarrierSettings
        org:
          type: Org
        warehouseAccessList:
          type: UUID
        tcConfirmedAt:
          format: date-time
          type: string
      required:
      - id
      - createDateTime
      - createdBy
      - lastChangedDateTime
    UpdateUserDto:
      type: object
      properties:
        tags:
          type: object
        email:
          type: string
        firstName:
          type: string
        lastName:
          type: string
        phone:
          type: string
        role:
          type: string
          enum:
          - role_owner
          - role_admin
          - role_operator
          - role_attendant
          - role_spectator
          - role_yard_driver
          - role_carrier_admin
          - role_carrier
          - role_base
        orgCarrierSettings:
          type: array
          items:
            $ref: '#/components/schemas/OrgCarrierSettings'
        orgId:
          type: string
        warehouseAccessList:
          type: UUID
    Warehouse:
      type: object
      properties:
        id:
          type: string
          description: The unique identifier of the record
          example: a0e1f2c3-d4e5-6f7g-8h9i-j0k1l2m3n4o5
          readOnly: true
        createDateTime:
          format: date-time
          type: string
          description: The date and time when the record was created
          example: '2023-10-01T12:00:00Z'
          readOnly: true
        createdBy:
          type: object
          description: The ID of the user who created the record
          example: a0e1f2c3-d4e5-6f7g-8h9i-j0k1l2m3n4o5
          readOnly: true
        lastChangedDateTime:
          format: date-time
          type: string
          description: The date and time when the record was last changed
          example: '2023-10-01T12:00:00Z'
          readOnly: true
        schedule:
          $ref: '#/components/schemas/ScheduleDto'
        country:
          type: string
        timezone:
          type: string
        docks:
          type: Dock
        loadTypes:
          type: LoadType
        org:
          type: Warehouse
        orgId:
          type: string
        contactName:
          type: string
        phone:
          type: string
        email:
          type: string
        notes:
          type: string
        instructions:
          type: string
        customApptFieldsTemplate:
          type: array
          items:
            $ref: '#/components/schemas/CustomFieldTemplateDto'
        refNumberValidationVersion:
          type: string
          enum:
          - V1
          - V2
        refNumberValidationUrl:
          type: string
        refNumberValidationPasscode:
          type: string
        settings:
          type: object
        allowCarrierScheduling:
          type: boolean
        geolocation:
          type: object
        ccEmails:
          type: array
          items:
            type: string
        amenities:
          type: array
          example:
          - Lumper services
          - Drivers restroom
          - Overnight parking
          - Free Wi-Fi
          items:
            type: string
            enum:
            - Lumper services
            - Drivers restroom
            - Overnight parking
            - Free Wi-Fi
        ppeRequirements:
          type: array
          example:
          - Face Mask
          - Safety Glasses
          - Hard Hat
          - Safety Boots
          - Gloves
          - High Visibility Vest
          - Long Pants
          - Long Sleeves
          - No Smoking
          - Hair and Beard Net
          items:
            type: string
            enum:
            - Face Mask
            - Safety Glasses
            - Hard Hat
            - Safety Boots
            - Gloves
            - High Visibility Vest
            - Long Pants
            - Long Sleeves
            - No Smoking
            - Hair and Beard Net
        intervalTrimForCarriers:
          type: number
        customBookingUrl:
          type: string
      required:
      - id
      - createDateTime
      - createdBy
      - lastChangedDateTime
      - schedule
      - amenities
      - ppeRequirements
    Appointment:
      type: object
      properties:
        id:
          type: string
          description: The unique identifier of the record
          example: a0e1f2c3-d4e5-6f7g-8h9i-j0k1l2m3n4o5
          readOnly: true
        createDateTime:
          format: date-time
          type: string
          description: The date and time when the record was created
          example: '2023-10-01T12:00:00Z'
          readOnly: true
        createdBy:
          type: object
          description: The ID of the user who created the record
          example: a0e1f2c3-d4e5-6f7g-8h9i-j0k1l2m3n4o5
          readOnly: true
        lastChangedDateTime:
          format: date-time
          type: string
          description: The date and time when the record was last changed
          example: '2023-10-01T12:00:00Z'
          readOnly: true
        type:
          type: string
          enum:
          - Standard
          - Reserve
        status:
          type: string
          enum:
          - NoShow
          - Cancelled
          - Requested
          - Scheduled
          - Arrived
          - InProgress
          - Completed
        user:
          $ref: '#/components/schemas/User'
        userId:
          type: object
        loadType:
          type: LoadType
        loadTypeId:
          type: string
        dock:
          type: Dock
        org:
          type: Org
        orgId:
          type: string
        end:
          format: date-time
          type: string
        eta:
          format: date-time
          type: string
        refNumber:
          type: string
        refNumbers:
          type: array
          items:
            type: string
        customFields:
          type: array
          items:
            type: string
        notes:
          type: object
        ccEmails:
          type: array
          items:
            type: string
        recurringParentId:
          type: string
        recurringParent:
          $ref: '#/components/schemas/Appointment'
        recurringChildren:
          $ref: '#/components/schemas/Appointment'
        recurringPattern:
          type: object
        reschedules:
          type: array
          items:
            type: string
        muteNotifications:
          type: boolean
        isCheckedInByCarrier:
          type: boolean
      required:
      - id
      - createDateTime
      - createdBy
      - lastChangedDateTime
    ScheduleDto:
      type: object
      properties:
        sunday:
          type: array
          items:
            $ref: '#/components/schemas/ClockSpan'
        monday:
          type: array
          items:
            $ref: '#/components/schemas/ClockSpan'
        tuesday:
          type: array
          items:
            $ref: '#/components/schemas/ClockSpan'
        wednesday:
          type: array
          items:
            $ref: '#/components/schemas/ClockSpan'
        thursday:
          type: array
          items:
            $ref: '#/components/schemas/ClockSpan'
        friday:
          type: array
          items:
            $ref: '#/components/schemas/ClockSpan'
        saturday:
          type: array
          items:
            $ref: '#/components/schemas/ClockSpan'
        version:
          type: number
          example: 1
        closedIntervals:
          type: array
          items:
            $ref: '#/components/schemas/TimeInterval'
      required:
      - sunday
      - monday
      - tuesday
      - wednesday
      - thursday
      - friday
      - saturday
      - version
      - closedIntervals
    Org:
      type: object
      properties:
        id:
          type: string
          description: The unique identifier of the record
          example: a0e1f2c3-d4e5-6f7g-8h9i-j0k1l2m3n4o5
          readOnly: true
        createDateTime:
          format: date-time
          type: string
          description: The date and time when the record was created
          example: '2023-10-01T12:00:00Z'
          readOnly: true
        createdBy:
          type: object
          description: The ID of the user who created the record
          example: a0e1f2c3-d4e5-6f7g-8h9i-j0k1l2m3n4o5
          readOnly: true
        lastChangedDateTime:
          format: date-time
          type: string
          description: The date and time when the record was last changed
          example: '2023-10-01T12:00:00Z'
          readOnly: true
        warehouses:
          type: array
          items:
            $ref: '#/components/schemas/Warehouse'
        reportSearches:
          type: object
        customTags:
          type: array
          items:
            type: string
        samlConfig:
          type: object
        orgType:
          type: string
          enum:
          - Trial
          - Test
          - Client
        expiresAt:
          format: date-time
          type: string
      required:
      - id
      - createDateTime
      - createdBy
      - lastChangedDateTime
    CustomFieldTemplateDto:
      type: object
      properties:
        semanticLabelId:
          type: object
          format: uuid
          description: Semantic label id (FK to semanticlabel)
        type:
          type: string
          enum:
          - str
          - bigstr
          - date
          - bool
          - doc
          - multidoc
          - int
          - email
          - phone
          - dropdown
          - dropdownmultiselect
          - combobox
          - timestamp
          - action
      required:
      - type
    ChangePasswordDto:
      type: object
      properties: {}
    PaginatedDto:
      type: object
      properties:
        count:
          type: number
          example: 2
        total:
          type: number
          example: 2
        page:
          type: number
          example: 1
        pageCount:
          type: number
          example: 1
        action:
          type: string
          example: read
        entity:
          type: string
          example: Appointment
        data:
          type: array
          items:
            type: string
      required:
      - count
      - total
      - page
      - pageCount
      - action
      - entity
      - data
    TimeInterval:
      type: object
      properties:
        end:
          format: date-time
          type: string
        start:
          format: date-time
          type: string
      required:
      - end
      - start
    InviteDto:
      type: object
      properties: {}
    OrgCarrierSettings:
      type: object
      properties:
        id:
          type: string
          description: The unique identifier of the record
          example: a0e1f2c3-d4e5-6f7g-8h9i-j0k1l2m3n4o5
          readOnly: true
        createDateTime:
          format: date-time
          type: string
          description: The date and time when the record was created
          example: '2023-10-01T12:00:00Z'
          readOnly: true
        createdBy:
          type: object
          description: The ID of the user who created the record
          example: a0e1f2c3-d4e5-6f7g-8h9i-j0k1l2m3n4o5
          readOnly: true
        lastChangedDateTime:
          format: date-time
          type: string
          description: The date and time when the record was last changed
          example: '2023-10-01T12:00:00Z'
          readOnly: true
        org:
          $ref: '#/components/schemas/Org'
        orgId:
          type: string
        user:
          $ref: '#/components/schemas/User'
        userId:
          type: string
        favoriteWarehouseIds:
          type: array
          items:
            type: string
      required:
      - id
      - createDateTime
      - createdBy
      - lastChangedDateTime
  securitySchemes:
    bearer:
      scheme: bearer
      bearerFormat: JWT
      type: http
