openapi: 3.2.0
info:
  title: Opendock Nova API Documentation Warehouses API
  description: '## Welcome to Opendock Nova!'
  version: v4.144.0 - 39b4253
  contact: {}
servers:
- url: https://neutron.opendock.com
  description: Production Server
- url: https://neutron.staging.opendock.com
  description: Staging Server
tags:
- name: Warehouses
paths:
  /warehouse/{id}:
    get:
      operationId: getOneBaseWarehouseControllerWarehouse
      summary: Retrieve a single Warehouse
      parameters:
      - name: id
        required: true
        in: path
        schema:
          type: string
      - name: fields
        description: Selects resource fields. <a href="https://github.com/nestjsx/crud/wiki/Requests#select" target="_blank">Docs</a>
        required: false
        in: query
        schema:
          type: array
          items:
            type: string
        style: form
        explode: false
      - name: join
        description: Adds relational resources. <a href="https://github.com/nestjsx/crud/wiki/Requests#join" target="_blank">Docs</a>
        required: false
        in: query
        schema:
          type: array
          items:
            type: string
        style: form
        explode: true
      - name: cache
        description: Reset cache (if was enabled). <a href="https://github.com/nestjsx/crud/wiki/Requests#cache" target="_blank">Docs</a>
        required: false
        in: query
        schema:
          type: integer
          minimum: 0
          maximum: 1
      responses:
        '200':
          description: ''
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Warehouse'
      tags:
      - Warehouses
      security:
      - bearer: []
    patch:
      operationId: updateOneBaseWarehouseControllerWarehouse
      summary: Update a single Warehouse
      parameters:
      - name: id
        required: true
        in: path
        schema:
          type: string
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/UpdateWarehouseDto'
      responses:
        '200':
          description: Response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Warehouse'
      tags:
      - Warehouses
      security:
      - bearer: []
    delete:
      operationId: deleteOneBaseWarehouseControllerWarehouse
      summary: Delete a single Warehouse
      parameters:
      - name: id
        required: true
        in: path
        schema:
          type: string
      responses:
        '200':
          description: Delete one base response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Warehouse'
      tags:
      - Warehouses
      security:
      - bearer: []
  /warehouse:
    get:
      operationId: getManyBaseWarehouseControllerWarehouse
      summary: Retrieve multiple Warehouses
      parameters:
      - name: fields
        description: Selects resource fields. <a href="https://github.com/nestjsx/crud/wiki/Requests#select" target="_blank">Docs</a>
        required: false
        in: query
        schema:
          type: array
          items:
            type: string
        style: form
        explode: false
      - name: s
        description: Adds search condition. <a href="https://github.com/nestjsx/crud/wiki/Requests#search" target="_blank">Docs</a>
        required: false
        in: query
        schema:
          type: string
      - name: filter
        description: Adds filter condition. <a href="https://github.com/nestjsx/crud/wiki/Requests#filter" target="_blank">Docs</a>
        required: false
        in: query
        schema:
          type: array
          items:
            type: string
        style: form
        explode: true
      - name: or
        description: Adds OR condition. <a href="https://github.com/nestjsx/crud/wiki/Requests#or" target="_blank">Docs</a>
        required: false
        in: query
        schema:
          type: array
          items:
            type: string
        style: form
        explode: true
      - name: sort
        description: Adds sort by field. <a href="https://github.com/nestjsx/crud/wiki/Requests#sort" target="_blank">Docs</a>
        required: false
        in: query
        schema:
          type: array
          items:
            type: string
        style: form
        explode: true
      - name: join
        description: Adds relational resources. <a href="https://github.com/nestjsx/crud/wiki/Requests#join" target="_blank">Docs</a>
        required: false
        in: query
        schema:
          type: array
          items:
            type: string
        style: form
        explode: true
      - name: limit
        description: Limit amount of resources. <a href="https://github.com/nestjsx/crud/wiki/Requests#limit" target="_blank">Docs</a>
        required: false
        in: query
        schema:
          type: integer
      - name: offset
        description: Offset amount of resources. <a href="https://github.com/nestjsx/crud/wiki/Requests#offset" target="_blank">Docs</a>
        required: false
        in: query
        schema:
          type: integer
      - name: page
        description: Page portion of resources. <a href="https://github.com/nestjsx/crud/wiki/Requests#page" target="_blank">Docs</a>
        required: false
        in: query
        schema:
          type: integer
      - name: cache
        description: Reset cache (if was enabled). <a href="https://github.com/nestjsx/crud/wiki/Requests#cache" target="_blank">Docs</a>
        required: false
        in: query
        schema:
          type: integer
          minimum: 0
          maximum: 1
      responses:
        '200':
          description: ''
          content:
            application/json:
              schema:
                allOf:
                - $ref: '#/components/schemas/PaginatedDto'
                - properties:
                    entity:
                      type: string
                      example: Warehouse
                    data:
                      type: array
                      items:
                        $ref: '#/components/schemas/Warehouse'
      tags:
      - Warehouses
      security:
      - bearer: []
    post:
      operationId: createOneBaseWarehouseControllerWarehouse
      summary: Create a single Warehouse
      description: '**This is a billable event.** Creating a new warehouse implies additional subscription costs. Please reach out to your CSA for more information.'
      parameters: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CreateWarehouseDto'
      responses:
        '201':
          description: Get create one base response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Warehouse'
      tags:
      - Warehouses
      security:
      - bearer: []
  /warehouse/{id}/custom-forms:
    patch:
      operationId: WarehouseController_updateLoadTypesCustomForms
      summary: Update custom forms for load types
      description: 'Updates existing custom forms'' names and their associations with load types.


        This endpoint allows you to:

        - Modify the display name of custom forms

        - Change which load types trigger these forms

        - Update form visibility settings


        For Delete a loadtype custom form, please refer to custom-forms/flow endpoint sending the flowId to delete all related flows/forms.

        Note: To modify the fields within forms, use the ''/custom-forms/form-field'' endpoint.'
      parameters:
      - name: id
        required: true
        in: path
        schema:
          type: string
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/UpdateLoadTypesCustomFormsDto'
      responses:
        '200':
          description: Custom forms successfully updated
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/'
      tags:
      - Warehouses
      security:
      - bearer: []
    post:
      operationId: WarehouseController_createLoadTypesCustomForms
      summary: Create custom forms for load types
      description: 'This endpoint creates custom forms that are triggered when appointments are booked with specific load types.


        The system will generate three forms:

        - One for the Warehouse App

        - One for the Carrier App

        - One for all platforms, including API integrations


        Initially, forms are created without fields. After creation, you must configure the form fields using the ''/custom-forms/form-field'' endpoint.


        For complete form management, refer to the Custom Forms section, starting with the ''/custom-forms/trigger'' endpoint.'
      parameters:
      - name: id
        required: true
        in: path
        schema:
          type: string
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CreateLoadTypesCustomFormsDto'
      responses:
        '200':
          description: ''
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/'
      tags:
      - Warehouses
      security:
      - bearer: []
  /warehouse/{id}/get-hours-of-operation:
    post:
      operationId: WarehouseController_getHOOPs
      summary: Get open hours for set of docks in the warehouse
      description: 'This endpoint will return an array of docks and their computed open hours taking into consideration

        closed days and the warehouse hours.


        If dockIds are supplied, then it will filter the returned array down to those docks.


        This will always return a full weeks worth of hours around the start/end dates provided.'
      parameters:
      - name: id
        required: true
        in: path
        schema:
          type: string
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/GetHoursOfOperationDto'
      responses:
        '200':
          description: ''
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/DockHoursOfOperation'
      tags:
      - Warehouses
      security:
      - bearer: []
components:
  schemas:
    ClockSpan:
      type: object
      properties:
        end:
          type: string
          example: '18:00'
        start:
          type: string
          example: 06:00
      required:
      - end
      - start
    UpdateLoadTypesCustomFormsDto:
      type: object
      properties:
        parentCode:
          type: string
          description: The parent code of the form, used to group forms together, generated by the API, cannot be changed!
          example: acfb1234-5678-90ab-cdef-1234567890ab
          readOnly: true
        loadTypeIds:
          description: The list of load type ids that this form will be used for
          example:
          - a0e1f2c3-d4e5-6f7g-8h9i-j0k1l2m3n4o5
          type: array
          items:
            type: array
        formName:
          type: string
          description: The name of the form
          example: Load Type Form
      required:
      - parentCode
    ScheduleDto:
      type: object
      properties:
        sunday:
          type: array
          items:
            $ref: '#/components/schemas/ClockSpan'
        monday:
          type: array
          items:
            $ref: '#/components/schemas/ClockSpan'
        tuesday:
          type: array
          items:
            $ref: '#/components/schemas/ClockSpan'
        wednesday:
          type: array
          items:
            $ref: '#/components/schemas/ClockSpan'
        thursday:
          type: array
          items:
            $ref: '#/components/schemas/ClockSpan'
        friday:
          type: array
          items:
            $ref: '#/components/schemas/ClockSpan'
        saturday:
          type: array
          items:
            $ref: '#/components/schemas/ClockSpan'
        version:
          type: number
          example: 1
        closedIntervals:
          type: array
          items:
            $ref: '#/components/schemas/TimeInterval'
      required:
      - sunday
      - monday
      - tuesday
      - wednesday
      - thursday
      - friday
      - saturday
      - version
      - closedIntervals
    Warehouse:
      type: object
      properties:
        id:
          type: string
          description: The unique identifier of the record
          example: a0e1f2c3-d4e5-6f7g-8h9i-j0k1l2m3n4o5
          readOnly: true
        createDateTime:
          format: date-time
          type: string
          description: The date and time when the record was created
          example: '2023-10-01T12:00:00Z'
          readOnly: true
        createdBy:
          type: object
          description: The ID of the user who created the record
          example: a0e1f2c3-d4e5-6f7g-8h9i-j0k1l2m3n4o5
          readOnly: true
        lastChangedDateTime:
          format: date-time
          type: string
          description: The date and time when the record was last changed
          example: '2023-10-01T12:00:00Z'
          readOnly: true
        schedule:
          $ref: '#/components/schemas/ScheduleDto'
        country:
          type: string
        timezone:
          type: string
        docks:
          type: Dock
        loadTypes:
          type: LoadType
        org:
          type: Warehouse
        orgId:
          type: string
        contactName:
          type: string
        phone:
          type: string
        email:
          type: string
        notes:
          type: string
        instructions:
          type: string
        customApptFieldsTemplate:
          type: array
          items:
            $ref: '#/components/schemas/CustomFieldTemplateDto'
        refNumberValidationVersion:
          type: string
          enum:
          - V1
          - V2
        refNumberValidationUrl:
          type: string
        refNumberValidationPasscode:
          type: string
        settings:
          type: object
        allowCarrierScheduling:
          type: boolean
        geolocation:
          type: object
        ccEmails:
          type: array
          items:
            type: string
        amenities:
          type: array
          example:
          - Lumper services
          - Drivers restroom
          - Overnight parking
          - Free Wi-Fi
          items:
            type: string
            enum:
            - Lumper services
            - Drivers restroom
            - Overnight parking
            - Free Wi-Fi
        ppeRequirements:
          type: array
          example:
          - Face Mask
          - Safety Glasses
          - Hard Hat
          - Safety Boots
          - Gloves
          - High Visibility Vest
          - Long Pants
          - Long Sleeves
          - No Smoking
          - Hair and Beard Net
          items:
            type: string
            enum:
            - Face Mask
            - Safety Glasses
            - Hard Hat
            - Safety Boots
            - Gloves
            - High Visibility Vest
            - Long Pants
            - Long Sleeves
            - No Smoking
            - Hair and Beard Net
        intervalTrimForCarriers:
          type: number
        customBookingUrl:
          type: string
      required:
      - id
      - createDateTime
      - createdBy
      - lastChangedDateTime
      - schedule
      - amenities
      - ppeRequirements
    CreateWarehouseDto:
      type: object
      properties:
        tags:
          type: object
        name:
          type: string
        facilityNumber:
          type: string
        country:
          type: string
        timezone:
          type: string
        schedule:
          $ref: '#/components/schemas/ScheduleDto'
        contactName:
          type: object
        phone:
          type: string
        email:
          type: object
        notes:
          type: object
        instructions:
          type: object
        customApptFieldsTemplate:
          type: array
          items:
            $ref: '#/components/schemas/CustomFieldTemplateDto'
        refNumberValidationVersion:
          type: string
          enum:
          - V1
          - V2
        refNumberValidationUrl:
          type: string
        refNumberValidationPasscode:
          type: string
        settings:
          type: object
        allowCarrierScheduling:
          type: boolean
        ccEmails:
          type: array
          items:
            type: string
        amenities:
          type: array
          example:
          - Lumper services
          - Drivers restroom
          - Overnight parking
          - Free Wi-Fi
          items:
            type: string
            enum:
            - Lumper services
            - Drivers restroom
            - Overnight parking
            - Free Wi-Fi
        ppeRequirements:
          type: array
          example:
          - Face Mask
          - Safety Glasses
          - Hard Hat
          - Safety Boots
          - Gloves
          - High Visibility Vest
          - Long Pants
          - Long Sleeves
          - No Smoking
          - Hair and Beard Net
          items:
            type: string
            enum:
            - Face Mask
            - Safety Glasses
            - Hard Hat
            - Safety Boots
            - Gloves
            - High Visibility Vest
            - Long Pants
            - Long Sleeves
            - No Smoking
            - Hair and Beard Net
        intervalTrimForCarriers:
          type: number
        customBookingUrl:
          type: string
      required:
      - name
    CustomFieldTemplateDto:
      type: object
      properties:
        semanticLabelId:
          type: object
          format: uuid
          description: Semantic label id (FK to semanticlabel)
        type:
          type: string
          enum:
          - str
          - bigstr
          - date
          - bool
          - doc
          - multidoc
          - int
          - email
          - phone
          - dropdown
          - dropdownmultiselect
          - combobox
          - timestamp
          - action
      required:
      - type
    TimeInterval:
      type: object
      properties:
        end:
          format: date-time
          type: string
        start:
          format: date-time
          type: string
      required:
      - end
      - start
    DockHoursOfOperation:
      type: object
      properties:
        openIntervals:
          type: array
          items:
            $ref: '#/components/schemas/TimeInterval'
      required:
      - openIntervals
    GetHoursOfOperationDto:
      type: object
      properties:
        start:
          format: date-time
          type: string
          example: '2026-05-24T19:16:46.221Z'
        end:
          format: date-time
          type: string
          example: '2026-05-24T19:16:46.221Z'
      required:
      - start
      - end
    PaginatedDto:
      type: object
      properties:
        count:
          type: number
          example: 2
        total:
          type: number
          example: 2
        page:
          type: number
          example: 1
        pageCount:
          type: number
          example: 1
        action:
          type: string
          example: read
        entity:
          type: string
          example: Appointment
        data:
          type: array
          items:
            type: string
      required:
      - count
      - total
      - page
      - pageCount
      - action
      - entity
      - data
    CreateLoadTypesCustomFormsDto:
      type: object
      properties:
        loadTypeIds:
          description: The list of load type ids that this form will be used for
          example:
          - a0e1f2c3-d4e5-6f7g-8h9i-j0k1l2m3n4o5
          type: array
          items:
            type: array
        formName:
          type: string
          description: The name of the form
          example: Load Type Form
        formDescription:
          type: string
          description: Extra description of the form
          example: This form is used to collect information about the load type
      required:
      - loadTypeIds
      - formName
    UpdateWarehouseDto:
      type: object
      properties:
        tags:
          type: object
        name:
          type: string
        facilityNumber:
          type: string
        country:
          type: string
        timezone:
          type: string
        schedule:
          $ref: '#/components/schemas/ScheduleDto'
        contactName:
          type: object
        phone:
          type: string
        email:
          type: object
        notes:
          type: object
        instructions:
          type: object
        customApptFieldsTemplate:
          type: array
          items:
            $ref: '#/components/schemas/CustomFieldTemplateDto'
        refNumberValidationVersion:
          type: string
          enum:
          - V1
          - V2
        refNumberValidationUrl:
          type: string
        refNumberValidationPasscode:
          type: string
        settings:
          type: object
        allowCarrierScheduling:
          type: boolean
        ccEmails:
          type: array
          items:
            type: string
        amenities:
          type: array
          example:
          - Lumper services
          - Drivers restroom
          - Overnight parking
          - Free Wi-Fi
          items:
            type: string
            enum:
            - Lumper services
            - Drivers restroom
            - Overnight parking
            - Free Wi-Fi
        ppeRequirements:
          type: array
          example:
          - Face Mask
          - Safety Glasses
          - Hard Hat
          - Safety Boots
          - Gloves
          - High Visibility Vest
          - Long Pants
          - Long Sleeves
          - No Smoking
          - Hair and Beard Net
          items:
            type: string
            enum:
            - Face Mask
            - Safety Glasses
            - Hard Hat
            - Safety Boots
            - Gloves
            - High Visibility Vest
            - Long Pants
            - Long Sleeves
            - No Smoking
            - Hair and Beard Net
        intervalTrimForCarriers:
          type: number
        customBookingUrl:
          type: string
        street:
          type: string
        city:
          type: string
        state:
          type: string
        zip:
          type: string
  securitySchemes:
    bearer:
      scheme: bearer
      bearerFormat: JWT
      type: http
