openapi: 3.2.0
info:
  title: Opendock Nova API Documentation Docks API
  description: '## Welcome to Opendock Nova!'
  version: v4.144.0 - 39b4253
  contact: {}
servers:
- url: https://neutron.opendock.com
  description: Production Server
- url: https://neutron.staging.opendock.com
  description: Staging Server
tags:
- name: Docks
paths:
  /dock:
    post:
      operationId: createOneBaseDockControllerDock
      summary: Create a single Dock
      parameters: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CreateDockDto'
      responses:
        '201':
          description: Get create one base response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Dock'
        default:
          description: ''
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Dock'
      tags:
      - Docks
      security:
      - bearer: []
    get:
      operationId: getManyBaseDockControllerDock
      summary: Retrieve multiple Docks
      parameters:
      - name: fields
        description: Selects resource fields. <a href="https://github.com/nestjsx/crud/wiki/Requests#select" target="_blank">Docs</a>
        required: false
        in: query
        schema:
          type: array
          items:
            type: string
        style: form
        explode: false
      - name: s
        description: Adds search condition. <a href="https://github.com/nestjsx/crud/wiki/Requests#search" target="_blank">Docs</a>
        required: false
        in: query
        schema:
          type: string
      - name: filter
        description: Adds filter condition. <a href="https://github.com/nestjsx/crud/wiki/Requests#filter" target="_blank">Docs</a>
        required: false
        in: query
        schema:
          type: array
          items:
            type: string
        style: form
        explode: true
      - name: or
        description: Adds OR condition. <a href="https://github.com/nestjsx/crud/wiki/Requests#or" target="_blank">Docs</a>
        required: false
        in: query
        schema:
          type: array
          items:
            type: string
        style: form
        explode: true
      - name: sort
        description: Adds sort by field. <a href="https://github.com/nestjsx/crud/wiki/Requests#sort" target="_blank">Docs</a>
        required: false
        in: query
        schema:
          type: array
          items:
            type: string
        style: form
        explode: true
      - name: join
        description: Adds relational resources. <a href="https://github.com/nestjsx/crud/wiki/Requests#join" target="_blank">Docs</a>
        required: false
        in: query
        schema:
          type: array
          items:
            type: string
        style: form
        explode: true
      - name: limit
        description: Limit amount of resources. <a href="https://github.com/nestjsx/crud/wiki/Requests#limit" target="_blank">Docs</a>
        required: false
        in: query
        schema:
          type: integer
      - name: offset
        description: Offset amount of resources. <a href="https://github.com/nestjsx/crud/wiki/Requests#offset" target="_blank">Docs</a>
        required: false
        in: query
        schema:
          type: integer
      - name: page
        description: Page portion of resources. <a href="https://github.com/nestjsx/crud/wiki/Requests#page" target="_blank">Docs</a>
        required: false
        in: query
        schema:
          type: integer
      - name: cache
        description: Reset cache (if was enabled). <a href="https://github.com/nestjsx/crud/wiki/Requests#cache" target="_blank">Docs</a>
        required: false
        in: query
        schema:
          type: integer
          minimum: 0
          maximum: 1
      responses:
        '200':
          description: ''
          content:
            application/json:
              schema:
                allOf:
                - $ref: '#/components/schemas/PaginatedDto'
                - properties:
                    entity:
                      type: string
                      example: Dock
                    data:
                      type: array
                      items:
                        $ref: '#/components/schemas/Dock'
      tags:
      - Docks
      security:
      - bearer: []
  /dock/{id}:
    patch:
      operationId: updateOneBaseDockControllerDock
      summary: Update a single Dock
      parameters:
      - name: id
        required: true
        in: path
        schema:
          type: string
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/UpdateDockDto'
      responses:
        '200':
          description: ''
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Dock'
      tags:
      - Docks
      security:
      - bearer: []
    delete:
      operationId: deleteOneBaseDockControllerDock
      summary: Delete a single Dock
      parameters:
      - name: id
        required: true
        in: path
        schema:
          type: string
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/DeleteDockDto'
      responses:
        '200':
          description: ''
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Dock'
      tags:
      - Docks
      security:
      - bearer: []
    get:
      operationId: getOneBaseDockControllerDock
      summary: Retrieve a single Dock
      parameters:
      - name: id
        required: true
        in: path
        schema:
          type: string
      - name: fields
        description: Selects resource fields. <a href="https://github.com/nestjsx/crud/wiki/Requests#select" target="_blank">Docs</a>
        required: false
        in: query
        schema:
          type: array
          items:
            type: string
        style: form
        explode: false
      - name: join
        description: Adds relational resources. <a href="https://github.com/nestjsx/crud/wiki/Requests#join" target="_blank">Docs</a>
        required: false
        in: query
        schema:
          type: array
          items:
            type: string
        style: form
        explode: true
      - name: cache
        description: Reset cache (if was enabled). <a href="https://github.com/nestjsx/crud/wiki/Requests#cache" target="_blank">Docs</a>
        required: false
        in: query
        schema:
          type: integer
          minimum: 0
          maximum: 1
      responses:
        '200':
          description: ''
          content:
            application/json:
              schema:
                allOf:
                - $ref: '#/components/schemas/CrudOperationDto'
                - properties:
                    entity:
                      type: string
                      example: Dock
                    data:
                      type: array
                      items:
                        $ref: '#/components/schemas/Dock'
      tags:
      - Docks
      security:
      - bearer: []
  /dock/sort:
    post:
      operationId: DockController_updateSort
      summary: Save the sort order of an array of docks
      parameters: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: array
              items:
                $ref: '#/components/schemas/DockSortDto'
      responses:
        '200':
          description: ''
          content:
            application/json:
              schema:
                allOf:
                - $ref: '#/components/schemas/CrudOperationDto'
                - properties:
                    entity:
                      type: string
                      example: Dock
                    data:
                      type: array
                      items:
                        $ref: '#/components/schemas/DockSortResponseDto'
      tags:
      - Docks
      security:
      - bearer: []
  /dock/{id}/compute-availability:
    post:
      operationId: DockController_availability
      parameters:
      - name: id
        required: true
        in: path
        schema:
          type: string
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/AvailabilityDto'
      responses:
        '200':
          description: ''
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AvailabilityResponseDto'
      tags:
      - Docks
      security:
      - bearer: []
      summary: Dock controller availability
      x-summary-source: derived
  /dock/{id}/get-availability:
    post:
      operationId: DockController_availability
      parameters:
      - name: id
        required: true
        in: path
        schema:
          type: string
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/AvailabilityDto'
      responses:
        '200':
          description: ''
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AvailabilityResponseDto'
      tags:
      - Docks
      security:
      - bearer: []
      summary: Dock controller availability
      x-summary-source: derived
  /dock/compute-open-dates:
    post:
      operationId: DockController_openDates
      parameters: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/OpenDatesDto'
      responses:
        '200':
          description: ''
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/OpenDatesResponseDto'
      tags:
      - Docks
      security:
      - bearer: []
      summary: Dock controller open dates
      x-summary-source: derived
  /dock/{id}/capacity:
    post:
      operationId: DockController_createCapacityChildDock
      summary: Creates a child "Capacity Dock" linked to this Dock
      parameters:
      - name: id
        required: true
        in: path
        schema:
          type: string
      responses:
        '200':
          description: ''
          content:
            application/json:
              schema:
                allOf:
                - $ref: '#/components/schemas/CrudOperationDto'
                - properties:
                    entity:
                      type: string
                      example: Dock
                    data:
                      type: array
                      items:
                        $ref: '#/components/schemas/Dock'
      tags:
      - Docks
      security:
      - bearer: []
  /dock/{id}/capacity/{childId}:
    delete:
      operationId: DockController_unlinkCapacityDock
      summary: Unlinks a child "Capacity Dock" from its parent Dock
      parameters:
      - name: id
        required: true
        in: path
        schema:
          type: string
      - name: childId
        required: true
        in: path
        schema:
          type: string
      responses:
        '200':
          description: ''
          content:
            application/json:
              schema:
                allOf:
                - $ref: '#/components/schemas/PaginatedDto'
                - properties:
                    entity:
                      type: string
                      example: Dock
                    data:
                      type: array
                      items:
                        $ref: '#/components/schemas/Dock'
      tags:
      - Docks
      security:
      - bearer: []
components:
  schemas:
    AvailabilityDto:
      type: object
      properties:
        start:
          format: date-time
          type: string
          example: '2026-05-24T19:16:46.221Z'
        end:
          format: date-time
          type: string
          example: '2026-05-24T19:16:46.221Z'
      required:
      - start
      - end
    DockSortDto:
      type: object
      properties:
        id:
          type: string
        sortOrder:
          type: number
      required:
      - id
      - sortOrder
    ClockSpan:
      type: object
      properties:
        end:
          type: string
          example: '18:00'
        start:
          type: string
          example: 06:00
      required:
      - end
      - start
    OpenDatesResponseDto:
      type: object
      properties:
        openDates:
          example:
          - '2023-02-01'
          - '2023-02-02'
          - '2023-02-03'
          type: array
          items:
            type: string
      required:
      - openDates
    DockSortResponseDto:
      type: object
      properties:
        generatedMaps:
          type: array
          items:
            type: string
        raw:
          type: array
          items:
            type: string
        affected:
          type: number
          example: 1
      required:
      - generatedMaps
      - raw
      - affected
    ScheduleDto:
      type: object
      properties:
        sunday:
          type: array
          items:
            $ref: '#/components/schemas/ClockSpan'
        monday:
          type: array
          items:
            $ref: '#/components/schemas/ClockSpan'
        tuesday:
          type: array
          items:
            $ref: '#/components/schemas/ClockSpan'
        wednesday:
          type: array
          items:
            $ref: '#/components/schemas/ClockSpan'
        thursday:
          type: array
          items:
            $ref: '#/components/schemas/ClockSpan'
        friday:
          type: array
          items:
            $ref: '#/components/schemas/ClockSpan'
        saturday:
          type: array
          items:
            $ref: '#/components/schemas/ClockSpan'
        version:
          type: number
          example: 1
        closedIntervals:
          type: array
          items:
            $ref: '#/components/schemas/TimeInterval'
      required:
      - sunday
      - monday
      - tuesday
      - wednesday
      - thursday
      - friday
      - saturday
      - version
      - closedIntervals
    Warehouse:
      type: object
      properties:
        id:
          type: string
          description: The unique identifier of the record
          example: a0e1f2c3-d4e5-6f7g-8h9i-j0k1l2m3n4o5
          readOnly: true
        createDateTime:
          format: date-time
          type: string
          description: The date and time when the record was created
          example: '2023-10-01T12:00:00Z'
          readOnly: true
        createdBy:
          type: object
          description: The ID of the user who created the record
          example: a0e1f2c3-d4e5-6f7g-8h9i-j0k1l2m3n4o5
          readOnly: true
        lastChangedDateTime:
          format: date-time
          type: string
          description: The date and time when the record was last changed
          example: '2023-10-01T12:00:00Z'
          readOnly: true
        schedule:
          $ref: '#/components/schemas/ScheduleDto'
        country:
          type: string
        timezone:
          type: string
        docks:
          type: Dock
        loadTypes:
          type: LoadType
        org:
          type: Warehouse
        orgId:
          type: string
        contactName:
          type: string
        phone:
          type: string
        email:
          type: string
        notes:
          type: string
        instructions:
          type: string
        customApptFieldsTemplate:
          type: array
          items:
            $ref: '#/components/schemas/CustomFieldTemplateDto'
        refNumberValidationVersion:
          type: string
          enum:
          - V1
          - V2
        refNumberValidationUrl:
          type: string
        refNumberValidationPasscode:
          type: string
        settings:
          type: object
        allowCarrierScheduling:
          type: boolean
        geolocation:
          type: object
        ccEmails:
          type: array
          items:
            type: string
        amenities:
          type: array
          example:
          - Lumper services
          - Drivers restroom
          - Overnight parking
          - Free Wi-Fi
          items:
            type: string
            enum:
            - Lumper services
            - Drivers restroom
            - Overnight parking
            - Free Wi-Fi
        ppeRequirements:
          type: array
          example:
          - Face Mask
          - Safety Glasses
          - Hard Hat
          - Safety Boots
          - Gloves
          - High Visibility Vest
          - Long Pants
          - Long Sleeves
          - No Smoking
          - Hair and Beard Net
          items:
            type: string
            enum:
            - Face Mask
            - Safety Glasses
            - Hard Hat
            - Safety Boots
            - Gloves
            - High Visibility Vest
            - Long Pants
            - Long Sleeves
            - No Smoking
            - Hair and Beard Net
        intervalTrimForCarriers:
          type: number
        customBookingUrl:
          type: string
      required:
      - id
      - createDateTime
      - createdBy
      - lastChangedDateTime
      - schedule
      - amenities
      - ppeRequirements
    OpenDatesDto:
      type: object
      properties:
        start:
          format: date-time
          type: string
          example: '2026-05-24T19:16:46.221Z'
        end:
          format: date-time
          type: string
          example: '2026-05-24T19:16:46.221Z'
      required:
      - start
      - end
    Org:
      type: object
      properties:
        id:
          type: string
          description: The unique identifier of the record
          example: a0e1f2c3-d4e5-6f7g-8h9i-j0k1l2m3n4o5
          readOnly: true
        createDateTime:
          format: date-time
          type: string
          description: The date and time when the record was created
          example: '2023-10-01T12:00:00Z'
          readOnly: true
        createdBy:
          type: object
          description: The ID of the user who created the record
          example: a0e1f2c3-d4e5-6f7g-8h9i-j0k1l2m3n4o5
          readOnly: true
        lastChangedDateTime:
          format: date-time
          type: string
          description: The date and time when the record was last changed
          example: '2023-10-01T12:00:00Z'
          readOnly: true
        warehouses:
          type: array
          items:
            $ref: '#/components/schemas/Warehouse'
        reportSearches:
          type: object
        customTags:
          type: array
          items:
            type: string
        samlConfig:
          type: object
        orgType:
          type: string
          enum:
          - Trial
          - Test
          - Client
        expiresAt:
          format: date-time
          type: string
      required:
      - id
      - createDateTime
      - createdBy
      - lastChangedDateTime
    CustomFieldTemplateDto:
      type: object
      properties:
        semanticLabelId:
          type: object
          format: uuid
          description: Semantic label id (FK to semanticlabel)
        type:
          type: string
          enum:
          - str
          - bigstr
          - date
          - bool
          - doc
          - multidoc
          - int
          - email
          - phone
          - dropdown
          - dropdownmultiselect
          - combobox
          - timestamp
          - action
      required:
      - type
    Dock:
      type: object
      properties:
        id:
          type: string
          description: The unique identifier of the record
          example: a0e1f2c3-d4e5-6f7g-8h9i-j0k1l2m3n4o5
          readOnly: true
        createDateTime:
          format: date-time
          type: string
          description: The date and time when the record was created
          example: '2023-10-01T12:00:00Z'
          readOnly: true
        createdBy:
          type: object
          description: The ID of the user who created the record
          example: a0e1f2c3-d4e5-6f7g-8h9i-j0k1l2m3n4o5
          readOnly: true
        lastChangedDateTime:
          format: date-time
          type: string
          description: The date and time when the record was last changed
          example: '2023-10-01T12:00:00Z'
          readOnly: true
        schedule:
          $ref: '#/components/schemas/ScheduleDto'
        org:
          $ref: '#/components/schemas/Org'
        orgId:
          type: string
        loadTypeIds:
          example:
          - Inbound-Dry-FTL
          - Outbound-Refridge-LTL
          type: array
          items:
            type: string
        instructions:
          type: string
        minCarrierLeadTime_hr:
          type: number
        minCarrierLeadTimeForUpdates_hr:
          type: number
        maxCarrierLeadTime_hr:
          type: number
        ccEmails:
          type: array
          items:
            type: string
        allowCarrierScheduling:
          type: boolean
        allowOverBooking:
          type: boolean
        capacityParent:
          $ref: '#/components/schemas/Dock'
        capacityChildren:
          $ref: '#/components/schemas/Dock'
        capacityParentId:
          type: string
        sortOrder:
          type: number
      required:
      - id
      - createDateTime
      - createdBy
      - lastChangedDateTime
      - schedule
      - loadTypeIds
    DeleteDockDto:
      type: object
      properties:
        hardDelete:
          type: boolean
    TimeInterval:
      type: object
      properties:
        end:
          format: date-time
          type: string
        start:
          format: date-time
          type: string
      required:
      - end
      - start
    PaginatedDto:
      type: object
      properties:
        count:
          type: number
          example: 2
        total:
          type: number
          example: 2
        page:
          type: number
          example: 1
        pageCount:
          type: number
          example: 1
        action:
          type: string
          example: read
        entity:
          type: string
          example: Appointment
        data:
          type: array
          items:
            type: string
      required:
      - count
      - total
      - page
      - pageCount
      - action
      - entity
      - data
    UpdateDockDto:
      type: object
      properties:
        tags:
          type: object
        doorNumber:
          type: string
        instructions:
          type: string
        minCarrierLeadTime_hr:
          type: number
        minCarrierLeadTimeForUpdates_hr:
          type: number
        maxCarrierLeadTime_hr:
          type: number
        ccEmails:
          type: array
          items:
            type: string
        allowCarrierScheduling:
          type: boolean
        allowOverBooking:
          type: boolean
        sortOrder:
          type: number
        settings:
          type: object
        schedule:
          $ref: '#/components/schemas/ScheduleDto'
        name:
          type: string
        warehouseId:
          type: string
        loadTypeIds:
          type: array
          items:
            type: string
    CrudOperationDto:
      type: object
      properties:
        action:
          type: string
          example: read
        entity:
          type: string
          example: Appointment
        data:
          type: array
          items:
            type: string
      required:
      - action
      - entity
      - data
    AvailabilityResponseDto:
      type: object
      properties: {}
    CreateDockDto:
      type: object
      properties:
        tags:
          type: object
        doorNumber:
          type: string
        instructions:
          type: string
        minCarrierLeadTime_hr:
          type: number
        minCarrierLeadTimeForUpdates_hr:
          type: number
        maxCarrierLeadTime_hr:
          type: number
        ccEmails:
          type: array
          items:
            type: string
        allowCarrierScheduling:
          type: boolean
        allowOverBooking:
          type: boolean
        sortOrder:
          type: number
        settings:
          type: object
        schedule:
          $ref: '#/components/schemas/ScheduleDto'
  securitySchemes:
    bearer:
      scheme: bearer
      bearerFormat: JWT
      type: http
